:root {

	--llms-primary: #262626;
	--llms-primary-text: #ffffff;

	--llms-secondary: #404040;
	--llms-secondary-text: #ffffff;

	--llms-success: #83c373;
	--llms-warning: #ff922b;
	--llms-danger: #e5554e;

	--llms-element-background: #f2f2f2;
	--llms-element-border: #d9d9d9;
	--llms-element-text: #0d0d0d;

}
