.llms-checkout-wrapper {
	form.llms-login {
		border: 3px solid $color-brand-blue;
		display: none;
		margin-bottom: 10px;
		// padding: 15px 5px 5px;
	}
	.llms-form-heading {
		background: $color-brand-blue;
		color: #fff;
		margin: 0 0 5px;
		padding: 10px;
	}
}

.llms-checkout {
	background: #fff;
	position: relative;
}

.llms-checkout-cols-2 {
	@extend %clearfix;

	@media all and (min-width: 800px) {

		.llms-checkout-col {
			float: left;

			&.llms-col-1 {
				margin-right: 5px;
				width: calc( 58% - 5px );
			}
			&.llms-col-2 {
				margin-left: 5px;
				width: calc( 42% - 5px );

				button {
					width: 100%;
				}
			}
		}

	}

}

	.llms-checkout-section {
		border: 3px solid $color-brand-blue;
		margin-bottom: 10px;
		position: relative;
	}

		.llms-checkout-section-content {
			margin: 10px;
			&.llms-form-fields {
				margin: 0px;
			}

			.llms-label {
				font-weight: 400;
				font-variant: small-caps;
				text-transform: lowercase;
			}

			.llms-order-summary {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li { list-style-type: none; }

				&.on-sale,
				&.has-coupon {
					.price-regular { text-decoration: line-through; }
				}

			}

			.llms-coupon-wrapper {
				border-top: 1px solid #dadada;
				margin-top: 10px;
				padding-top: 10px;

				.llms-coupon-entry {
					display: none;
					margin-top: 10px;
				}
			}

		}

		.llms-payment-gateway-option {

			.llms-description {
				margin-left: 5px;
			}

			.llms-description {
				a {
					border: none;
					box-shadow: none;
					text-decoration: none;
				}
				img {
					display: inline;
					max-height: 22px;
					vertical-align: middle;
				}
			}

		}

		.llms-checkout-wrapper ul.llms-payment-gateways {
			margin: 5px 0 0;
			padding: 0;
		}
		ul.llms-payment-gateways {
			list-style-type: none;

			li:last-child:after {
				border-bottom: 1px solid #dadada;
				content: '';
				display: block;
				margin: 10px;
			}

			.llms-payment-gateway {
				margin-bottom: 5px;
				list-style-type: none;
				&:last-child {
					margin-bottom: none;
				}

				&.is-selected {
					.llms-payment-gateway-option label {
						font-weight: 700;
					}
					.llms-gateway-fields {
						display: block;

						.llms-notice {
							margin-left: 10px;
							margin-right: 10px;
						}
					}
				}

				.llms-form-field {
					padding-bottom: 0;
				}
			}

				.llms-gateway-description {
					margin-left: 40px;
				}

				.llms-gateway-fields {
					display: none;
					margin: 5px 0 20px;
				}

			.llms-payment-gateway-error {
				padding: 0 10px;
			}
		}

		.llms-checkout-confirm {
			margin: 0 10px;
		}

		.llms-payment-method {
			margin: 10px 10px 0;
		}

		.llms-gateway-description {
			p {
				font-size: 85%;
				font-style: italic;
				margin-bottom: 0;
			}
		}
