.course {
	.llms-meta-info {
		margin: 20px 0;
		.llms-meta-title {
			margin-bottom: 5px;
		}
		.llms-meta {
			p {
				margin-bottom: 0;
			}
			span {
				font-weight: 700;
			}
		}
	}
	.llms-course-progress {
		margin: 40px auto;
		max-width: 480px;
		text-align: center;
	}
}
