.llms-meta-info {
	margin: 40px 0;
	.llms-meta-title {
		margin: 0;
	}
	.llms-meta {
		p {
			margin-bottom: 0;
		}
		span {
			font-weight: 700;
		}
	}
}
.llms-course-progress {
	margin: 40px auto;
	max-width: 480px;
	text-align: center;
}
