.llms-author {
	.name {
		margin-left: 5px;
	}
	.label {
		margin-left: 5px;
	}
	.avatar {
		border-radius: 50%;
	}
	.bio {
		margin-top: 5px;
	}
}

.llms-instructor-info {
	.llms-instructors {

		.llms-col {
			&:first-child .llms-author {
				margin-left: 0;
			}
			&:last-child .llms-author {
				margin-right: 0;
			}
		}

		.llms-author {

			background: var( --llms-element-background );
			color: var( --llms-element-text );
			border-top: 4px solid var( --llms-primary );
			text-align: center;
			margin: 45px 5px 5px;
			padding: 0 10px 10px;

			.avatar {
				background: var( --llms-primary );
				border: 4px solid var( --llms-primary );
				display: block;
				margin: -35px auto 10px;
			}

			.llms-author-info {
				display: block;
				&.name {
					font-weight: 700;
				}
				&.label {
					font-size: 85%;
				}
				&.bio {
					font-size: 90%;
					margin-bottom: 0;
				}
			}
		}

	}

}
