.llms-access-plans {

	--llms-featured-offset: 35px;

	align-items: stretch;
	display: flex;
	padding-top: var( --llms-featured-offset );
	gap: 4px;

	@media all and (min-width: 600px) {
		$cols: 1;
		@while $cols <= 5 {
			&.cols-#{$cols} .llms-access-plan {
				width: calc( 100% / $cols );
			}
			$cols: $cols + 1;
		}
	}
}

.llms-free-enroll-form {
	margin-bottom: 0;
}

.llms-access-plan {
	background: var( --llms-element-background );
	box-sizing: border-box;
	color: var( --llms-element-text );
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;

	&.featured {
		border: 3px solid var( --llms-primary );
		margin-top: calc( var( --llms-featured-offset ) * -1 );
	}

	&.on-sale {
		.price-regular { text-decoration: line-through; }
	}

	.stamp {
		background: var( --llms-secondary );
		color: var( --llms-secondary-text );
		font-size: 75%;
		font-style: normal;
		font-weight: 400;
		padding: 2px 4px;
		vertical-align: middle;
	}
}

.llms-access-plan-featured {
	background: var( --llms-secondary );
	color: var( --llms-secondary-text );
	font-size: 85%;
	font-weight: 400;
	padding: 5px;
	height: calc( var( --llms-featured-offset ) - 10px );
	margin: -3px -3px 0 -3px;
}

.llms-access-plan-title {
	background: var( --llms-primary );
	color: var( --llms-primary-text );
	margin: 0 0 10px;
	padding: 10px;
}

.llms-access-plan-footer {
	margin-top: auto;
	padding: 10px;
	> a, button {
		display: inline-block;
	}
}



.llms-access-plan-pricing {
	.llms-price-currency-symbol {
		font-size: 85%;
		vertical-align: top;
	}
}

.llms-access-plan-price {
	font-variant: small-caps;

	.lifterlms-price {
		font-weight: 700;
	}
}

.llms-access-plan-trial,
.llms-access-plan-schedule,
.llms-access-plan-sale-end,
.llms-access-plan-expiration {
	font-size: 90%;
	font-variant: small-caps;
	line-height: 1.2;
}

.llms-access-plan-description {
	font-size: 90%;
	padding: 10px 10px 0;

	ul {
		margin: 0;
		padding: 0;
		li {
			border-bottom: 1px solid var( --llms-element-border );
			list-style-type: none;
			margin: 0;
			padding: 0;
			&:last-child {
				border-bottom: none;
			}
		}
	}

	div, img, p, ul, li {
		&:last-child { margin-bottom: 0; }
	}
}


.llms-access-plan-restrictions {
	.stamp {
		vertical-align: baseline;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			font-size: 80%;
			list-style-type: none;
		}
	}
}


.webui-popover-content .llms-members-only-restrictions {
	text-align: center;
	ul,ol,li,p {
		margin: 0;
		padding: 0;
	}
	ul,ol,li {
		list-style-type: none;
	}
	li {
		padding: 8px 0;
		border-top: 1px solid #3b3b3b;
		&:first-child {
			border-top: none;
		}
		a {
			display: block;
		}
	}
}
