.llms-author {
	.name {
		margin-left: 5px;
	}
	.label {
		margin-left: 5px;
	}
	.avatar {
		border-radius: 50%;
	}
	.bio {
		margin-top: 5px;
	}
}


.llms-instructor-info {
	margin: 40px 0;
	.llms-meta-title {
		margin: 0;
	}
	.llms-instructors {

		.llms-col {
			&:first-child .llms-author {
				margin-left: 0;
			}
			&:last-child .llms-author {
				margin-right: 0;
			}
		}

		.llms-author {
			background: $color-white;
			border: 1px solid $color-border;
			border-top: 4px solid $color-blue;
			border-bottom-right-radius: $radius-small;
			border-bottom-left-radius: $radius-small;
			text-align: center;
			margin: 45px 0 0;
			padding: 0 20px 20px;

			.avatar {
				background: $color-brand-blue;
				border: 4px solid $color-blue;
				display: block;
				margin: -35px auto 10px;
			}

			.llms-author-info {
				display: block;
				// margin: 0 0 5px;
				&.name {
					font-weight: 700;
				}
				&.label {
					font-size: 85%;
				}
				&.bio {
					font-size: 90%;
					margin-bottom: 0;
				}
			}
		}

	}

}
