



.llms-membership-image {
  display: block;
  margin: 0 auto;
}



.llms-course-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.llms-featured-image {
  display: block;
  margin: 0 auto;
}
.llms-image-thumb {
  width: 150px;
}


.llms-video-wrapper {
  text-align: center;
  margin-bottom: 10px;
}











.clear {
  clear: both;
  width: 100%;
}
.llms-featured-image {
  text-align: center;
}

/* Genisis Overrides */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#main-content .llms-payment-options p {
  margin: 0;
  font-size: 16px;
}

.llms-option {
  display: block;
  position: relative;
  margin: 20px 0;
  padding-left:40px;
  font-size: 16px;

  label {
    cursor: pointer;
    position: static;
  }
}
.llms-option:first-child {
  margin-top:0;
}
.llms-option:last-child {
  margin-bottom:0;
}
#main-content .llms-option:last-child {
  margin-bottom:0;
}

.llms-option input[type="radio"] {
  display: block;
  position: absolute;
  top:3px;
  left:0;
  z-index: 0;
}

.llms-option input[type="radio"] {
  display: inline-block;
}
.llms-option input[type="radio"] + label span.llms-radio {
  display: none;
}

.llms-option input[type="radio"] + label span.llms-radio {
  appearance: none;

  z-index: 20;
  position: absolute;
  top: 0;
  left: -2px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;

  background: #efefef;
  background-image: radial-gradient(ellipse at center,  $color-red 0%,$color-red 40%,#efefef 45%);
  background-repeat: no-repeat;

  transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
}
.llms-option input[type="radio"]:checked + label span.llms-radio {
  transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
}

.llms-option input[type="radio"] + label span.llms-radio {
  background-position: -24px 0;
}
.llms-option input[type="radio"]:checked + label span.llms-radio {
  background-position: 0 0;
}

.llms-option input[type="submit"] {
  border:none;
  background:$color-red;
  color:#fff;
  font-size:20px;
  padding:10px 0;
  border-radius:3px;
  cursor:pointer;
  width:100%;
}
.llms-styled-text {
  padding: 14px 0;
}
.llms-notice-box {
  border-radius: 3px;
  z-index: 10;
  margin: 10px 0;
  padding: 15px 20px;
  //background: #fffef4;
  border: 1px solid #ccc;
  list-style-type: none;
  width: 100%;
  overflow: auto;
  input[type="text"] {
    height: auto;
  }
  .col-1-1 {
    width: 100%;
    input[type=text] {
      width: 100%;
    }
  }
  .col-1-2 {
    width: 50%;
    float: left;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
  }
  .col-1-3 {
    width: 33%;
    float: left;
    margin-right: 10px;
  }
  .col-1-4 {
    width: 25%;
    float: left;
    margin-right: 10px;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
  }
  .col-1-6 {
    width: 16.6%;
    float: left;
    margin-right: 10px;
  }
  .col-1-8 {
    width: 11%;
    float: right;
  }
  .llms-pad-right {
    padding-right: 10px;
    @media screen and (max-width: $break-medium) {
      padding-right: 0;
    }
  }
}
input[type="text"].cc_cvv,
#cc_cvv {
  margin-right: 0;
  width: 23%;
  float: right;
}
.llms-clear-box {
  border-radius: 3px;
  z-index: 10;
  margin: 10px 0;
  padding: 15px 20px;
  list-style-type: none;
  width: 100%;
  overflow: auto;
}
.llms-price-label {
  font-weight: normal;
}
.llms-final-price {
  font-weight: bold;
  float: right;
}
.llms-center-content {
  text-align: center;
}
.llms-input-text {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  padding: 16px;
  width: 100%;
}
.llms-price {
  margin-bottom: 0;
  font-weight: bold;
}
.llms-price-loop {
  margin-bottom: 0;
  font-weight: bold;
}

// henty overrides
.courses .entry {
  padding: 0
}
.list-view .site-content .llms-course-list .hentry, .list-view .site-content .llms-membership-list .hentry {
  border-top: 0;
  padding-top: 0;
}
.llms-content {
  width: 100%;
}

.llms-lesson-button-wrapper {
  width: 100%;
  display: block;
  clear: both;
  text-align: center;
}
.llms-template-wrapper {
  width: 100%;
  display: block;
  clear: both;
}
.llms-button-wrapper {
  width: 100%;
  display: block;
  clear: both;
  text-align: center;
}


//custom select box
.llms-styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.llms-styled-select, .llms-styled-select select {
  width: 100%;
}
select:focus { outline: none; }
.llms-styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  font-size: 16px;
  color: #444444;
}

@-moz-document url-prefix(){
  .--ms-styled-select select { width: 110%; }
}

.llms-styled-select .fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
  color: #ccc;
}

select::-ms-expand { display: none; }

_:-o-prefocus, .selector {
  .llms-styled-select { background: none; }
}

.llms-form-item-wrapper {
  margin-bottom: 1em;
}

/* Circle Graph */
.llms-progress-circle {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
}

.llms-progress-circle-count {
  top: 27%;
  position: absolute;
  width: 94%;
  text-align: center;
  color: #666;
  font-size:44px;
}
.llms-progress-circle svg {
  position: absolute;
  width: 200px;
  height: 200px;
}
.llms-progress-circle circle {
  fill: transparent;
}
svg .llms-background-circle {
  fill: transparent;
  stroke-width: 10px;
  stroke: #f1f2f1;
  stroke-dasharray: 430;
}

svg .llms-animated-circle {
  fill: transparent;
  stroke-width: 10px;
  stroke: #e5554e;
  stroke-dasharray: 430;
  stroke-dashoffset: 430 - 20
}







.llms-widget-syllabus {


  .llms-lesson-complete, .lesson-complete-placeholder {
    font-size: 1.2em;
    margin-right: 6px;
    color: #ccc;
    &.done {
      color: #e5554e;
    }
  }.section-title {
     font-weight: bold;
   }.lesson-title {
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none !important;
        }
      }
      &.done {
        a {
          color: #999;
          text-decoration: line-through;
        }
      }
    }
  ul {
    list-style-type: none;
    li {
      list-style-type: none;
      ul li {
        margin: 0 0 2px 0;
        padding: 0;
      }
    }
  }
}



.llms-remove-coupon {
  float: right;
}





.llms-lesson-link-locked, .llms-lesson-link-locked:hover   {
  background: #f1f1f1;
  box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.4);
  display: block;
  color: #a6a6a6;
  min-height: 85px;
  padding: 15px;
  text-decoration: none;
  position: relative;
}

.llms-lesson-preview.is-complete .llms-lesson-link-locked {
  padding-left: 75px;
}

.llms-lesson-tooltip { 	display: none;
				position:absolute;
				color: #000000;
				background-color: #c0c0c0;
				padding:.25em;
				border-radius: 2px;
				z-index: 100;
 				top:0;
    			left:50%;
    			text-align: center;
    			-webkit-transform: translateX(-50%) translateY(-100%);
    			        transform: translateX(-50%) translateY(-100%);
			}

/* arrows - :after */
.llms-lesson-tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid #c0c0c0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position:absolute;
    bottom:-8px;
    left:50%;
    transform: translateX(-50%);
}

.llms-lesson-tooltip.active {
  display: inline-block;
}
