.llms_review {
	margin: 20px 0px;
	padding: 10px;

	h5 {
		font-size: 17px;
		margin: 3px 0px;
	}

	h6 {
		font-size: 13px;
	}

	p {
		font-size: 15px;
	}
}

.review_box {

	[type=text] {
		margin: 10px 0px
	}

	h5 {
		color: red;
		display: none;
	}

	+ .thank_you_box {
		display: none;
	}
}
