.llms-student-dashboard {

	.llms-sd-title {
		align-items: center;
		display: flex;
		gap: 15px;
		margin: 40px 0 20px 0;

		small {
			font-size: 18px;

			+ a {
			text-decoration: none;
			}
		}
	}

	.llms-sd-items { // ul
		list-style-type: none;
		margin: 0 0 25px 0;
		padding: 0;
	}
		.llms-sd-item { // li
			display: inline-block;
			list-style-type: none;
			margin: 5px 0;
			padding: 0;

		&:last-child {
			.llms-sep {
				display: none;
			}
		}

			.llms-sep {
				color: $color-darkgrey;
				margin: 0 5px;
			}
		}

	.llms-sd-section {
		h2 {
			margin: 0 0 15px 0;
		}

		.llms-sd-section-title {
			margin: 0;
			padding: 0;
		}

		margin-bottom: 40px;

		.llms-sd-section-title:first-child {
			margin: 0 0 10px 0;
		}

		.llms-sd-section-footer {
			margin-top: 10px;

			a.llms-button-secondary {
				display: inline-block;
			}
		}

		.llms-certificates-loop {
			margin: 0 0 0 -10px;
		}

		.llms-certificate {
			padding: 20px 0;
		}
	}

	.orders-table {
		border: 1px solid $color-border;
		border-spacing: 0;
		width: 100%;

		thead {
			display: none;
			th,td {
				font-weight: 700;
			}
			@media all and ( min-width: 600px ) {
				display: table-header-group;
			}
		}

		tbody {
			tr:nth-child( odd ) {
				td, th {
					background: #f9f9f9;
				}
			}
			tr:last-child {
				border-bottom-width: 0;
			}
		}

		tfoot {
			tr {
				background: #f9f9f9;
			}
			th, td {
				padding: 10px;
				text-align: right;
				&:last-child { border-bottom-width: 0; }
			}
		}

		th {
			font-weight: 700;
		}

		th, td {
			border-color: $color-border;
			border-style: solid;
			border-width: 0;
			display: block;
			padding: 15px 20px;
			text-align: center;

			.llms-button-primary {
				display: inline-block;
			}

			&:last-child {
				border-bottom-width: 1px;
			}

			&:before {
				content: attr( data-label );
			}

			@media all and ( min-width: 600px ) {
				border-bottom-width: 1px;
				display: table-cell;
				text-align: left;
				&:first-child { width: 220px; }
				&:before { display: none; }
			}

		}

		@media all and ( min-width: 600px ) {
			&.transactions th:first-child {width: auto; }
		}

	}

	@include order_status_badges();

	.order-title {
		.llms-status {
			font-size: 18px;
		}
	}

	.llms-person-form-wrapper {
		.llms-change-password { display: none; }
	}

	.order-primary {

		@media all and ( min-width: 600px ) {
			float: left;
			width: 68%;
		}

	}
	.order-secondary {

		@media all and ( min-width: 600px ) {
			float: left;
			width: 32%;
		}

		form {
			margin-bottom: 0;
		}

	}

	// stack columns when alternate layout declared via filter
	@media all and ( min-width: 600px ) {
		.llms-view-order.llms-stack-cols {
			.order-primary,
			.order-secondary {
				float: none;
				width: 100%;
			}
		}
	}

	.llms-switch-payment-source {
		.llms-notice,
		.entry-content .llms-notice {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	.llms-switch-payment-source-main {
		border: none;
		display: none;
		margin: 0;
		ul.llms-payment-gateways {
			padding: 10px 15px 0;
			margin: 0;
		}
		.llms-payment-method,
		ul.llms-order-summary {
			padding: 0 25px 10px;
			margin: 0;
			list-style-type: none;
			li { list-style-type: none; }
		}
	}

	/**
	 * Dashboard Home
	 */
	&.dashboard {
		.llms-sd-section {
			border: 1px solid $color-border;
			border-radius: $radius-small;
			padding: 20px;
			margin-bottom: 40px;
		}
	}
	.llms-loop-list {
		margin: 0 -10px;
	}

}

.logged-in {
	.llms-sd-layout-columns {
		align-items: start;

		@media all and ( min-width: 600px ) {
			display: grid;
			grid-gap: 25px;
			grid-template-areas: "nav header" "nav tab";
			grid-template-columns: 200px 1fr;
			grid-template-rows: auto 1fr;
		}

		.llms-sd-nav {
			grid-area: nav;

			.llms-sd-items {

				@media all and ( min-width: 600px ) {
					.llms-sd-item {
						display: block;
						float: none;

						a {
							display: block;
							padding: 10px 0;
						}

						.llms-sep {
							display: none;
						}
					}
				}

			}

		}

		.llms-sd-header {
			grid-area: header;
		}

		.llms-sd-tab {
			grid-area: tab;
		}

	}

}

// My Grades course list
.llms-sd-grades {
	.llms-table {
		.llms-progress {
			display: block;
			margin: 0;
			.llms-progress-bar {
				top: 0;
				height: 1.4em;
			}
			.progress__indicator {
				font-size: 1em;
				position: relative;
				right: 0.4em;
				top: 0.2em;
				z-index: 1;
			}
		}
	}
}

// grades table for a single course
.llms-table.llms-single-course-grades {

	tbody {
		tr:first-child td, tr:first-child th {
			background-color: #eaeaea;
		}
	}

	th {
		font-weight: 400;
		text-align: left;
	}

	td {
		.llms-donut {
			display: inline-block;
			vertical-align: middle;
		}
		.llms-status {
			margin-right: 4px;
		}
		.llms-donut + .llms-status {
			margin-left: 4px;
		}
	}

	th.llms-section_title {
		font-size: 110%;
		font-weight: 700;
	}

	td.llms-lesson_title {
		max-width: 40%;
	}
	td.llms-associated_quiz {
		.llms-donut {
			display: inline-block;
			margin-right: 5px;
			vertical-align: middle;
		}
	}
	td.llms-lesson_title {
		a[href="#"] {
			pointer-events: none;
		}
		a[href^="#"] {
			color: inherit;
			position: relative;
			.llms-tooltip {
				max-width: 380px;
				width: 380px;
				&.show {
					top: -54px;
				}
			}
		}
	}
}

.llms-sd-widgets {
	display: flex;

	.llms-sd-widget {
		background: $color-white;
		border: 1px solid $color-border;
		border-bottom-right-radius: $radius-small;
		border-bottom-left-radius: $radius-small;
		flex: 1;
		margin: 10px 10px 20px;
		padding: 0 0 20px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}

		.llms-sd-widget-title {
			background: $color-brand-blue;
			color: #fff;
			font-size: 18px;
			line-height: 1;
			margin: 0 0 20px;
			padding: 10px;
		}

		.llms-sd-widget-empty {
			font-size: 14px;
			font-style: italic;
			opacity: 0.5;
			text-align: center;
		}

		.llms-donut {
			margin: 0 auto;
		}

		.llms-sd-date {
			opacity: 0.8;
			text-align: center;
			font-size: 22px;
			line-height: 1.1;
			span {
				display: block;
				&.day {
					font-size: 52px;
				}
				&.diff {
					font-size: 12px;
					font-style: italic;
					margin-top: 8px;
					opacity: 0.75;
				}
			}
		}

		.llms-achievement {
			background: transparent;
			margin: 0 auto;
			max-width: 120px;
			.llms-achievement-title {
				display: none;
			}
		}

	}


}

.redeem-voucher {
	.form-row {
		label {
			display: block;
			font-weight: 700;
		}
		input[type="text"] {
			background-color: $color-white;
			background-clip: padding-box;
			border: 1px solid $color-grey;
			border-radius: $radius-small;
			box-sizing: border-box;
			font-size: 16px;
			line-height: 1;
			padding: 8px 12px;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}
	}
}


.llms-sd-pagination {
	margin-top: 24px;
	@include clearfix;
	.llms-button-secondary {
		display: inline-block;
		&.prev { float: left; }
		&.next { float: right; }
	}
}


.llms-sd-notification-center {
	background: $color-white;
	border: 1px solid $color-border;
	border-radius: $radius-small;
	padding: 20px;

	.llms-notification-list-item {
		.llms-notification {
			z-index: 1;
			&:hover {
				background-color: inherit;
			}
		}
	}
}
