.llms-syllabus-wrapper {

	margin: 20px 0;
	text-align: left;

	.llms-section-title {
		margin: 40px 0 10px;

		+ .llms-lesson-preview {
			border-top: 1px solid $color-border;
		}
	}

}

.llms-lesson-preview {
	border-right: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	border-left: 1px solid $color-border;
	display: block;
	margin: 0;
	max-width: 100%;
	position: relative;

	&.current-lesson {
		.llms-lesson-title {
			font-weight: 400;
		}
	}

	.llms-lesson-link {
		background: $color-white;
		color: $color-black;
		display: block;
		padding: 15px;
		text-decoration: none;
		transition: background-color 0.3s ease;

		&:hover {
			background: $el-background-hover;
		}

		&:visited {
			color: #212121;
		}

		&.llms-lesson-link-locked {
			background: #EFEFEF;
			color: $color-darkgrey;

			&:hover {
				background: $color-border;
			}

		}

		.llms-lesson-preview-row {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	.llms-lesson-thumbnail {
		margin-bottom: 15px;
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}

	.llms-lesson-title {
		font-weight: 700;
		margin: 0 auto 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.llms-lesson-excerpt {
		margin-top: 05px;

		p {
			margin: 0 0 10px 0;
			padding: 0;
			&:last-of-type {
				margin: 0;
			}
		}
	}

	.llms-main {
	    flex-grow: 1;
	}
	.llms-extra {
		min-width: 50px;
		text-align: right;
	}

	.llms-lesson-counter,
	.llms-free-lesson-svg,
	.llms-lesson-complete,
	.llms-lesson-complete-placeholder {
		display: block;
	}

	&.is-free,
	&.is-complete {
		.llms-lesson-complete {
			color: $color-brand-blue;
		}
	}

	&.is-complete {
		.llms-lesson-title:not(.llms-student-dashboard .llms-lesson-title):not(.llms-course-navigation .llms-lesson-title) {
			text-decoration: line-through;
		}
	}

	.llms-icon-free {
		background: $color-brand-blue;
		border-radius: $radius-small;
		color: $color-white;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		line-height: 1;
		padding: 5px 8px 4px;
		white-space: nowrap;
	}

	&.is-incomplete {
		.llms-lesson-complete {
			color: #cacaca;
		}
	}

	.llms-lesson-counter {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.llms-free-lesson-svg {
		fill: currentColor;
		height: 23px;
		width: 50px;
	}

}

.llms-course-navigation {
	display: flex;
	gap: 20px;
	.llms-prev-lesson,
	.llms-next-lesson,
	.llms-back-to-course {
		flex: 1;
	}

	.llms-prev-lesson {
		& + .llms-back-to-course {
			text-align: right;
		}
	}

	.llms-next-lesson {
		.llms-lesson-preview {
			.llms-lesson-link {
				text-align: right;
			}
		}
	}

	.llms-lesson-preview {
		border: 1px solid $color-border;
	}

	.llms-lesson-link {
		display: block;
	}
}
