.llms-button-action,
.llms-button-danger,
.llms-button-primary,
.llms-button-secondary {
	border:none;
	border-radius: 0;
	color: $color-white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	text-shadow: none;
	line-height: 1;
	margin: 0;
	padding: 12px 24px;
	position: relative;
	transition: all .5s ease;

	&:disabled {
		opacity: 0.5;
	}
	&:hover, &:active {
		color: $color-white;
	}
	&:focus {
		color: $color-white;
	}

	&.square { padding: 12px; }

	&.small {
		font-size: 13px;
		padding: 8px 14px;
		&.square { padding: 8px; }
	}

	&.large {
		font-size: 18px;
		line-height: 1.2;
		padding: 16px 32px;
		&.square { padding: 16px; }
	}


}

.llms-button-primary {
	background: $color-brand-blue;
	&:hover,
	&.clicked {
		background: $color-brand-blue-dark;
	}
	&:focus,
	&:active {
		background: $color-brand-blue-light;
	}
}

.llms-button-secondary {
	background: #e1e1e1;
	color: #414141;
	&:hover {
		color: #414141;
		background: darken( #e1e1e1, 8 );
	}
	&:focus,
	&:active {
		color: #414141;
		background: lighten( #e1e1e1, 4 );
	}
}

.llms-button-action {
	background: $color-brand-orange;
	&:hover,
	&.clicked {
		background: $color-brand-orange-dark;
	}
	&:focus,
	&:active {
		background: $color-brand-orange-light;
	}
}

.llms-button-danger {
	background: $color-danger;
	&:hover {
		background: darken( $color-danger, 8 );
	}
	&:focus,
	&:active {
		background: lighten( $color-danger, 4 );
	}
}
