%cf {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}




%llms-element {
	background: $el-background;
	box-shadow: $el-box-shadow;
	display: block;
	color: #212121;
	min-height: 85px;
	padding: 15px;
	text-decoration: none;
	position: relative;
	transition: background .4s ease;

	&:hover {
		background: $el-background-hover;
	}
}