//
// Positining mixin
//
// @param [string] $position: position
// @param [list] $args (()): offsets list
//
// @source http://hugogiraudel.com/2013/08/05/offsets-sass-mixin/
//
@mixin position($position, $args: ()) {
	$offsets: top right bottom left;
	position: $position;

	@each $offset in $offsets {
		$index: index($args, $offset);

		@if $index {
			@if $index == length($args) {
				#{$offset}: 0;
			}
			@else {
				$next: nth($args, $index + 1);
				@if is-valid-length($next) {
					#{$offset}: $next;
				}
				@else if index($offsets, $next) {
					#{$offset}: 0;
				}
				@else {
					@warn "Invalid value `#{$next}` for offset `#{$offset}`.";
				}
			}
		}
	}
}

//
// Function checking if $value is a valid length
// @param [literal] $value: value to test
// @return [bool]
//
@function is-valid-length($value) {
	$r: (type-of($value) == "number" and not unitless($value)) or (index(auto initial inherit 0, $value) != null);
	@return $r;
}

//
// Shorthands
//
@mixin absolute($args: ()) {
	@include position(absolute, $args);
}

@mixin fixed($args: ()) {
	@include position(fixed, $args);
}

@mixin relative($args: ()) {
	@include position(relative, $args);
}