// ----- LifterLMS Brand Colors ----- \\
$color-brand-dark-blue: #243c56;

$color-brand-blue: #2295ff;
$color-brand-blue-dark: darken( $color-brand-blue, 12 ); // #0077e4
$color-brand-blue-light: lighten( $color-brand-blue, 8 );

$color-brand-orange: #f8954f;
$color-brand-orange-dark: #f67d28;
$color-brand-orange-light: lighten( $color-brand-orange, 8 );

$color-brand-aqua: #17bebb;

$color-brand-pink: #ef476f;



// ----- name our versions of common colors ----- \\
$color-black: #010101;
$color-green: #83c373;
$color-blue: $color-brand-blue;
$color-red: #e5554e;
$color-white: #fefefe;
$color-aqua: #35bbaa;

$color-red-hover: darken($color-red,5);


// ----- state / action names ----- \\
$color-success: $color-green;
$color-danger: $color-red;
// $color-danger: #e26049;








$color-lightgrey:		#ccc;
$color-grey: 			#999;
$color-darkgrey:		#666;
$color-cinder:			#444;
$color-lightblue:		#33b1cb;
$color-darkblue:		#0185a3;












$color-border: #efefef;

$el-box-shadow: 0 1px 2px 0 rgba($color-black,0.4);
$el-background: #f1f1f1;
$el-background-hover: #eaeaea;

$break-xsmall: 320px;
$break-small: 641px;
$break-medium: 768px;
$break-large: 1024px;
