# Package managers.
node_modules/
/vendor/

# Lock file intentionally excluded to allow easier testing against multiple php versions
# This follows the precedent put forth by the WordPress core {@link https://github.com/WordPress/wordpress-develop/commit/0e442c4615bdcdc1c2e4f8db6f88f57e6859c2ff}
composer.lock

# Ignore composer-installed libs.
/libraries/*
!/libraries/index.php
!/libraries/README.md

# Exclude maps.
/blocks/**/*.js.map
/assets/css/*.map
/assets/js/*.map

# Misc.
*.log
.DS_Store

# Release distribution directory.
/dist/
/tmp/

# Non-distributable configs.
phpunit.xml
.llmsenv
