# Package managers.
node_modules/
/vendor/

# Lock file intentionally excluded to allow easier testing against multiple php versions
# This follows the precedent put forth by the WordPress core {@link https://github.com/WordPress/wordpress-develop/commit/0e442c4615bdcdc1c2e4f8db6f88f57e6859c2ff}
composer.lock

# Ignore built files
/readme.txt
assets/css/admin.css
assets/css/admin.min.css
assets/css/admin-rtl.css
assets/css/admin-rtl.min.css
assets/css/admin-wizard-rtl.css
assets/css/admin-wizard-rtl.min.css
assets/css/admin-wizard.css
assets/css/admin-wizard.min.css
assets/css/builder.css
assets/css/builder.min.css
assets/css/builder-rtl.css
assets/css/builder-rtl.min.css
assets/css/admin-importer*
assets/css/editor*
assets/css/certificates*
assets/css/lifterlms-rtl.css
assets/css/lifterlms-rtl.min.css
assets/css/lifterlms.css
assets/css/lifterlms.min.css
assets/js/llms-builder.js
assets/js/llms-builder.min.js
assets/js/llms-admin-elementor-editor.js
assets/js/llms-admin-elementor-editor.asset.php
assets/js/llms-admin-certificate-editor.asset.php
assets/js/llms-admin-certificate-editor.js
assets/js/llms-components.asset.php
assets/js/llms-components.js
assets/js/llms.js
assets/js/*.min.js
assets/js/llms-metaboxes.js
blocks/certificate-title/*
blocks/my-account/*
blocks/pricing-table/*
includes/class.llms.l10n.frontend.php
languages/lifterlms.pot

# Ignore composer-installed libs.
/libraries/*
!/libraries/index.php
!/libraries/README.md

# Exclude maps.
/blocks/**/*.js.map
/assets/css/*.map
/assets/js/*.map
/assets/maps/*

# Misc.
*.log
.DS_Store

# Release distribution directory.
/dist/
/tmp/

# Non-distributable configs.
phpunit.xml
.llmsenv
