# Ignore node_modules
node_modules/
node_modules/*

# Ignore sftp config (Sublime Extension)
sftp-config.json

# Ignore sass-cache
.sass-cache/
.sass-cache/*

# Ignore sublime project files
*.sublime-project
*.sublime-workspace

#Ignore Eclipse project files
.buildpath
.project
.settings/

