
// This is a "legacy" rule that may be removable
.llms-mb-list {

	label {
		font-size: 15px;
		font-weight: 700;
		line-height: 1.5;
		display: block;
		width: 100%;
	}

	.description {
		margin-bottom: 8px;
	}

	.input-full {
		width: 100%;
	}
}


#poststuff .llms-metabox {

	@extend %cf;

	h2, h3, h4, h6 {
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 18px;
		font-weight: 700;
	}

	h3 {
		color: #1e1e1e;
		font-size: 16px;
	}

	h4 {
		color: #1e1e1e;
		font-size: 16px;
		line-height: 1.5;
		padding: 0;
		margin: 0;
	}

	h4:not(.llms-collapsible-body h4:first-of-type) {
		margin-top: 20px;
	}

	.llms-transaction-test-mode {
		background: #ffffd7;
		font-style: italic;
		left: 0;
		padding: 2px;
		position: absolute;
		right: 0;
		top: 0;
		text-align: center;
	}

	a.llms-editable,
	.llms-metabox-icon,
	button.llms-editable {
		color: $color-grey;
		text-decoration: none;
		&:hover {
			color: $color-brand-blue;
		}
	}

	button.llms-editable {
		border: none;
		background: none;
		cursor: pointer;
		padding: 0;
		vertical-align: top;
	}

	h4 button.llms-editable {
		float: right;
	}

	.llms-table {
		margin-top: 10px;

	}

	button.llms-button-primary {
		border-radius: 8px;
		font-size: 16px;
		font-weight: 700;
		height: auto;
	}
}

.llms-metabox-section {
	background: #fff;
	margin-top: 25px;
	position: relative;

	&.no-top-margin {
		margin-top: 0;
	}

	.llms-metabox-field {
		margin: 5px 0;
		position: relative;
		label {
			color: #1e1e1e;
			display: block;
			margin-bottom: 5px;
			font-size: 14px;
			font-weight: 400;
		}

		select,
		textarea,
		input[type="text"],
		input[type="number"] {
			width: 100%;
		}

		input.md-text {
			width: 105px;
		}

		input.sm-text {
			width: 45px;
		}

		.llms-datetime-field {

			.llms-date-input {
				width: 95px;
			}
			.llms-time-input {
				width: 45px;
			}
			em {
				font-style: normal;
				padding: 0 3px;
			}

		}

		.select2-container--default .select2-search--inline .select2-search__field {
			min-height: auto;
		}

		.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
			margin-bottom: 0;
		}

	}

	/* Fixes to tighten the space between tinymce editor and label */
	.llms-metabox-field:has(.wp-editor-wrap) label {
		position: relative;
		z-index: 5;
	}

	.llms-metabox-field .wp-editor-wrap {
		margin-top: -30px;
	}

}

.llms-collapsible {

	@extend %clearfix;

	background: #fff;
	border: 1px solid #efefef;
	border-radius: 6px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}

	&.opened .llms-collapsible-header {
		.dashicons-arrow-down {
			display: none;
		}
		.dashicons-arrow-up {
			display: inline;
		}
	}

	.llms-collapsible-header {
		@extend %clearfix;
		padding: 15px;

		[class^="d-"] {
			align-items: center;
			display: flex;
			gap: 5px;
		}

		.d-right {
			justify-content: flex-end;
			padding-right: 0;
		}

		h3 {
			color: #1e1e1e;
			display: inline;
			margin: 0;
			font-size: 16px;
			font-weight: 700;

			small {
				font-weight: 400;
			}
		}

		.dashicons-arrow-up {
			display: inline;
		}
		.dashicons-arrow-up {
			display: none;
		}

		a {
			text-decoration: none;
		}

		.dashicons {
			color: #1e1e1e;
			cursor: pointer;
			transition: color .4s ease;
			&:hover {
				color: $color-blue;
			}

			&.dashicons-warning,&.dashicons-warning:hover,
			&.dashicons-trash:hover,
			&.dashicons-no:hover {
				color: $color-danger;
			}
			&.dashicons-warning.medium-danger {
				&,
				&:hover {
					color: $color-orange;
				}
			}
		}

	}

	.llms-collapsible-body {
		@extend %clearfix;
		display: none;
		padding: 15px;
	}

}
