.llms-metabox {

	> p:first-child {
		margin-top: 0;
	}

	#llms-new-access-plan-model {
		display: none;
	}

	.llms-access-plans {
		@extend %clearfix;
		color: #1e1e1e;

		> .llms-no-plans-msg {
			display: none;
			.notice {
				margin-right: 0;
				margin-left: 0;
			}
		}
		> .llms-no-plans-msg:last-child {
			display: block;
		}

		&.dragging {
			background: #efefef;
			box-shadow: inset 0 0 0 1px #e5e5e5;
		}

		.llms-spinning {
			z-index: 1;
		}

		.llms-invalid {
			border-color: $color-danger;
			.dashicons-warning {
				display: inline;
			}
		}
		.llms-needs-attention .dashicons-warning.medium-danger {
			display: inline;
		}
		.dashicons-warning {
			display: none;
		}
	}

	.llms-access-plan {
		margin-bottom: 20px;
		text-align: left;

		[data-tip]:before {
			text-align: center;
		}

		.llms-plan-link,
		[data-controller] {
			display: none;
		}

		&:hover,
		&.opened {
			.llms-plan-link {
				display: inline-block;
			}
		}

		.llms-metabox-field {
			margin: 15px 0;
		}

		.llms-required {
			color: $color-danger;
			margin-left: 3px;
		}
		.notice {
			margin-left: 0;
		}
	}

}
