.submitbox .llms-mb-section,
.llms-award-engagement-submitbox .llms-mb-list {
	margin-bottom: 12px;
	&:last-of-type {
		margin-bottom: 0;
	}
	@at-root .sync-action,
	&.student-info,
	&.post_author_override label {
		&:before {
			// dashicons-admin-users.
			font: normal 20px/1 dashicons;
			speak: never;
			display: inline-block;
			margin-left: -1px;
			padding-right: 3px;
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: relative;
			top: -1px;
			color: #8c8f94;
			body:not(.admin-color-fresh) & {
				color: currentColor; // Used when selecting a different admin color scheme from the default one.
			}
		}
	}
	&.student-info,
	&.post_author_override label {
		&:before {
			content: '\f110';
		}
	}
	@at-root .sync-action:before {
		content: '\f113';
		color: white;
	}
	&.post_author_override label {
		display: inline-block;
		width: auto;;
	}
}
