.llms-button-danger,
.llms-button-primary,
.llms-button-secondary {
	border:none;
	border-radius: 0;
	color: $color-white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	text-shadow: none;
	margin: 0;
	padding: 12px 24px;
	transition: all .5s ease;

	&:disabled {
		opacity: 0.5;
	}
	&:hover, &:active {
		color: $color-white;
	}
	&:focus {
		color: $color-white;
	}

	&.small {
		font-size: 13px;
		padding: 8px 14px;
	}

}

.llms-button-primary {
	background: $color-blue;
	&:hover,
	&.clicked {
		background: $color-darkblue;
	}
	&:active {
		background: $color-lightblue;
	}

}

.llms-button-secondary {
	background: #e1e1e1;
	color: #414141;
	&:hover {
		color: #414141;
		background: darken( #e1e1e1, 8 );
	}
	&:active {
		color: #414141;
		background: lighten( #e1e1e1, 4 );
	}
	&:focus {
		color: #414141;
	}
}

.llms-button-danger {
	background: $color-danger;
	&:hover {
		background: darken( $color-danger, 8 );
	}
	&:active {
		background: lighten( $color-danger, 4 );
	}
}
