/******************************************************************

Course Outline

******************************************************************/
#llms-course-outline {
    box-sizing: border-box;
    width: 100%;

    #llms-ouline-header {
        box-sizing: border-box;
        background: #fafafa;
        border: 1px solid #e1e1e1;
        width: 100%;
        padding: 16px 24px;
        position: relative;
        border-radius: 4px 4px 0 0;

        .outline-body {
            width: 100%;
            padding: 20px;
        }

    }
}


.clear-fix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix
{
    zoom: 1;
}

h1.outline-title {
    font-size: 16px;
    font-weight: 400;

}

.menu-button {
    position: relative;
    float: right;
    width: auto;
}


#llms-outline-menu {
    visibility:hidden;
    transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
    opacity: 0;
    position: absolute;
    left: -84px;
    bottom: 40px;
    z-index: 6;
}

#llms-outline-menu.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s 0s, visibility 0s 0s;
    animation: cd-move-in 0.4s;
    animation-fill-mode: forwards;
}
@keyframes cd-move-in {
  0% {
    transform: translateY(2.5vh);
  }
  65% {
    transform: translateY(-1.5vh);
  }
  100% {
    transform: translateY(0vh);
  }
}


#triangle {
    border-width: 2px 0 0 2px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(228deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 1;
    background: #313130;
    position: absolute;
    bottom: -5px;
    left: 110px;
    z-index: 1;
}
#tooltip_menu {
    background: #313130;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    width: 200px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    padding: 2px 16px;

}
#tooltip_menu a {
    border-bottom: 1px solid #565656;
    z-index: 2;
    padding: 16px 10px;
    margin: 0;
    display: block;
    text-decoration: none;
    color: $color-white;
    font-size: 13px;
    transition: all 0.3s ease-in;
      text-align: left;

    &:last-child {
        border-bottom: 0;
    }
}
#tooltip_menu a:hover {
    //background: #000;
    color: $color-blue;
    padding-left: 20px;
    //text-shadow: 1px 0px 10px #000;

}
#tooltip_menu a img {
    position: relative;
    top: 5px;
    border: 0;
}

.menu-icon {
    color: $color-blue;
}
.sortablewrapper {
    display: block;
}
#llms_coure_outline_sort {
    padding: 0;
    background: $color-white;
}
.outline-body {
    background: $color-white;
}
.section-icon, .tree-icon {
    color: #AAACAD;
}
.ui-state-default.llms-lesson {
    position: relative;
    padding: 0 10px 10px 27px;
    margin: 0 0 0 6px;
    border: 0;
    background: $color-white;
}
.llms-lesson:hover, .llms-section:hover {
    background: #fafafa;
}
.ui-state-default.llms-section {
    margin: 0;
    border: 0;
    background: $color-white;
    color: $color-cinder;
}
.llms-section {
    position: relative;
    padding: 10px;
}
.llms-lesson:before {
    content: "";
    position: absolute;
    top: -23px;
    bottom: 0;
    border-left: 1px #BBBBBB solid;
    left: 0;
    z-index: 10;
}
.llms-lesson-order:before {
    content: "";
    position: absolute;
    width: 26px;
    border-bottom: 1px #BBBBBB solid;
    left: -26px;
    top: 20px;
}

.llms-lesson:last-child:before {
    height: 44px;
}

.llms-section, .llms-lesson {
    .section-content-wrapper {
        z-index: 5;
        position: relative;
        background: $color-white;
        min-height: 50px;
    }
    .description {

        position: relative;
        padding: 10px 0;
        color: $color-cinder;

        p {
        margin-bottom: 0;
        color: $color-grey;
        }
    }
    .list-options {
        z-index: 5;
        position: relative;
        //margin-top: 10px;
    }
    .list-lesson-details {
        margin-top: 10px;
    }
    .llms-edit-section-link, .llms-edit-lesson-link, a.llms-edit-lesson-content-link, a.llms-delete-section-link {
        //width: 20px;
        /* height: 30px; */
        background: $color-lightblue;
        display: block;
        padding: 5px;
        float: right;
        color: $color-white !important;
        margin-left: 10px;
        margin-top: 10px;
        transition: ease .3s all;

        &:hover {
            background: $color-darkblue;
        }
        .icon.button-icon {
            fill: $color-white;
        }
    }
    a.llms-delete-section-link {
        margin-right: 10px;
    }

}

a.llms-voucher-delete,
a.llms-delete-section-link,
a.llms-remove-lesson-link {
    //width: 20px;
    /* height: 30px; */
    display: block;
    padding: 5px;
    background: #e26049;
    float: right;
    color: $color-white !important;
    transition: ease .3s all;

    &:hover {
        background: #af3a26;
    }

    .icon.button-icon {
        fill: $color-white;
    }
}

a.llms-delete-section-link,
a.llms-remove-lesson-link {
    margin-top: 10px;
    margin-left: 10px;
}

.llms-lesson-tree {
    width: 100%;
    margin: 0;
    min-height: 10px;
}

/**
 * Tooltip
 */
.llms-lesson-details {
    float: right;
}

.tooltip{
    display: inline;
    position: relative;
    margin-right: 10px;
    cursor:default;
}
.tooltip:last-child {
    margin-right: 0;
}
.tooltip:hover:after{
    background: #313130;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: -75px;
    padding: 5px 15px;
    position: absolute;
    min-width: 150px;
    text-shadow: none; // prevent weirdness if adding a tooltip to a WordPress core UI button
    z-index: 98;
}
.tooltip:hover:before{
    border: solid;
    border-color: #313130 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 30%;
    position: absolute;
    z-index: 99;
}

.llms-mb-list {

    label {
        font-weight: bold;
        width: 100%;
        display: block;
    }

    .input-full {
        width: 100%;
    }
}

/**
 * sortable
 */
.placeholder {
    border: 1px solid $color-blue;
    border-left: 1px solid #bbb;
    background: $color-lightblue;
    margin-left: 6px;
}

