/******************************************************************

Form Styles 

******************************************************************/

// lifterlms form wrapper
#llms-form-wrapper {

	// setup defaults
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	input[type="checkbox"],
	select,
	textarea,
	.llms-field {
		
		// a focused input (or hovered on)
		&:focus,
		&:active {
		
		} // end hover or focus
	}

	// sub wrapper for seach filter form (analytics)
	.llms-search-form-wrapper {
		border-bottom: 1px solid $color-grey;
		margin: 20px 0;
	
	}
	.button-primary {	
		border:none !important; 
		text-shadow: none !important; 
		border: none !important; 
		outline: none !important;
		box-shadow: none !important;
		margin: 0 !important;
		color:#fff !important;
		background: $color-blue !important; 
		border-radius: 0;
		transition: .5s;
		
		&:hover {
			background: $color-darkblue !important;
		
		}&:active {
			background: $color-lightblue !important;
		}
	}

	#llms_analytics_search {	
		border:none !important; 
		text-shadow: none !important; 
		border: none !important; 
		outline: none !important;
		box-shadow: none !important;
		margin: 0 !important;
		color: $color-white !important;
		background: $color-blue !important; 
		border-radius: 0;
		transition: .5s;
		
		&:hover {
			background: $color-darkblue !important;
		
		}&:active {
			background: $color-lightblue !important;
		}
	}

} // end input defaults


#llms-skip-setup-form {
	.llms-admin-link {
		background:none!important;
		border:none; 
		padding:0!important;
		color:#0074a2;
		cursor:pointer;
		&:hover {
			color:#2ea2cc
		}&:focus{
			color:#124964;
		}

	}

}


.llms-button-primary {	
	border:none;
	text-shadow: none;
	border: none;
	outline: none;
	box-shadow: 0 1px 1px #ccc;
	margin: 0;
	padding: 2px 10px;
	color: $color-white;
	background: $color-blue;
	border-radius: 0;
	transition: .5s;
	
	&:hover {
		background: $color-darkblue;
	
	}&:active {
		background: $color-lightblue;
	}
}

.llms-button-secondary {	
	border: none;
	text-shadow: none;
	border: none;
	outline: none;
	margin: 0;
	padding: 2px 10px;
	color: $color-blue;
	background: $color-white;
	border-radius: 0;
	transition: .5s;
	margin-right: 20px;
	box-shadow: 0 1px 1px #ccc;
	
	&:hover {
		background: $color-white;
	
	}&:active {
		background: $color-white;
	}
}

/**
 * Toggle Switch ( replaces checkbox on admin panels )
 */
.llms-switch {
	position: relative;
	width: 100px;
	float: right;
}
.llms-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.llms-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}
input.llms-toggle-round + label {
	padding: 2px;
	width: 100px;
	height: 50px;
	background-color: none;
	border-radius: 5px;
	content: 'On';
}
input.llms-toggle-round + label:before,
input.llms-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}
input.llms-toggle-round + label:before {
	right: 1px;
	background-color: #e26049;
	border-radius: 5px;
	transition: background 0.4s;
}
input.llms-toggle-round + label:after {
	width: 38px;
	height: 38px;
	top: 8px;
	left: 8px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
	z-index: 3;
}
input.llms-toggle-round:checked + label:before {
 	background-color: #3abba5;
}
input.llms-toggle-round:checked + label:after {
	margin-left: 50px;
}

.llms-toggle-icon-on {
	content: "";
	position: absolute;
	left: 18px;
	top: 15px;
	z-index: 2;
	color: #2d9584;
}
.llms-toggle-icon-off {
	content: "";
	position: absolute;
	right: 13px;
	top: 15px;
	z-index: 2;
	color: #af3a26;

}
.toggle-icon {
	width: 30px;
	height: 30px;
}
.toggle-description {
	float: left;
}

