/******************************************************************

SVG Styles

******************************************************************/

svg {
  &.icon {
    height: 24px;
    width: 24px;
    display: inline-block;
    fill: currentColor; // Inherit color
    vertical-align: baseline; // Options: baseline, sub, super, text-top, text-bottom, middle, top, bottom

    // Different styling for when an icon appears in a button element
    button & {
        height: 18px;
        width: 18px;
        margin: 4px -4px 0 4px;
        filter: drop-shadow( 0 1px #eee );
        float: right;
    
    }&.menu-icon {
        height: 20px;
        width: 20px;
        display: inline-block;
        fill: currentColor;
        vertical-align: text-bottom;
        margin-right: 10px;
    
    }&.tree-icon {
        height: 13px;
        width: 13px;
        vertical-align: middle;
    
    }&.section-icon {
        height: 16px;
        width: 16px;
        vertical-align: text-bottom;
    
    }&.button-icon {
        height: 16px;
        width: 16px;
        vertical-align: text-bottom;
    
    }&.button-icon-attr {
        height: 10px;
        width: 10px;
        vertical-align: middle;
    
    }&.list-icon {
        height: 12px;
        width: 12px;
        vertical-align: middle;
        
        &.on {
            color: $color-blue;

        }&.off {
            color: $color-cinder;
        }
    
        }&.detail-icon {
            height: 16px;
            width: 16px;
            vertical-align: text-bottom;
            cursor:default;
          
            &.on {
                color: $color-blue;

            }&.off {
                color: $color-lightgrey;
            }
        }

    }

    &.icon-ion {}

    &.icon-ion-edit {}

    // rotate for arrow tips
    &.icon-ion-arrow-up {
    transform: rotate(90deg);
    }

    use {
    pointer-events: none;
    }

}