.llms-order-note {

	.llms-order-note-content {
		background: #efefef;
		margin-bottom: 10px;
		padding: 10px;
		position: relative;
		&:after {
			border-style: solid;
			border-color: #efefef transparent;
			border-width: 10px 10px 0 0;
			bottom: -10px;
			content: '';
			display: block;
			height: 0;
			left: 20px;
			position: absolute;
			width: 0;

		}
		p {
			font-size: 13px;
			margin: 0;
			line-hieght: 1.5l
		}
	}

	.llms-order-note-meta {
		color: #999;
		font-size: 11px;
		margin-left: 10px;
	}


}
