/******************************************************************

Styles for topModal modal

******************************************************************/

/**
 * Base modal styles
 */
.topModal {
    display:none;
    position:relative;
    border:4px solid #808080;
    background:#fff;
    z-index:1000001;
    padding:2px;
    max-width:500px;
    margin: 34px auto 0;
    box-sizing: border-box;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #dddddd;

}.topModalClose {
    float:right;
    cursor:pointer;
    margin-right: 10px;
    margin-top: 10px;

}.topModalContainer {
    display: none;
    overflow: auto;
    overflow-y: hidden;
    position: fixed;
    top: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    width: auto !important;
    margin-left: 0 !important;
    background-color: transparent !important;
    z-index: 100002 !important;

}.topModalBackground {
    display:none;
    background:#000;
    position:fixed;
    height:100%;
    width:100%;
    top:0 !important;
    left:0;
    margin-left: 0 !important;
    z-index: 100002 !important;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: hidden;

}body.modal-open {
    overflow: hidden;

}.llms-modal-header {
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background: $color-blue;
    color: #eeeeee;
    padding: 10px 15px;
    font-size: 18px;

}#llms-icon-modal-close {
    width:16px;
    height: 16px;
    fill: $color-white;

}.llms-modal-content {
    padding: 20px;

    h3 {
        margin-top: 0;
    }

}

/**
 * Custom Modal Styles for LifterLMS
 */
.llms-modal-form {

    h1 {
        margin-top: 0;
    }

    input[type=text] {
        width: 100%;
    }

    textarea, 
    input[type="text"], 
    input[type="password"], 
    input[type="file"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"], 
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="color"] {
        padding: 0 .4em 0 .4em;
        margin-bottom: 2em;
        vertical-align: middle;
        border-radius: 3px;
        min-width: 50px;
        max-width: 635px;
        width: 100%;
        min-height: 32px;
        background-color: #fff;
        border: 1px solid $color-lightgrey;
        margin: 0 0 24px 0;
        outline: none;
        transition: border 0.3s ease-in-out 0s;

        &:focus {
            background: $color-white;
            border: 1px solid $color-blue; 

        }
    }

    textarea {
        padding: .4em !important;
        height: 100px !important;
        border-radius: 3px;
        vertical-align: middle;
        min-height: 32px;
        outline: none;
        box-sizing: border-box;

        &:focus {
            background: $color-white;
            border: 1px solid $color-blue; 

        }

    }

    .chosen-container-single .chosen-single {
        border-radius: 3px;
        vertical-align: middle;
        min-height: 32px;
        border: 1px solid $color-lightgrey;
        width: 100%;
        background: $color-white !important;
        outline: none;
        box-sizing: border-box;
        box-shadow: 0 0 0 #fff;
        line-height: 32px;
        margin: 0 0 24px 0;

        &:focus {
        background: $color-white;
        border: 1px solid $color-blue; 
        }
    }

    .chosen-container-single .chosen-single div b {
        margin-top: 4px;
    }

    .chosen-search input[type=text] {
        border: 1px solid $color-lightgrey;
        
        &:focus {
            background-color: $color-white;
            border: 1px solid $color-blue; 
        }

    }

    .chosen-container-single .chosen-drop {
        margin-top: -28px;
    }



    .llms-button-primary, .llms-button-secondary {
        padding: 10px 10px;
        border-radius: 0;
        transition: .5s;
        box-shadow: 0 1px 1px #ccc;

        &.full {
            width: 100%;
        }
    }
}
