.llms-widget {
	background: $color-white;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 10px 20px;
	position: relative;
	width: 100%;

	&.alt {

		border: 1px solid $color-lightgrey;
		background-color: #efefef;
		margin-bottom: 10px;

		.llms-label {
			color: #777;
			font-size: 14px;
			margin-bottom: 10px;
			padding-bottom: 5px;
		}

		h2 {
			color: #444;
			font-weight: 300;
		}

	}

	h1 {
		font-size:  2.4em;
	}

	h2 {
		font-size: 1.8em;
	}

	.llms-label {
		border-bottom: 1px solid $color-lightgrey;
		box-sizing: border-box;
		color: $color-grey;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 1px;
		margin: 0 0 15px;
		padding-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
	}

	.llms-chart {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}

	mark.yes {
		background-color: #7ad03a;
	}

	.llms-subtitle {
		margin-bottom: 0;
	}

	.spinner {
		float: none;
		left: 50%;
		margin: -10px 0 0 -10px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}

	&.is-loading {

		&:before {
			background: $color-white;
			bottom: 0;
			content: '';
			left: 0;
			opacity: 0.9;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		.spinner {
			visibility: visible;
		}

	}


}

.llms-widget-1-3,
.llms-widget-1-4,
.llms-widget-1-5 {
	text-align: center;
}


.llms-widget {
	.llms-widget-info-toggle {
		color: $color-lightgrey;
		cursor: pointer;
		font-size: 16px;
		position: absolute;
		right: 25px;
		top: 13px;
	}

	&.info-showing {
		.llms-widget-info {
			display: block;
		}
	}
}
.llms-widget-info {
	background: $color-cinder;
	color: $color-white;
	bottom: -50px;
	display: none;
	padding: 15px;
	position: absolute;
	text-align: center;
	left: 10px;
	right: 15px;
	z-index: 3;
	&:before {
		content: '';
		border: 12px solid transparent;
		border-bottom-color: $color-cinder;
		left: 50%;
		margin-left: -12px;
		position: absolute;
		top: -24px;
	}

	p {
		margin: 0;
	}

}


.llms-user-profile {
	padding: 0 20px;
}

.llms-banner-image {
	padding-top: 20px;
	img { display: block; }
	// padding: 5px;
}

.llms-widget-row {
	@include clearfix();
}

.llms-widget-row .no-padding {
	padding: 0 !important;
}

.optin-form-wrapper {
	vertical-align: top;

	.optin-form {
		height: 335px;
		padding-top: 50px;
		box-sizing: border-box;
		background: #fff;
		margin: 5px;

		._label {
			font-weight: bold;
		}

		input {
			margin-bottom: 10px;
		}
	}
}
