/******************************************************************

Option Page Widgets

******************************************************************/


.llms-widget {
	width: 100%;
	border: 1px solid $color-lightgrey;
	background: $color-white;
	margin-bottom: 20px;
	padding: 0 20px 20px;
	box-sizing: border-box;

	h1 {
		font-size:  2.4em;

	}p {
		&.llms-label {
			text-align: center;
			color: $color-grey;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 1em;
			border-bottom: 1px solid $color-lightgrey;
			padding-bottom: 10px;
			margin: 10px 0;
			box-sizing: border-box;
		}
	}.llms-chart {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}


}.llms-widget-1-4 {
	text-align: center;
}

.llms-user-profile {
	padding: 0 20px;
}

.llms-banner-image {
	padding: 5px;
}

.llms-widget-row .no-padding {
	padding: 0 !important;
}

.optin-form-wrapper {
	vertical-align: top;

	.optin-form {
		height: 335px;
		padding-top: 50px;
		box-sizing: border-box;
		background: #fff;
		margin: 5px;

		._label {
			font-weight: bold;
		}

		input {
			margin-bottom: 10px;
		}
	}
}
