#poststuff .llms-metabox {

	@extend %cf;
	padding: 5px;

	h2, h3, h6 {
		font-weight: 300;
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		color: #777;
		font-size: 16px;
	}

	h4 {
		border-bottom: 1px solid #e5e5e5;
		padding: 0;
		margin: 0;
	}

	.llms-transaction-test-mode {
		background: #ffffd7;
		font-style: italic;
		left: 0;
		padding: 1px;
		position: absolute;
		right: 0;
		top: 0;
		text-align: center;
	}

	.llms-error {
		color: $color-red;
		font-style: italic;
	}

	a.llms-editable {
		color: $color-grey;
		text-decoration: none;
		&:hover {
			color: $color-brand-blue;
		}
	}

	h4 a.llms-editable { float: right; }

}

.llms-metabox-section {
	background: #fff;
	margin-top: 25px;
	position: relative;

	&.no-top-margin {
		margin-top: 0;
	}

	.llms-metabox-field {
		margin: 15px 0;
		position: relative;
		label {
			color: #777;
			display: block;
			margin-bottom: 5px;
			font-weight: 500;
			vertical-align: baseline;
		}

		select,
		textarea,
		input[type="text"],
		input[type="number"] {
			width: 100%;
		}

		input.md-text {
			width: 105px;
		}

		input.sm-text {
			width: 45px;
		}


		.llms-datetime-field {

			.llms-date-input {
				width: 95px;
			}
			.llms-time-input {
				width: 45px;
			}
			em {
				font-style: normal;
				padding: 0 3px;
			}

		}

	}


}

.llms-collapsible {

	@extend %clearfix;

	border: 1px solid #e5e5e5;
	position: relative;
	margin-top: 0;
	margin-bottom: -1px;

	&:last-child {
		margin-bottom: 0;
	}

	&.opened .llms-collapsible-header {
		.dashicons-arrow-down {
			display: none;
		}
		.dashicons-arrow-up {
			display: inline;
		}
	}

	.llms-collapsible-header {
		@extend %clearfix;
		padding: 10px;

		.dashicons-arrow-up {
			display: inline;
		}
		.dashicons-arrow-up {
			display: none;
		}

		a {
			text-decoration: none;
		}

		.dashicons {
			color: #777;
			cursor: pointer;
			transition: color .4s ease;
			&:hover {
				color: #069cb5;
			}

			&.dashicons-trash:hover,
			&.dashicons-no:hover {
				color: $color-danger;
			}
		}

	}

	.llms-collapsible-body {
		@extend %clearfix;
		display: none;
		padding: 10px;
	}

}
