.post-type-llms_order #post-body-content { display: none; }
#lifterlms-order-details {
	.handlediv.button-link,
	.hndle.ui-sortable-handle { display: none;}
	.inside {
		padding: 20px;
		margin-top: 0;

	}
}

// failed transaction color
.llms-table tbody tr.llms-txn-failed td {
	background-color: rgba( $color-red, 0.5 );
	border-bottom-color: rgba( $color-red, 0.5 );
}

// refunded transaction color
.llms-table tbody tr.llms-txn-refunded td {
	background-color: rgba( orange, 0.5 );
	border-bottom-color: rgba( orange, 0.5 );
}

.llms-txn-refund-form,
.llms-manual-txn-form {
	.llms-metabox-section {
		margin-top: 0;
	}
	.llms-metabox-field {
		text-align: right;
		input {
			&[type="number"] { max-width: 100px; }
			&[type="text"] { max-width: 340px; }

		}
	}
}

.llms-manual-txn-form {
	background-color: #eaeaea;
	.llms-metabox-section {
		background-color: #eaeaea;
	}
}
