// ahhhhhhhh
.llms-mb-container .tab-content ul:not(.select2-selection__rendered).llms-mb-repeater-fields > li.llms-mb-list {
	border-bottom: none;
	padding: 0 0 10px;
}

.llms-mb-list.repeater {

	.llms-repeater-rows {
		position: relative;
		margin-top: 10px;
		min-height: 10px;

		&.dragging {
			background: #efefef;
			box-shadow: inset 0 0 0 1px #e5e5e5;
		}
	}

	.llms-repeater-row {
		background: #fff;
	}

	.llms-mb-repeater-fields {

	}

	.llms-mb-repeater-footer {
		text-align: right;
		margin-top: 20px;
	}

	.tmce-active .wp-editor-area {
		color: #32373c; // wp core default color
	}

}
