.llms-metabox-students {
	.llms-table {
		tbody tr td:first-child {
			text-align: left;
		}
	}

	.llms-add-student:hover {
		color: $color-green;
	}
	.llms-remove-student:hover {
		color: $color-red;
	}

	.llms-error {
		padding-right: 20px;
	}

}
