/******************************************************************

large Monitor Stylsheet

******************************************************************/

.llms-nav-tab-wrapper {
	@include clearfix;
}

.llms-nav-tab-filters,
.llms-nav-tab-settings {
	float: left;
	width: 12.5%;
}

form.llms-nav-tab-filters {
	width: auto;
}
