/******************************************************************

Tablets and small computers

******************************************************************/

ul.tabs li{
      display: inline-block;
    }

//option page tab menu
.llms-nav-tab {
	display: inline-block;
	width: 33%;
}
.llms-nav-tab-settings {
	display: inline-block;
	width: 25%;
}

//select box form wrapper
#llms-form-wrapper {
	.llms-select {
		width: 50%;
		max-width: 500px;
	
	}.llms-filter-options {
		width: 50%;
		//display: inline-block;
		max-width: 500px;
	
	}.llms-date-select {
		width: 47.5%;
		
		&:first-child {
			margin-right: 5%
		}
		
	}
}

.llms-widget {
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	textarea, {
		width: 50%;
	}.form-table th {
		width: 140px;
	}

}



