/******************************************************************

Base Mobile

******************************************************************/

.llms-nav-tab,
.llms-nav-tab-filters {
	display: block;
	width: 100%;
}

form.llms-nav-tab-filters.full-width {
	width: 100%;

	label {
		display: inline-block;
		width: 10%;
		text-align: left;
	}

	.select2-container {
		width: 85% !important;
	}
}

.llms-nav-tab-settings {
	display: block;
	width: 100%;
}

//select box form wrapper
#llms-form-wrapper {
	.llms-select {
		width: 100%;
		margin-bottom: 20px;

	}.llms-checkbox {
		display: inline-block;
		width: 100%;
		text-align: left;

	}.llms-filter-options {
		width: 100%;
		//margin-bottom: 20px;

	}.llms-date-select {
		width: 100%;
		display: inline-block;
		margin-bottom: 20px;
		input[type="text"] {
			width: 100%;
		}

	}.llms-search-button {
		//display: inline-block;
		//width: 30%;
		#llms-search-button {

		//float: right;
	}

	}

}

.llms-widget-full {
	&.top {
		margin-top: 20px;
	}
}
.llms-widget {
	.form-table td {
		padding: 15px 0;
		ul { margin: 5px 0 0; }


		.conditional-field {
			display: none;
			margin-left: 25px;
		}
		.conditional-radio:checked ~ .conditional-field {
			display: block;
		}


	}
}

ul.tabs li{
      display: block;
    }

