/******************************************************************

Base Mobile

******************************************************************/

   
.llms-nav-tab {
	display: block;
	width: 100%;
}

.llms-nav-tab-settings {
	display: block;
	width: 100%;
}

//select box form wrapper
#llms-form-wrapper {
	.llms-select {
		width: 100%;
		margin-bottom: 20px;
	
	}.llms-checkbox {
		display: inline-block;
		width: 100%;
		text-align: left;
			
	}.llms-filter-options {
		width: 100%;
		//margin-bottom: 20px;
	
	}.llms-date-select {
		width: 100%;
		display: inline-block;
		margin-bottom: 20px;
		input[type="text"] {
			width: 100%;
		}
	
	}.llms-search-button {
		//display: inline-block;
		//width: 30%;
		#llms-search-button {

		//float: right;
	}

	}
	
}

.llms-widget-full {
	&.top {
		margin-top: 20px;
	}
}
.llms-widget {
	.form-table td {
		padding: 15px 0;
	}
}

