//
// Main Admin CSS File
//


@import "_includes/vars";
@import "_includes/extends";
@import "_includes/buttons";
@import "_includes/mixins";

@import "_includes/tooltip";

// grid layout for breakpoints
@import "admin/partials/grid";

// forms
@import "admin/modules/forms";

// course outline widget
@import "admin/modules/course-outline";

// voucher
@import "admin/modules/voucher";

// widgets
@import "admin/modules/widgets";

// icons
@import "admin/modules/icons";

// icons
@import "admin/modules/mb-tabs";

// icons
@import "admin/modules/top-modal";

@import "admin/modules/merge-codes";

// Base (mobile)
@import "admin/breakpoints/base";

// Larger mobile devices
@media only screen and (min-width: 481px) {
	@import "admin/breakpoints/481up";
}

// Tablets and smaller laptops
@media only screen and (min-width: 768px) {
	@import "admin/breakpoints/768up";
}

// Desktops
@media only screen and (min-width: 1030px) {
	@import "admin/breakpoints/1030up";
}

// Larger Monitors and TVs
@media only screen and (min-width: 1240px) {
	@import "admin/breakpoints/1240up";
}

// Retina Screens
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
	@import "admin/breakpoints/2x";
}

@import "admin/main";

@import "admin/llms-table";
@import "admin/modules/llms-order-note";

// metabox related
@import "admin/metaboxes/llms-metabox";
@import "admin/metaboxes/metabox-instructors";
@import "admin/metaboxes/metabox-orders";
@import "admin/metaboxes/metabox-product";
@import "admin/metaboxes/metabox-students";
@import "admin/metaboxes/metabox-field-repeater";

@import "admin/post-tables/llms_orders";
@import "admin/post-tables/post-tables";

@import "admin/tabs";
@import "admin/fonts";
@import "admin/reporting";

@import "admin/quiz-attempt-review";

@import "_includes/llms-form-field";
@import "_includes/vendor/_font-awesome";

@import "_includes/spinner";