@import "_includes/vars";


#llms-setup-wizard {

	background-color: #f1f1f1;
	height: 100%;
	left: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 777777;

	.button-large {
		font-size: 18px;
		height: auto;
		padding: 8px 12px;
	}

	.button {
		border-color: #ccc;
		box-shadow: none;
		text-shadow: none;

	}

	.button-primary {
		background-color: #069cb5;
		border-color: darken( #069cb5, 5 );
		&:hover {
			background-color: darken( #069cb5, 3 );
		}
	}

}

.select2-container {
	z-index: 7777777;
}

.llms-setup-wrapper {
	margin: 60px auto;
	max-width: 640px;
}

a.dashboard-return {
	color: #aaa;
	display: block;
	margin-top: 10px;
	text-align: center;
}

#llms-logo {
	text-align: center;

	img {
		max-width: 400px;
	}
}

.llms-setup-content {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, .13 );
	padding: 15px 30px;

	h1, h2, h3, h4, h5, h6 {
		color: #444;
	}

	a {
		color: #069cb5;
	}

	p, li {
		color: #666;
		font-size: 16px;
	}

	p.error {
		color: $color-red;
		text-align: center;
	}

	label {
		font-weight: 500;
	}

	.llms-setup-actions {
		text-align: right;
	}

	table {
		border-bottom: 1px solid #f1f1f1;
		border-collapse: collapse;
		width: 100%;
	}


	td {
		border-top: 1px solid #f1f1f1;
		&:first-child {
			padding-right: 10px;
			width: 33%;
			a {
				// text-decoration: none;
				font-size: 16px;
				font-weight: 500;
			}
		}
	}

}

.llms-setup-progress {
	font-size: 0;
	margin: 20px 0;

	li {
		border-bottom: 4px solid #069cb5;
		color: #069cb5;
		display: inline-block;
		font-size: 14px;
		padding-bottom: 10px;
		position: relative;
		text-align: center;
		width: 20%;

		&:after {
			background: #069cb5;
			bottom: 0;
			content: '';
			border: 4px solid #069cb5;
			border-radius: 100%;
			height: 4px;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			margin-bottom: -8px;
			width: 4px;
		}

		&.current {
			&:after {
				background: #fff;
			}
		}

		&.current ~ li {
			border-bottom-color: #ccc;
			color: #ccc;
			&:after {
				background: #ccc;
				border-color: #ccc;
			}
		}

	}
}

