/**
 * Common SCSS
 *
 * Include variables and mixins that are used across the project.
 *
 * @since   1.6.0
 * @version 1.6.0
 */

// ----- LifterLMS Brand Colors ----- \\
$color-brand-dark-blue: #243c56;

$color-brand-blue: #2295ff;
$color-brand-blue-dark: darken( $color-brand-blue, 12 ); // #0077e4
$color-brand-blue-light: lighten( $color-brand-blue, 8 );

$color-brand-orange: #f8954f;
$color-brand-orange-dark: #f67d28;
$color-brand-orange-light: lighten( $color-brand-orange, 8 );

$color-brand-aqua: #17bebb;

$color-brand-pink: #ef476f;


// ----- Other Colors ----- \\
$color-grey-light: #dedede;
$color-grey-light-extra: #f0f0f0;
$color-editor-text: #555d66;

// ----- Mixins ----- \\
@mixin clearfix() {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}
