.llms-instructor {

	border: 1px solid $color-grey-light;
	margin-bottom: -1px;
	padding: 10px;
	position: relative;
	z-index: 100;

	.llms-instructor--header {
		display: flex;
		align-items: center;
		section {
			flex: 2;
			small {
				margin-left: 3px;
			}
		}
		aside {
			flex: 1;
			text-align: right;
		}
		.components-button.is-small.has-icon:not(.has-text) {
			min-width: 24px;
			padding: 0;
		}
		.dashicons-star-filled {
			color: #ffb900;
			margin: 2px 2px 0 0;
		}
	}

	&.llms-is-dragging {
		box-shadow: 0 4px 8px 2px $color-grey-light;
		border: 1px solid $color-grey-light;
		background: #fff;
		z-index: 999;
	}

	.llms-instructor--settings {
		margin-top: 10px;
	}

}
