.llms-shortcodes-modal {

	width: 800px;

	.llms-shortcodes-modal--main {
		display: flex;

		aside {
			flex: 1;
			padding-right: 16px;
		}

		section {
			flex: 2;
			padding-left: 16px;
		}

		.llms-table {
			tr td, tr th {
				text-align: left;
			}
		}

	}




}

