//
// Editor Styles for Admin Panel
//
// @since 1.6.0
// @version 2.4.3
//

.llms-invalid-control {

	margin-bottom: 24px;
	.components-base-control {
		margin-bottom: 0;
		.components-text-control__input {
			border-color: #cc1818;
			background-color: rgba( #cc1818, 0.05 );
		}
	}
	.llms-invalid-control--msg {
		background-color: rgba( #cc1818, 0.05 );
		border-left: 4px solid #cc1818;
		color: #cc1818;
		font-style: italic;
		font-size: 12px;
		margin-bottom: 0;
		padding: 6px 2px 6px 8px;
	}

}

.llms-pwd-meter {
	border: 1px solid #e35b5b;
	margin-top: 5px;
	border-radius: 4px;
	overflow: hidden;
	> div {
		background: rgba( 227, 91, 91, 0.25 );
		font-size: 75%;
		padding: 0 5px;
		width: 25%;
	}
}

.llms-field-group .block-editor-block-list__layout * {
	box-sizing: border-box;
}

.llms-fields {
	input,
	textarea {
		border: 1px solid #999;
		color: #757575;
		padding: 4px 8px;
		&:focus::placeholder {
			opacity: 0;
		}
		&::placeholder {
			color: #757575;
		}
	}

	input:not([type=radio]):not([type="checkbox"]),
	textarea,
	select {
		width: 100%;
	}

	input:not([type=radio]) {
		border-radius: 4px;
	}
	textarea { resize: none; }

	select {
		max-Width: none;
		pointer-events: none;
	}

	.llms-field {

		.block-editor-rich-text__editable {
			display: block;
		}

		label.llms-is-required {
			> div { display: inline; }
			&:after {
				content: '\00a0*';
				color: #dc5757;
			}
		}

	}

}


.llms-field-option {
	display: flex;
	align-items: top;
	margin-bottom: 4px;

	&.llms-sort-helper {
		background: #fff;
		border: 1px solid $color-grey-light;
		height: auto !important;
		padding: 5px 10px;
		z-index: 999;
	}

	.llms-field-opt-default {
		margin-top: 6px;
		.components-radio-control__input {
			margin-right: 0;
		}
	}

	.llms-field-opt-default,
	.llms-field-opt-text,
	.llms-field-opt-text .components-base-control__field {
		margin-bottom: 0 !important;
	}

	.llms-field-opt-db-key {
		display: flex;
		margin-top: 2px;
		.dashicon {
			margin-top: 5px;
			color: #5a5a5a;
		}
		.components-text-control__input {
			background: #f5f5f5;
			font-family: monospace;
		}
	}

	.llms-drag-handle {
		cursor: grab;
		flex: 0.8;
		padding-top: 6px;
		margin-top: 3px;
	}

	.llms-field-opt-default-wrap,
	.llms-del-field-opt-wrap {
		flex: 1;
		height: fit-content; // Make sure tooltip isn't out of place when keys are displaying.
	}

	.llms-del-field-opt-wrap {
		margin-left: 4px;
		button {
			margin-top: 3px;
			&[aria-expanded="true"], &:hover {
				color: #cc1818;
			}
		}
	}

	.llms-field-opt-text-wrap {
		flex: 7;
	}

}

.llms-field-options--footer {
	margin-top: 10px;
}

.llms-cols-12 .llms-field { width: 100%; }
.llms-cols-9 .llms-field { width: 75%; }
.llms-cols-8 .llms-field { width: 66.66%; }
.llms-cols-6 .llms-field { width: 50%; }
.llms-cols-4 .llms-field { width: 33.33%; }
.llms-cols-3 .llms-field { width: 25%; }

.llms-field-group[data-field-layout="columns"] {
	[class*=llms-cols-] .llms-field { width: 100%; }
	.llms-cols-12 { width: 100%; }
	.llms-cols-9 { width: 75%; }
	.llms-cols-8 { width: 66.66%; }
	.llms-cols-6 { width: 50%; }
	.llms-cols-4 { width: 33.33%; }
	.llms-cols-3 { width: 25%; }
	.block-editor-block-list__layout {
		> .wp-block.llms-fields {
			display: inline-block;
			&:nth-child( odd ) { padding-right: 28px; }
			&:nth-child( even ) { padding-left: 28px; }
		}
	}
}
