/******************************************************************

Form Styles

******************************************************************/

// lifterlms form wrapper
#llms-form-wrapper {

	// setup defaults
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	input[type="checkbox"],
	select,
	textarea,
	.llms-field {

		// a focused input (or hovered on)
		&:focus,
		&:active {

		} // end hover or focus
	}

	// sub wrapper for search filter form (analytics)
	.llms-search-form-wrapper {
		border-bottom: 1px solid $color-grey;
		margin: 20px 0;

	}


	#llms_analytics_search {
		border:none !important;
		text-shadow: none !important;
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
		margin: 0 !important;
		color: $color-white !important;
		background: $color-blue !important;
		border-radius: 0;
		transition: .5s;

		&:hover {
			background: $color-darkblue !important;

		}&:active {
			background: $color-lightblue !important;
		}
	}

} // end input defaults


#llms-skip-setup-form {
	.llms-admin-link {
		background:none!important;
		border:none;
		padding:0!important;
		color:#0074a2;
		cursor:pointer;
		&:hover {
			color:#2ea2cc
		}&:focus{
			color:#124964;
		}

	}

}

/**
 * Toggle Switch ( replaces checkbox on admin panels )
 */
.llms-switch {
	position: relative;

	.llms-toggle {
		position: absolute;
		margin-left: -9999px;
		visibility: hidden;
	}

	.llms-toggle + label {
		box-sizing: border-box;
		display: block;
		position: relative;
		cursor: pointer;
		outline: none;
		user-select: none;
	}

	input.llms-toggle-round + label {
		border: 2px solid #6c7781;
		border-radius: 10px;
		height: 20px;
		width: 36px;
	}
	input.llms-toggle-round + label:before,
	input.llms-toggle-round + label:after {
		box-sizing: border-box;
		content: '';
		display: block;
		position: absolute;
		transition: background 0.4s;
	}

	input.llms-toggle-round:checked + label {
		border-color: #11a0d2;
	 	background-color: #11a0d2;
	}

	// Primary dot (that moves.)
	input.llms-toggle-round + label:after {
		height: 12px;
		left: 2px;
		top: 2px;
		background-color: #6c7781;
		border-radius: 50%;
		transition: margin 0.4s;
		width: 12px;
		z-index: 3;
	}

	// Primary dot when toggle on.
	input.llms-toggle-round:checked + label:after {
		background-color: $color-white;
		margin-left: 16px;
	}

	// Secondary dot: empty on the right side of the toggle when toggled off.
	input.llms-toggle-round + label:before {
		height: 8px;
		top: 4px;
		border: 1px solid #6c7781;
		border-radius: 50%;
		right: 4px;
		width: 8px;
		z-index: 2;
	}

	input.llms-toggle-round:checked + label:before {
		border-color: $color-white;
		border-radius: 0;
		left: 6px;
		right: auto;
		width: 2px;
	}

}

#llms-profile-fields {
	margin: 50px 0;
	.llms-form-field {
		padding-left: 0;
	}
	label {
		display: block;
		font-weight: bold;
		padding: 8px 0 2px;
	}
	.type-checkbox .type-checkbox {
		label {
			display: initial;
			font-weight: initial;
			padding: 0;
		}
		input {
			display: inline-block;
			margin-bottom: 0;
			width: 1rem;
		}
	}
	select {
		max-width: 100%;
	}
}
