/******************************************************************

Metabox Tabs

******************************************************************/

// free space up if the metabox is on the side
#side-sortables .tab-content {
	padding: 0;
}

.llms-mb-container .tab-content{
    display: none;
    background: $color-white;
    padding: 15px;

    ul:not(.select2-selection__rendered)  {
        margin: 0;

        > li {
            padding: 20px 0;
            margin: 0;
            border-bottom: 1px solid $color-lightgrey;

            &.select:not([class*="d-"]) {
            	width: 100%;
            }

            &:last-child {
                border: 0;
                padding-bottom: 0;

            }

            &.top {
                border-bottom: 0;
                padding-bottom: 0;
            }

        }
    }

    .full-width { width: 100%; }

    #wp-content-editor-tools {
        background: none;
    }

}

.llms-mb-container .tab-content.llms-active{
    display: inherit;
}


.llms-mb-container .tab-content .no-border {
    border-bottom: 0px;
}
