.llms-widget {
	background-color: #FFF;
	border: 1px solid #dedede;
	border-radius: 12px;
	box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 2px 4px rgba(48, 49, 51, 0.1);
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	width: 100%;

	&.alt {

		border: 1px solid $color-lightgrey;
		background-color: #efefef;
		margin-bottom: 10px;

		.llms-label {
			color: #777;
			font-size: 14px;
			margin-bottom: 10px;
			padding-bottom: 5px;
		}

		h2 {
			color: #444;
			font-weight: 300;
		}

	}

	a {
		border-bottom: 1px dotted $color-brand-blue;
		display: inline-block;
		text-decoration: none;

		&:hover {
		border-bottom: 1px dotted $color-brand-blue-dark;
		}
	}

	h1 {
		color: $color-brand-blue;
		font-size: 2.4em;
		font-weight: 700;
		line-height: 1;
		word-break: break-all;
	}

	h2 {
		font-size: 1.8em;
	}

	.llms-label {
		box-sizing: border-box;
		font-size: 18px;
		font-weight: 400;
		margin: 0 0 10px 0;
		text-align: center;
	}

	.llms-chart {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}

	mark.yes {
		background-color: #7ad03a;
	}

	.llms-subtitle {
		margin-bottom: 0;
	}

	.spinner {
		float: none;
		left: 50%;
		margin: -10px 0 0 -10px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}

	&.is-loading {

		&:before {
			background: $color-white;
			bottom: 0;
			content: '';
			left: 0;
			opacity: 0.9;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		.spinner {
			visibility: visible;
		}

	}

	td[colspan="2"] {
		padding-left: 0;
	}

	tr.llms-disabled-field {
		opacity: 0.5;
		pointer-events: none;
	}

}

.llms-widget-1-3,
.llms-widget-1-4,
.llms-widget-1-5 {
	text-align: center;
}


.llms-widget {
	.llms-widget-info-toggle {
		color: #AAA;
		cursor: pointer;
		font-size: 16px;
		position: absolute;
		right: 20px;
		top: 20px;
	}

	&.info-showing {
		.llms-widget-info {
			display: block;
		}
	}
}
.llms-widget-info {
	background: $color-cinder;
	color: $color-white;
	bottom: -50px;
	display: none;
	padding: 15px;
	position: absolute;
	text-align: center;
	left: 10px;
	right: 15px;
	z-index: 3;
	&:before {
		content: '';
		border: 12px solid transparent;
		border-bottom-color: $color-cinder;
		left: 50%;
		margin-left: -12px;
		position: absolute;
		top: -24px;
	}

	p {
		margin: 0;
	}

}

.llms-widget-row {
	@include clearfix();
}

.llms-widget-row .no-padding {
	padding: 0 !important;
}
