version: 2
references:

  common_env_vars: &common_env_vars
    environment:
      - MYSQL_ROOT_HOST: "%"
      - WP_VERSION: latest

  common: &common
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Composer Dependencies
          command: composer install -n --prefer-dist

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}

      - run:
          name: Check Coding Standards
          command: composer run-script check-cs-errors

      - run:
          name: Install PHP Unit Tests
          command: composer run-script tests-install -- ${WP_VERSION}

      - run:
          name: Run PHP Unit Tests
          command: |
            if [ ! -z "${CC_TEST_REPORTER_ID}" ] && [ "test-php-73-wp-latest" == "${CIRCLE_JOB}" ]; then
                /cc-test-reporter before-build
                export COMPOSER_PROCESS_TIMEOUT=1200
                composer run-script tests-run -- --coverage-clover clover.xml
                /cc-test-reporter after-build --coverage-input-type clover --exit-code $?
            else
              composer run-script tests-run
            fi

jobs:
  test-php-71-wp-latest:
    docker:
      - image: thomasplevy/llms-testing-env:php71
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-72-wp-latest:
    docker:
      - image: thomasplevy/llms-testing-env:php72
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-73-wp-latest:
    docker:
      - image: thomasplevy/llms-testing-env:php73
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-73-wp-nightly:
    docker:
      - image: thomasplevy/llms-testing-env:php73
        environment:
          WP_VERSION: nightly
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-73-wp-5dot2:
    docker:
      - image: thomasplevy/llms-testing-env:php73
        environment:
          WP_VERSION: "5.2"
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-73-wp-5dot1:
    docker:
      - image: thomasplevy/llms-testing-env:php73
        environment:
          WP_VERSION: "5.1"
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-73-wp-5dot0:
    docker:
      - image: thomasplevy/llms-testing-env:php73
        environment:
          WP_VERSION: "5.0"
        <<: [ *common_env_vars ]
    <<: [ *common ]

workflows:
  version: 2
  test:
    jobs:
      - test-php-73-wp-latest
      - test-php-73-wp-nightly
      - test-php-73-wp-5dot2
      - test-php-73-wp-5dot1
      - test-php-73-wp-5dot0
      - test-php-72-wp-latest
      - test-php-71-wp-latest
