version: 2
references:

  common_env_vars: &common_env_vars
    environment:
      - MYSQL_ROOT_HOST: "%"
      - WP_VERSION: latest

  common: &common
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Composer Dependencies
          command: composer install -n --prefer-dist

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}

      - run:
          name: Check Coding Standards
          command: composer run-script check-cs-errors

      - run:
          name: Install PHP Unit Tests
          command: composer run-script tests-install -- ${WP_VERSION}

      - run:
          name: Run PHP Unit Tests
          command: |
            if [ ! -z "${CC_TEST_REPORTER_ID}" ] && [ "test-php-74-wp-latest" == "${CIRCLE_JOB}" ]; then
                /cc-test-reporter before-build
                export COMPOSER_PROCESS_TIMEOUT=1200
                composer run-script tests-run -- --coverage-clover clover.xml
                /cc-test-reporter after-build --coverage-input-type clover --exit-code $?
            else
              composer run-script tests-run
            fi

jobs:
  # Supported WP Versions of WP Latest.
  test-php-71-wp-latest:
    docker:
      - image: thomasplevy/llms-testing-env:php71
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-72-wp-latest:
    docker:
      - image: thomasplevy/llms-testing-env:php72
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-73-wp-latest:
    docker:
      - image: thomasplevy/llms-testing-env:php73
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-74-wp-latest:
    docker:
      - image: thomasplevy/llms-testing-env:php74
        <<: [ *common_env_vars ]
    <<: [ *common ]

  # Test Other WP Versions on PHP Latest Only.
  test-php-74-wp-nightly:
    docker:
      - image: thomasplevy/llms-testing-env:php74
        environment:
          WP_VERSION: nightly
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-74-wp-5dot2:
    docker:
      - image: thomasplevy/llms-testing-env:php74
        environment:
          WP_VERSION: "5.2"
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-w74-p-5dot1:
    docker:
      - image: thomasplevy/llms-testing-env:php74
        environment:
          WP_VERSION: "5.1"
        <<: [ *common_env_vars ]
    <<: [ *common ]

  test-php-74-wp-5dot0:
    docker:
      - image: thomasplevy/llms-testing-env:php74
        environment:
          WP_VERSION: "5.0"
        <<: [ *common_env_vars ]
    <<: [ *common ]

  # TODO: This workflow doesn't work.
  test-e2e:
    docker:
      - image: circleci/php:latest
    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker

      - restore_cache:
          keys:
          - v1-dependencies-php-{{ checksum "composer.json" }}
          - v1-dependencies-php-

      - run:
          name: Build LifterLMS Source
          command: composer install -n --no-dev --no-scripts --prefer-dist

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-php-{{ checksum "composer.json" }}

      - run:
          name: Update apt PPA
          command: curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -

      - run:
          name: Install Node
          command: sudo apt-get install -y nodejs

      - restore_cache:
          keys:
          - v1-dependencies-js-{{ checksum "package.json" }}
          - v1-dependencies-js-

      - run:
          name: Update npm
          command: sudo npm install -g npm@latest

      - run:
          name: Install Node Dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-js-{{ checksum "package.json" }}

      - run:
          name: Install environment
          command: npm run env install

      - run:
          name: Run tests
          command: npm run tests


workflows:
  version: 2
  test:
    jobs:
      - test-php-71-wp-latest
      - test-php-72-wp-latest
      - test-php-73-wp-latest
      - test-php-74-wp-latest
      - test-php-74-wp-5dot0
      - test-php-74-wp-5dot1
      - test-php-74-wp-5dot2
      - test-php-74-wp-nightly
      # - test-e2e
