/******************************************************************

Desktop Stylsheet

******************************************************************/

//option page tab menu
.llms-nav-tab {
	display: inline-block;
	width: 33.333%;
}
.llms-nav-tab-settings {
	display: inline-block;
	width: 25%;
}

//select box form wrapper
#llms-form-wrapper {
	.llms-select {
		display: inline-block;
		width: 47.5%;
		&:first-child {
			margin-right: 5%;
		}

	}.llms-filter-options {
		display: inline-block;
		width: 47.5%;

		&.date-filter {
			margin-right: 5%;
		}.llms-date-select {
			margin-bottom: 0;
		}

	}.llms-date-select {
		width: 47.5%;

		&:first-child {
			margin-right: 5%
		}

	}
}

.llms-widget-row {
	@include clearfix;
	.llms-widget-1-5 {
		vertical-align: top;
		width: 20%;
		float: left;
		box-sizing: border-box;
		padding: 0 5px;
	}
	.llms-widget-1-4 {
		vertical-align: top;
		width: 25%;
		float: left;
		box-sizing: border-box;
		padding: 0 5px;
	}
	.llms-widget-1-3 {
		width: 33.3%;
		float: left;
		box-sizing: border-box;
		padding: 0 5px;
	}
	.llms-widget-1-2 {
		width: 50%;
		float: left;
		box-sizing: border-box;
		padding: 0 5px;
		vertical-align: top;
	}

}
