/******************************************************************

large Monitor Stylsheet

******************************************************************/

.llms-nav-tab-filters,
.llms-nav-tab-settings {
	float: left;
	width: 12.5%;
}
