@import "_includes/vars";


#llms-setup-wizard {

	background-color: #f1f1f1;
	height: 100%;
	left: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 777777;

}

.select2-container {
	z-index: 7777777;
}

.llms-setup-wrapper {
	margin: 60px auto;
	max-width: 640px;
}

a.dashboard-return {
	color: #aaa;
	display: block;
	margin-top: 10px;
	text-align: center;
}

#llms-logo {
	text-align: center;

	img {
		max-width: 400px;
	}
}

.llms-setup-content {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, .13 );
	padding: 15px 30px;

	h1, h2, h3, h4, h5, h6 {
		color: #444;
	}

	a:not( .llms-button-primary ):not( .llms-button-secondary ) {
		color: $color-brand-blue;
	}

	p, li {
		color: #666;
		font-size: 16px;
	}

	p.error {
		color: $color-red;
		text-align: center;
	}

	label {
		font-weight: 500;
	}

	.llms-setup-actions {
		margin-top: 40px;
		text-align: right;
	}

	.back-link {
		margin-right: 10px;
	}

	table {
		border-bottom: 1px solid #f1f1f1;
		border-collapse: collapse;
		width: 100%;
	}


	td {
		border-top: 1px solid #f1f1f1;
		&:first-child {
			padding-right: 10px;
			width: 33%;
			a {
				// text-decoration: none;
				font-size: 16px;
				font-weight: 500;
			}
		}
	}

}

.llms-setup-progress {
	display: flex;
	margin: 20px 0;

	li {
		border-bottom: 4px solid $color-brand-blue;
		color: $color-brand-blue;
		display: inline-block;
		font-size: 14px;
		padding-bottom: 10px;
		position: relative;
		text-align: center;
		flex: 1;

		&:after {
			background: $color-brand-blue;
			bottom: 0;
			content: '';
			border: 4px solid $color-brand-blue;
			border-radius: 100%;
			height: 4px;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			margin-bottom: -8px;
			width: 4px;
		}

		&.current {
			&:after {
				background: #fff;
			}
		}

		&.current ~ li {
			border-bottom-color: #ccc;
			color: #ccc;
			&:after {
				background: #ccc;
				border-color: #ccc;
			}
		}

	}
}

