@import "_includes/vars";

#wpadminbar, #adminmenumain, #wpfooter {
	display: none;
}

#llms-setup-wizard {

	background-color: #f1f1f1;
	height: 100%;
	left: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 100%;
}

.llms-setup-wrapper {
	margin: 60px auto;
	max-width: 640px;
}

a.dashboard-return {
	color: #aaa;
	display: block;
	margin-top: 10px;
	text-align: center;
}

#llms-logo {
	text-align: center;

	img {
		max-width: 260px;
	}
}

.llms-setup-content {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, .13 );
	padding: 15px 30px;

	h1, h2, h3, h4, h5, h6 {
		color: #444;
	}

	a:not( .llms-button-primary ):not( .llms-button-secondary ) {
		color: $color-brand-blue;
	}

	p, li {
		color: #666;
		font-size: 16px;
	}

	p.error {
		color: $color-red;
		text-align: center;
	}

	label {
		font-weight: 500;
	}

	.llms-setup-actions {
		margin-top: 40px;
		text-align: right;
	}

	.back-link {
		margin-right: 10px;
	}

	table {
		border-bottom: 1px solid #f1f1f1;
		border-collapse: collapse;
		width: 100%;
	}


	td {
		border-top: 1px solid #f1f1f1;
		&:first-child {
			padding-right: 10px;
			width: 33%;
			a {
				font-size: 16px;
				font-weight: 500;
			}
		}
	}

	ul.llms-importable-courses {
		li.llms-importable-course {
			position: relative;
			input {
				display: none;
				~ * {
					opacity: 0.8;
					transition: opacity 0.1s linear;
				}
			}
			input:checked ~ {
				* {
					opacity: 1;
				}
				.dashicons-yes-alt { opacity: 1; }
			}
			.dashicons-yes-alt {
				color: #fff;
				font-size: 30px;
				opacity: 0;
				position: absolute;
				right: 20px;
				top: 5px;
				z-index: 1;
			}
			h3 {
				font-size: 1em;
				margin: 10px 0 5px;
			}
			p {
				margin: 0
			}
		}
	}

	// ul.llms-sample-imports {
	// 	display: flex;
	// 	li {
	// 		flex: 1;
	// 		position: relative;
	// 		margin: 5px;
	// 		img {
	// 			display: block;
	// 			transition: transform 0.1s linear;
	// 			max-width: 100%;
	// 		}
	// 		h4, p {
	// 			margin: 5px 0 0;
	// 		}
	// 		p {
	// 			line-height: 1.2;
	// 		}
	// 	}
	// }

}

.llms-setup-progress {
	display: flex;
	margin: 20px 0;

	li {
		border-bottom: 4px solid $color-brand-blue;
		color: $color-brand-blue;
		display: inline-block;
		font-size: 14px;
		padding-bottom: 10px;
		position: relative;
		text-align: center;
		flex: 1;

		&:after {
			background: $color-brand-blue;
			bottom: 0;
			content: '';
			border: 4px solid $color-brand-blue;
			border-radius: 100%;
			height: 4px;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			margin-bottom: -8px;
			width: 4px;
		}

		&.current {
			&:after {
				background: #fff;
			}
		}

		&.current ~ li {
			border-bottom-color: #ccc;
			color: #ccc;
			&:after {
				background: #ccc;
				border-color: #ccc;
			}
		}

	}
}

