@import "_includes/vars";

#wpadminbar, #adminmenumain, #wpfooter {
	display: none;
}

#llms-setup-wizard {

	background-color: #F0F0F1;
	height: 100%;
	left: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 100%;

}

.llms-setup-wrapper {
	margin: 30px auto;
	max-width: 640px;
}

#llms-logo {
	text-align: center;

	a {
		display: inline-block;
	}

	img {
		max-width: 200px;
	}

}

.llms-setup-content {
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	padding: 30px;

	h1, h2, h3, h4, h5, h6 {
		color: #3C434A;
	}

	a:not( .llms-button-primary ):not( .llms-button-secondary ) {
		color: $color-brand-blue;
	}

	p, li {
		color: #3C434A;
		font-size: 16px;
	}

	p.error {
		color: $color-red;
		text-align: center;
	}

	label {
		font-weight: 500;
	}

	.llms-setup-actions {
		margin-top: 40px;
		text-align: right;

		.llms-button-primary {
			display: inline-block;

			&:after {
				content: "\f054";
				font-family: 'FontAwesome';
				font-weight: 900;
				padding-left: 10px;
			}

		}
	}

	.llms-exit-setup {
		color: inherit !important;
		margin-right: 10px;
	}

	table {
		border-bottom: 1px solid #f1f1f1;
		border-collapse: collapse;
		width: 100%;
	}


	td {
		border-top: 1px solid #f1f1f1;

		&:first-child {
			padding-right: 10px;
			width: 33%;

			a {
				font-size: 16px;
				font-weight: 500;
			}

			i {
				display: block;
				font-size: 13px;
				margin-top: 10px;

				a {
					font-size: 13px;
				}
			}

		}

	}

	ul.llms-importable-courses {
		border-bottom: 1px solid #f1f1f1;
		display: block;

		li.llms-importable-course {
			border-top: 1px solid #f1f1f1;
			display: block;
			margin: 0;
			max-width: 100%;
			padding: 20px 40px 20px 0;

			h3 {
				margin: 0;
			}

			p {
				margin: 10px 0 0 0;
			}

			label {
				font-weight: 400;
			}

			img {
				float: left;
				margin-right: 15px;
				width: 22%;
			}

			.llms-switch {
				float: right;
				right: -40px;

				input.llms-toggle-round:checked + label {
					border-color: $color-brand-blue;
				 	background-color: $color-brand-blue;
				}

			}

		}
	}


	.llms-importing-msgs {
		a { color: $color-brand-blue; }
		.llms-importing-msg {
			display: none;
			font-size: 14px;
			font-style: italic;
			text-align: right;
		}
	}

}

.llms-setup-progress {
	display: flex;
	margin: 20px 0;

	li {
		border-bottom: 4px solid $color-brand-blue;
		display: inline-block;
		font-size: 14px;
		padding-bottom: 10px;
		position: relative;
		text-align: center;
		flex: 1;

		a {
			color: $color-brand-blue;
			text-decoration: none;
		}

		&:after {
			background: $color-brand-blue;
			bottom: 0;
			content: '';
			border: 4px solid $color-brand-blue;
			border-radius: 100%;
			height: 4px;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			margin-bottom: -8px;
			width: 4px;
		}

		&.current {
			font-weight: 700;
			&:after {
				background: #fff;
			}
		}

		&.current ~ li {
			border-bottom-color: #ccc;
			&:after {
				background: #ccc;
				border-color: #ccc;
			}
			a {
				color: #bbb;
			}
		}

	}
}

