/**
 * Reset.
 */
body {
	background-color: #fff;
	background-image: none;
	margin: 0 auto;
}

.header, .footer,
.wrap-header, .wrap-footer,
.site-header, .site-footer,
.nav-primary, .primary-nav {
	display: none;
}

.llms-certificate-container {
	margin: 40px auto 0;
}

/**
 * Legacy Template.
 */
.llms-certificate-container:not(.cert-template-v2) {

	padding: 0;
	overflow: hidden;

	.certificate-background {
		position: relative;
		z-index: 1;
		width: 100%;
		display: block;
	}

	.llms_certificate,
	.llms_my_certificate {
		margin: 80px;
		position: relative;
		z-index: 2;
	}

	h1:first-child {
		text-align: center;
	}

}

/**
 * V2 Template
 */
.llms-certificate-wrapper {
	margin: 0 auto;
}
.llms-certificate-container.cert-template-v2 {
	width: 100%;
	height: 100%;
	background-size: 100% 100% !important;
	box-sizing: border-box; 

	.wp-block-columns .wp-block-column > * {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}

/**
 * Certificate Actions Footer.
 */
.llms-print-certificate {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;

	form {
		display: inline;
	}
}



@media print {

	html, body {
		color-adjust: exact !important;
		height: 100%;
		overflow: hidden;
	}

	@page { size: auto; }

	.no-print {
		display: none;
	}

	// Make everything on the page invisible.
	body * {
		visibility: hidden !important;
		background: #fff none;
	}

	.site, .site-content {
		overflow: visible;
	}

	// Remove all headers, menus and footers.
	header, aside, nav, footer {
		display: none !important;
	}

	// Make sure a .container parent doesn't shift the certificate see: https://github.com/gocodebox/lifterlms/issues/1163.
	.single-llms_my_certificate .container,
	.single-llms_certificate .container {
		width: 100%;
	}

	// Make only the certificate container and its children visible.
	.llms-certificate-container,
	.llms-certificate-container * {
		visibility: visible !important;
		background: transparent none;
	}

 	// Position certificate absolutely and center horizontally.
	.llms-certificate-container:not(.cert-template-v2) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		background: #fff none;
	}

	.llms-certificate-container.cert-template-v2 {
		margin: 0 auto !important;
		color-adjust: exact !important;
		transform: scale( 0.95 ); // Don't ram the edge of the paper.
	}

}
