.components-form-token-field,
.components-number-control,
.components-range-control {
	width: 100%;
}

.llms-block-empty,
.llms-block-error {
	padding: 1em;
	border: 1px solid #e0e0e0;
	font-size: 16px;
}

.llms-block-empty {
	font-style: italic;
}

.wp-block .llms-button-primary {
	color: #fff !important;
	text-decoration: none;
}

.llms-navigation-link-settings .components-panel__row > .components-base-control {
	width: 100%;
}

.llms-block-icon {
	transform: scale(0.75);
}

// Fixes core range control component flex issue.
.components-range-control__root {
	height: 3em;
}
