//
// Main Frontend CSS File
//

@import "_includes/vars";
@import "_includes/extends";
@import "_includes/grid";
@import "_includes/mixins";
@import "_includes/buttons";
@import "_includes/llms-donut";
@import "_includes/tooltip";

@import "frontend/main";
@import "frontend/loop";
@import "frontend/course";
@import "frontend/syllabus";
@import "frontend/llms-progress";
@import "frontend/llms-author";

@import "frontend/notices";
@import "frontend/llms-achievements-certs";
@import "frontend/llms-notifications";
@import "frontend/llms-pagination";
@import "frontend/tooltip";


@import "frontend/llms-quizzes";

@import "frontend/voucher";
@import "frontend/llms-access-plans";
@import "frontend/checkout";
@import "_includes/llms-form-field";

@import "frontend/llms-outline-collapse";

@import "frontend/student-dashboard";
@import "frontend/llms-table";

@import "_includes/vendor/_font-awesome";
@import "_includes/spinner";
