@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  src: url('./pirata-one-v22-latin-regular.woff2'); /* Super Modern Browsers */
  src: local('Pirata One'),
       url('./pirata-one-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('.pirata-one-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
      }