/* checkout form */
.llms-checkout-wrapper {
	border: 1px solid #f5f5f5;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;

	.llms-checkout {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

		border-top:6px solid $color-red;


		> h4 {
			background-color: #f5f5f5;
			padding: 6px 10px;
			margin: 0;
		}

		.llms-title-wrapper {
			border-bottom: 2px solid #f5f5f5;
			display: block;
			width: 100%;

			p {
				padding: 0 10px;
				margin: 10px 0;
			}
			h4 {
				padding: 0 10px;
				margin: 10px 0;
			}
		}

		.llms-price {
			margin-bottom: 0;
		}

		.llms-price-wrapper {
			margin: 20px;
			font-size: 16px;

		}

		.llms-form-wrapper {
			padding: 0 10px;
			margin: 10px 0;border-bottom: 2px solid #f5f5f5;
		}
	}

	.llms-login-fields,
	.llms-register-fields {
		display: none;

		&.active {
			display: block;
		}
	}

}


.llms-coupon-entry {

	.llms-checkout-coupon {
		display: none;
		margin-top: 10px;
	}

	.llms-clear-box	{
		margin-bottom: 5px;
		padding: 5px 0 0;
	}

	&.active {

		.llms-info {

			.llms-coupon-toggle-button {
				display: none;
			}

		}


		.llms-checkout-coupon {
			display: block;
		}

	}

}
