.llms-access-plans {
	@extend %clearfix;

	@media all and (min-width: 600px) {
		$cols: 1;
		@while $cols <= 5 {
			&.cols-#{$cols} .llms-access-plan {
				width: 100% / $cols;
			}
			$cols: $cols + 1;
		}
	}

}


.llms-access-plan {
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 100%;

	.llms-access-plan-footer,
	.llms-access-plan-content {
		background: #f1f1f1;
	}

	&.featured {

		.llms-access-plan-featured {
			background: lighten( $color-brand-blue, 8 );
		}

		.llms-access-plan-footer,
		.llms-access-plan-content {
			border-left: 3px solid $color-brand-blue;
			border-right: 3px solid $color-brand-blue;
		}

		.llms-access-plan-footer {
			border-bottom-color: $color-brand-blue;
		}

	}

	&.on-sale {
		.price-regular { text-decoration: line-through; }
	}

	.stamp {
		background: $color-brand-blue;
		color: #fff;
		font-size: 11px;
		font-style: normal;
		font-weight: 300;
		padding: 2px 3px;
		vertical-align: top;
	}

}
	.llms-access-plan-featured {
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		margin: 0 2px 0 2px;
	}

	.llms-access-plan-content {
		margin: 0 2px 0;

		.llms-access-plan-pricing {
			padding: 10px 0 0;
		}
	}

		.llms-access-plan-title {
			background: $color-brand-blue;
			color: #fff;
			margin-bottom: 0;
			padding: 10px;
		}

		.llms-access-plan-pricing {

			.llms-price-currency-symbol {
				font-size: 14px;
				vertical-align: top;
			}

		}

			.llms-access-plan-price {
				font-size: 18px;
				font-variant: small-caps;
				line-height: 20px;

				.lifterlms-price {
					font-weight: 700;
				}

				&.sale {
					padding: 5px 0;
					border-top: 1px solid #d0d0d0;
					border-bottom: 1px solid #d0d0d0;
				}
			}

			.llms-access-plan-trial,
			.llms-access-plan-schedule,
			.llms-access-plan-sale-end,
			.llms-access-plan-expiration {
				font-size: 15px;
				font-variant: small-caps;
				line-height: 1.2;
			}

		.llms-access-plan-description {
			font-size: 16px;
			padding: 10px 10px 0;

			ul {
				margin: 0;
				li {
					border-bottom: 1px solid #d0d0d0;
					list-style-type: none;
					&:last-child {
						border-bottom: none;
					}
				}
			}

			div, img, p, ul, li {
				&:last-child { margin-bottom: 0; }
			}
		}

		.llms-access-plan-restrictions {
			.stamp {
				vertical-align: baseline;
			}
			ul {
				margin: 0;
				li {
					font-size: 12px;
					line-height: 14px;
					list-style-type: none;
				}
			}
		}

	.llms-access-plan-footer {
		border-bottom: 3px solid #f1f1f1;
		padding: 10px;
		margin: 0 2px 2px 2px;

		.llms-button {
			position: relative;
			.llms-tooltip {
				min-width: 280px;
				z-index: 1;
			}
		}

		.llms-access-plan-pricing {
			padding: 0 0 10px;
		}
	}
