/* progress bar */
.llms-progress {
	clear: both;
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	height: 1em;
	width: 100%;
	margin: 15px 0;
}

.llms-progress .llms-progress-bar {
	background-color: #f1f2f1;
	position: relative;
	height: .4em;
	top: .3em;
	width: 100%;
}

.llms-progress .progress-bar-complete {
	background-color: $color-brand-pink;
	height: 100%;
}

.progress__indicator {
	float: right;
	text-align: right;
	height: 1em;
	line-height: 1em;
	margin-left: 5px;
	white-space: nowrap;
}
