.llms-widget-syllabus--collapsible {

	.llms-section {

		.section-header {

			cursor: pointer;

		}

		&.llms-section--opened {

			.llms-collapse-caret {
				.fa-caret-right { display: none; }
			}

		}

		&.llms-section--closed {

			.llms-collapse-caret {
				.fa-caret-down { display: none; }
			}

			.llms-lesson {
				display: none;
			}

		}

	}

	.llms-syllabus-footer {

		text-align: left;

	}

}
