/* progress bar */
.llms-progress {
	clear: both;
	position: relative;
	height: 1em;
	width: 100%;
	margin: 15px 0;
}

.llms-progress .llms-progress-bar {
	background-color: #f1f2f1;
	position: absolute;
	height: .4em;
	left: 0;
	right: 3em;
	top: .3em;
}

.llms-progress .progress-bar-complete {
	background-color: $color-aqua;
	position: absolute;
	height: 100%;
}

.progress__indicator {
	float: right;
	width: 3em;
	text-align: right;
	height: 1em;
	line-height: 1em;
}
