*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.llms-button {
	background: $color-red;
	border-radius: 3px;
	color: $color-white;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	transition: background .4s ease;
	text-decoration: none;

	&:visited {
		color: $color-white;
		text-decoration: none;
	}
	&:hover {
		background: $color-red-hover;
		text-decoration: none;
		color: $color-white;
	}
}
.course-link .llms-button {
	color: $color-white;
	text-decoration: none;
	&:hover {
		color: $color-white;
		text-decoration: none;
	}

}
.llms-purchase-link-wrapper {
	.llms-purchase-button.llms-button {
		color: $color-white;
		text-decoration: none;
		&:visited{
			color: $color-white;
			text-decoration: none;
	}
		&:hover {
			color: $color-white;
			text-decoration: none;
		}
	}
}
.course-link .llms-button {
	color: $color-white;
	text-decoration: none;
	&:visited{
		color: $color-white;
		text-decoration: none;
	}
	&:hover {
		color: $color-white;
		text-decoration: none;
	}
}

.hentry .course-link .llms-button {
	color: $color-white;
	text-decoration: none;
	&:visited{
		color: $color-white;
		text-decoration: none;
	}
	&:hover {
		color: $color-white;
		text-decoration: none;
	}
}

.llms-course-list {

	.llms-membership-link {
		@extend %llms-element;

		display: block
	}

	.llms-membership-footer {
		border-top: 3px solid $color-white;
		margin: 15px -15px 0;
		padding: 15px 15px 0;
		text-align: center;
	}

}

.llms-membership-image {
	display: block;
	margin: 0 auto;
}

.llms-membership-list .memberships {
	border-top: 1px solid #f6f6f6;
	width: 100%;
	display: inline-block;
	text-align: center;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
}

.llms-membership-list .memberships li {
	width: 300px;
	margin: 15px;
	list-style: none;
	vertical-align: top;
	display: inline-block;
	text-align: left;
}

.llms-membership-list .memberships li.first {
	margin-left: 0;
}

.llms-membership-list .memberships li.last {
	margin-right: 15px;
}

.llms-membership-list .memberships li .llms-title {
	display: block;
	font-weight: 700;
	margin-bottom: .5em;
	font-size: 18px;
	text-decoration: none;
	line-height: 30px;
}

.llms-membership-list .memberships li .llms-price {
	display: block;
	font-weight: 700;
	margin-bottom: .5em;
	font-size: 24px;
	text-decoration: none;
	line-height: 30px;
}

.llms-course-list {
	//margin: 30px 0;
	padding: 30px;
	//background: #FFF;
	// border-radius: 2px;
	display: inline-block;
	width: 100%;

	.llms-course-link {
		@extend %llms-element;

		display: block
	}

	.llms-course-footer {
		border-top: 3px solid $color-white;
		margin: 15px -15px 0;
		padding: 15px 15px 0;
		text-align: center;
	}

	.llms-progress {
		margin-top: 0;
		// .progress-bar {
			// background-color: $color-white;
		// }
	}

}

.llms-course-image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.llms-featured-image {
	display: block;
	margin: 0 auto 10px auto;
}
.llms-image-thumb {
	width: 150px;
}

.llms-course-list .courses {
	//border-top: 1px solid #f6f6f6;
	width: 100%;
	display: inline-block;
	text-align: center;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
}

.llms-course-list .courses li {
	width: 300px;
	margin: 15px;
	list-style: none;
	vertical-align: top;
	display: inline-block;
	text-align: left;
}

// .llms-course-list .courses li.first {
// 	margin-left: 0;
// }

.llms-course-list .courses li.last {
	margin-right: 15px;
}

.llms-course-list .courses li .llms-title {
	display: block;
	font-weight: 700;
	margin-bottom: .5em;
	font-size: 18px;
	text-decoration: none;
	line-height: 30px;
}

.llms-course-list .courses li .llms-price {
	display: block;
	font-weight: 700;
	margin-bottom: .5em;
	font-size: 24px;
	text-decoration: none;
	line-height: 30px;
}
.llms-video-wrapper {
	text-align: center;
	margin-bottom: 10px;
}








.llms-syllabus-wrapper {
	padding: 15px;
	text-align: center;
	h3 { margin-bottom: 0;
	}
}

//
// LESSON PREVIEW
//
.llms-lesson-preview {
	display: inline-block;
	margin: 15px;
	text-align: left;
	vertical-align: top;
	width: 500px;
	max-width: 100%;
	max-width: calc(100% - 30px);

	&.is-complete .llms-lesson-link {
		padding-left: 75px;
	}

	.llms-lesson-link {
		@extend %cf;
		@extend %llms-element;
		&:visited {
		color: inherit;
		}
	}

	.llms-lesson-complete {
		color: $color-red;
		font-size: 3em;
		line-height: 1;
		margin-right: .25em;

		@include absolute(top 15px left 15px);
	}

	.llms-lesson-title {
		padding-right: 60px;
		margin: 0 0 .25em 0;
	}

	.llms-lesson-counter {
		@include absolute(top 15px right 15px);
	}

	.llms-lesson-excerpt {
		clear: both;
	}

}

.llms-course-navigation .llms-lesson-preview.previous {
		float: left;
		width: 50%;
		margin: 0;
		max-width: 300px;

		h5 {
			margin: 0;
		}

		p {
			font-size: .8em;
		}
	}
	.llms-course-navigation .llms-lesson-preview.next {
		float: right;
		width: 50%;
		margin: 0;
		max-width: 300px;

		h5 {
			margin: 0;
		}

		p {
			font-size: .8em;
		}
	}


//
// Course Navigation
//
.llms-course-navigation {
	// @extend %cf;

	text-align: center;
	padding: 30px 0;

	.prev-lesson,
	.next-lesson,
	.parent-course {
		display: inline-block;
		width: 28%;
		margin: 0;
	}
	.parent-course {
		@media screen and (max-width: $break-medium) {
		    display: none;
		}
	}
}




.clear {
	clear: both;
	width: 100%;
}
.llms-featured-image {
	text-align: center;
}
.llms-featured-image > img {
}

.llms-purchase-link-wrapper {
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}
.llms-length-wrapper {
	margin-top: 20px;
}

.llms-length-wrapper p {
	margin: 0;
}
/* My Quizes */
.llms-quiz-results {
	font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
	position: relative;
}
.llms-quiz-results > h3 {
	background-color: #f5f5f5;
	padding: 4px;
}


/* My Courses */
.llms-my-courses {
	font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}

.llms-my-courses a {
	-webkit-filter: brightness(100%);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.llms-my-courses ul.listing-courses {
	width: 100%;
	margin: 0;
	padding: 0;
}

.llms-my-courses > h3 {
	background-color: #f5f5f5;
	padding: 4px;
}

.llms-my-courses ul.listing-courses li.course-item {
	margin: 10px 0;
	padding: 10px 0;
	list-style-type: none;
	width: 100%;
	border-bottom: 2px solid #f5f5f5;
}
.llms-my-courses ul.listing-courses li.course-item:first-child {
	border-bottom: 2px solid #f5f5f5;
}

.llms-my-courses ul.listing-courses li.course-item .course .course-image {
	float: left;
	margin-right: 20px;
	border: 1px solid #f5f5f5;
	padding: 4px;
	overflow: hidden;
	@media screen and (max-width: $break-small) {
    width: 100%
  }
}

.llms-my-courses ul.listing-courses li.course-item .course .course-image img {
	-webkit-filter: brightness(100%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.llms-my-courses ul.listing-courses li.course-item .course .course-image img:hover {
	-webkit-filter: brightness(80%);

}

.llms-my-courses ul.listing-courses li.course-item .course h3 {
	margin: 10px 0;
	display: block;
	clear: none;
}

.llms-my-courses ul.listing-courses li.course-item .course p {
	margin: 0;
}

.llms-my-courses ul.listing-courses li.course-item .course hgroup {

}

.llms-my-courses ul.listing-courses li.course-item .course .info {
	float: left;
	width: 100%;
}

.llms-sts-enrollment {
	display: inline-block;
}

.llms-sts-enrollment .llms-sts-current {
	font-weight: 400;
}

.llms-start-date {
	float: right;
	text-align: right;
	@media screen and (max-width: $break-small) {
    float: none;
    text-align: left;
  }
}

.llms-my-courses ul.listing-courses li.course-item .course .course-message {
	border-radius: 3px;
	z-index: 10;
	margin: 10px 0;
	padding: 15px 20px;
	background: #fffef4;
	border: 1px solid #ccc;
}

.course-message p {
	margin: 0;
}

// .grade-value, .author, .length, .difficulty, span {
// font-size: 1.2rem;
// font-weight: bold;
// }

.course-link {
	text-align: center;
}

.account-links {
	text-align: left;
	margin-bottom: 40px;
}

/* progress bar */
.llms-progress {
	position: relative;
	height: 1em;
	width: 100%;
	margin: 15px 0;
}

.llms-progress .progress-bar {
	background-color: #f1f2f1;
	position: absolute;
	height: .4em;
	left: 0;
	right: 3em;
	top: .3em;
}

.llms-progress .progress-bar-complete {
	background-color: $color-red;
	position: absolute;
	height: 100%;
}

.progress__indicator {
	float: right;
	width: 3em;
	text-align: right;
	height: 1em;
	line-height: 1em;
}

/* my certificates grid */
.llms-my-certificates {
	font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;

	h3 {
		background-color: #f5f5f5;
		padding: 4px;
	}

	ul.listing-certificates {
		width: 100%;
		margin: 0;

		li.certificate-item {
			border-radius: 3px;
			z-index: 10;
			margin: 10px 0;
			padding: 15px 20px;
			background: #fffef4;
			border: 1px solid #ccc;
			list-style-type: none;
			width: 100%;
			overflow: auto;

			div {
				display: block;
				width: 30%;
				float: left;
				text-align: right;

				p, h4 {
					margin: 0;
				}
			}
			div:first-child {
				width: 40%;
				text-align: left;
			}
			div:last-child {

			}
		}
	}
}

.llms-my-achievements {
	font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;

	ul.listing-achievements {
		@extend %cf;

		margin: 0;
		width: 100%;

		li.achievement-item {
			border-radius: 3px;
			margin: 1% 1% 0 0;
			padding: 15px 20px;
			background: #fffef4;
			border: 1px solid #ccc;
			list-style-type: none;
			width: 32.333%;
			overflow: auto;
			min-width: 200px;
			z-index: 10;
			float: left;
			text-align: center;

			p, h4 {
				margin: 0;
			}
		}
	}
}


/* Genisis Overrides */
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

#main-content .llms-payment-options p {
	margin: 0;
	font-size: 16px;
}

/* checkout form */
.llms-checkout-wrapper {
	border: 1px solid #f5f5f5;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;

	.llms-checkout {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

		border-top:6px solid $color-red;


		> h4 {
		background-color: #f5f5f5;
		padding: 6px 10px;
		margin: 0;
		}

		.llms-title-wrapper {
			display: block;
			width: 100%;
			border-bottom: 2px solid #f5f5f5;

			p {
				padding: 0 10px;
				margin: 10px 0;
			}
			h4 {
				padding: 0 10px;
				margin: 10px 0;
			}
		}

		.llms-price-wrapper {
			margin: 20px;
			text-size: 16px;
			//background:#fff;



			.llms-payment-options {

			 }
		}
	}
}

.llms-option {
	display: block;
	position: relative;
	margin: 20px 0;
	padding-left:40px;
	font-size: 16px;

	label {
		cursor: pointer;
		position: static;
	}
}
.llms-option:first-child {
	margin-top:0;
}
.llms-option:last-child {
	margin-bottom:0;
}
#main-content .llms-option:last-child {
	margin-bottom:0;
}

.llms-option input[type="radio"] {
  display: block;
	position: absolute;
	top:3px;
	left:0;
	z-index: 0;
}

.llms-option input[type="radio"] {
	display: inline-block;
}
.llms-option input[type="radio"] + label span.llms-radio {
	display: none;
}

.llms-option input[type="radio"] + label span.llms-radio {
	appearance: none;

	z-index: 20;
	position: absolute;
	top: 0;
	left: -2px;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;

	background: #efefef;
	background-image: radial-gradient(ellipse at center,  $color-red 0%,$color-red 40%,#efefef 45%);
	background-repeat: no-repeat;

	transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
}
.llms-option input[type="radio"]:checked + label span.llms-radio {
	transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
}

.llms-option input[type="radio"] + label span.llms-radio {
	background-position: -24px 0;
}
.llms-option input[type="radio"]:checked + label span.llms-radio {
	background-position: 0 0;
}

.llms-option input[type="submit"] {
	border:none;
	background:$color-red;
	color:#fff;
	font-size:20px;
	padding:10px 0;
	border-radius:3px;
	cursor:pointer;
	width:100%;
}
.llms-styled-text {
	padding: 14px 0;
}
.llms-notice-box {
	border-radius: 3px;
	z-index: 10;
	margin: 10px 0;
	padding: 15px 20px;
	background: #fffef4;
	border: 1px solid #ccc;
	list-style-type: none;
	width: 100%;
	overflow: auto;
	input[type="text"] {
		height: 35px;
	}
	.col-1-1 {
		width: 100%;
		input[type=text] {
			width: 100%;
		}
	}
	.col-1-2 {
		width: 50%;
		float: left;
		@media screen and (max-width: $break-medium) {
		    width: 100%;
		}
	}
	.col-1-3 {
		width: 33%;
		float: left;
		margin-right: 10px;
	}
	.col-1-4 {
		width: 25%;
		float: left;
		margin-right: 10px;
		@media screen and (max-width: $break-medium) {
			width: 100%;
		}
	}
	.col-1-6 {
		width: 16.6%;
		float: left;
		margin-right: 10px;
	}
	.col-1-8 {
		width: 11%;
		float: right;
	}
	.llms-pad-right {
		padding-right: 10px;
		@media screen and (max-width: $break-medium) {
			padding-right: 0;
		}
	}
}
#cc_cvv {
		margin-right: 0;
		width: 23%;
		float: right;
	}
.llms-clear-box {
	border-radius: 3px;
	z-index: 10;
	margin: 10px 0;
	padding: 15px 20px;
	list-style-type: none;
	width: 100%;
	overflow: auto;
}
.llms-price-label {
	font-weight: normal;
}
.llms-final-price {
	font-weight: bold;
	float: right;
}
.llms-center-content {
	text-align: center;
}
.llms-input-text {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}
.llms-price {
	margin-bottom: 0;
	font-weight: bold;
}
.llms-price-loop {
	font-weight: .8em;
	margin-bottom: 0;
	font-weight: bold;
}

// henty overrides
.courses .entry {
	padding: 0
}
.list-view .site-content .llms-course-list .hentry, .list-view .site-content .llms-membership-list .hentry {
	border-top: 0;
	padding-top: 0;
}
.llms-content {
	width: 100%;
}

.llms-lesson-button-wrapper {
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
}
.llms-template-wrapper {
	width: 100%;
	display: block;
	clear: both;
}
.llms-button-wrapper {
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
}
.courses a.llms-course-link:hover {
  text-decoration: none;
}

//custom select box
.llms-styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.llms-styled-select, .llms-styled-select select {
	width: 100%;
}
select:focus { outline: none; }
.llms-styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  font-size: 16px;
  color: #444444;
}

@-moz-document url-prefix(){
  .--ms-styled-select select { width: 110%; }
}

.llms-styled-select .fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
  color: #ccc;
}

 select::-ms-expand { display: none; }

_:-o-prefocus, .selector {
  .llms-styled-select { background: none; }
  }

.llms-form-item-wrapper {
	margin-bottom: 1em;
}

/* Circle Graph */
.llms-progress-circle {
	position: relative;
	width: 200px;
	height: 200px;
	float: left;
}

.llms-progress-circle-count {
    position: absolute;
    top: 66px;
    left: -10px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #666;
    font-size:44px;
}
.llms-progress-circle svg {
    position: absolute;
    width: 200px;
    height: 200px;
}
.llms-progress-circle circle {
    fill: transparent;
}
svg .llms-background-circle {
    fill: transparent;
    stroke-width: 10px;
    stroke: #f1f2f1;
    stroke-dasharray: 430;
}

svg .llms-animated-circle {
    fill: transparent;
    stroke-width: 10px;
    stroke: #e5554e;
    stroke-dasharray: 430;
    stroke-dashoffset: 430 - 20
}

.llms-quiz-result-details {
	float: left;
	ul {
		list-style-type: none;
		float: left;
		li {
			font-size: 20px;
		}
	}
}
.llms-attempts {
	font-weight: bold;
}

.llms-pass-perc {
	font-weight: bold;
}
.llms-content-block {
	margin: 6px 0;
}

.llms-widget-syllabus {


	.llms-lesson-complete {
		size: 1.2em;
		margin-right: 6px;
		font-size: 1.2em;
		color: #ccc;
		&.done {
			color: #e5554e;
		}
	}.section-title {
		font-weight: bold;
	}.lesson-title {
		a {
			text-decoration: none;
			&:hover {
				text-decoration: none !important;
			}
		}
		&.done {
			a {
				color: #999;
				text-decoration: line-through;
			}
		}
	}
	ul {
		list-style-type: none;
		li {
			list-style-type: none;
			ul li {
				margin: 0 0 2px 0;
				padding: 0;
			}
		}
	}
}

.llms-question-wrapper {
	margin: 40px 0 20px 0;
}
.llms-error{
	width: 100%;
	background: #e5554e;
	padding: 10px 20px;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
}
.llms-question-count {
	margin-bottom: 20px;
}

