.llms-notice {
	background: rgba( $color-aqua, .3 );
	border-color: $color-aqua;
	border-style: solid;
	border-width: 3px;
	padding: 10px;
	margin-bottom: 10px;

	p, ul {
		&:last-child { margin-bottom: 0; }
	}

	li {
		list-style-type: none;
	}

	&.llms-debug {
		background: rgba( #cacaca, .3 );
		border-color: #cacaca;
	}

	&.llms-error {
		background: rgba( $color-red, .3 );
		border-color: $color-red;
	}

	&.llms-success {
		background: rgba( $color-green, .3 );
		border-color: $color-green;
	}

}

