.llms-student-dashboard {

	.llms-sd-nav {}

	.llms-sd-title {
		margin: 25px 0;
	}

	.llms-sd-items { // ul
		@extend %clearfix;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
		.llms-sd-item { // li
			float: left;
			list-style-type: none;
			margin: 0;
			padding: 0;

			&:last-child {
				.llms-sep {
					display: none;
				}
			}

			.llms-sep {
				color: #333;
				margin: 0 5px;
			}
		}

			.llms-sd-link {
				color: $color-brand-blue;
			}

	.llms-sd-section {
		margin-bottom: 25px;
	}

	.orders-table {

		border-color: #efefef;
		border-style: solid;
		border-width: 1px 1px 0 1px;
		width: 100%;

		thead {
			display: none;
			th {
				font-weight: 700;
			}
			@media all and ( min-width: 600px ) {
				display: table-header-group;
			}
		}

		tbody {
			tr:nth-child( odd ) { background-color: #fafafa; }
		}

		td {
			border-color: #efefef;
			border-style: solid;
			border-width: 0;
			display: block;
			text-align: center;
			padding: 5px 10px;

			.llms-button-primary {
				display: inline-block;
			}

			&:last-child {
				border-bottom-width: 1px;
			}

			&:before {
				content: attr( data-label );
			}

			@media all and ( min-width: 600px ) {
				border-bottom-width: 1px;
				display: table-cell;
				&:before { display: none; }
			}

		}

	}

	.llms-status {
		color: #fff;
		border-radius: 4px;
		display: inline-block;
		font-size: 85%;
		padding: 3px 8px;

		&.llms-active,
		&.llms-completed {
			background-color: $color-green;
		}

		&.llms-failed,
		&.llms-expired,
		&.llms-cancelled {
			background-color: $color-red;
		}

		&.llms-pending,
		&.llms-refunded {
			background-color: orange;
		}

	}

}




/* My Courses */
.llms-my-courses {
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}

.llms-my-courses a {
  -webkit-filter: brightness(100%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.llms-my-courses ul.listing-courses {
  width: 100%;
  margin: 0;
  padding: 0;
}

.llms-my-courses > h3 {
  background-color: #f5f5f5;
  padding: 4px;
}

.llms-my-courses ul.listing-courses li.course-item {
  margin: 10px 0;
  padding: 10px 0;
  list-style-type: none;
  width: 100%;
  border-bottom: 2px solid #f5f5f5;
}
.llms-my-courses ul.listing-courses li.course-item:first-child {
  border-bottom: 2px solid #f5f5f5;
}

.llms-my-courses ul.listing-courses li.course-item .course .course-image {
  float: left;
  margin-right: 20px;
  border: 1px solid #f5f5f5;
  padding: 4px;
  overflow: hidden;
  @media screen and (max-width: $break-small) {
    width: 100%
  }
}

.llms-my-courses ul.listing-courses li.course-item .course .course-image img {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.llms-my-courses ul.listing-courses li.course-item .course .course-image img:hover {
  -webkit-filter: brightness(80%);

}

.llms-my-courses ul.listing-courses li.course-item .course h3 {
  margin: 10px 0;
  display: block;
  clear: none;
}

.llms-my-courses ul.listing-courses li.course-item .course p {
  margin: 0;
}

.llms-my-courses ul.listing-courses li.course-item .course .info {
  float: left;
  width: 100%;
}

.llms-sts-enrollment {
  display: inline-block;
}

.llms-sts-enrollment .llms-sts-current {
  font-weight: 400;
}

.llms-start-date {
  float: right;
  text-align: right;
  @media screen and (max-width: $break-small) {
    float: none;
    text-align: left;
  }
}

.llms-my-courses ul.listing-courses li.course-item .course .course-message {
  border-radius: 3px;
  z-index: 10;
  margin: 10px 0;
  padding: 15px 20px;
  //background: #fffef4;
  border: 1px solid #ccc;
}

.course-message p {
  margin: 0;
}

// .grade-value, .author, .length, .difficulty, span {
// font-size: 1.2rem;
// font-weight: bold;
// }

.course-link {
  text-align: center;
}


/* my certificates grid */
.llms-my-certificates {
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;

  h3 {
    background-color: #f5f5f5;
    padding: 4px;
  }

  ul.listing-certificates {
    width: 100%;
    margin: 0;

    li.certificate-item {
      border-radius: 3px;
      z-index: 10;
      margin: 10px 0;
      padding: 15px 20px;
      //background: #fffef4;
      border: 1px solid #ccc;
      list-style-type: none;
      width: 100%;
      overflow: auto;

      div {
        display: block;
        width: 30%;
        float: left;
        text-align: right;

        p, h4 {
          margin: 0;
        }
      }
      div:first-child {
        width: 40%;
        text-align: left;
      }
      div:last-child {

      }
    }
  }
}

.llms-my-achievements {
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;

  h3 {
    background-color: #f5f5f5;
    padding: 4px;
  }

  ul.listing-achievements {
    @extend %cf;

    margin: 0;
    width: 100%;

    li.achievement-item {
      border-radius: 3px;
      margin: 1% 1% 0 0;
      padding: 15px 20px;
      //background: #fffef4;
      border: 1px solid #ccc;
      list-style-type: none;
      width: 32.333%;
      overflow: auto;
      min-width: 200px;
      z-index: 10;
      float: left;
      text-align: center;

      p, h4 {
        margin: 0;
      }
    }
  }
}

/* my certificates grid */
.llms-my-memberships {
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;

  h3 {
    background-color: #f5f5f5;
    padding: 4px;
  }

  ul.listing-memberships {
    width: 100%;
    margin: 0;

    li.membership-item {
      padding: 15px 20px;

      border: 1px solid #ccc;
      list-style-type: none;
      width: 100%;
      overflow: auto;
    }
  }
}
