.llms-syllabus-wrapper {

	margin: 15px;
	text-align: center;

	.llms-section-title {
		margin: 25px 0 0;
	}

}

.llms-course-navigation {
	@extend %clearfix;

	.llms-prev-lesson,
	.llms-next-lesson,
	.llms-back-to-course {
		width: 49%;
	}

	.llms-prev-lesson,
	.llms-back-to-course {
		float: left;
		margin-right: 0.5%;
	}

	.llms-next-lesson,
	.llms-prev-lesson + .llms-back-to-course {
		float: right;
		margin-left: 0.5%;
	}

}

.llms-lesson-preview {
	display: inline-block;
	margin-top: 15px;
	max-width: 100%;
	position: relative;
	width: 480px;

	.llms-lesson-link {
		background: #f1f1f1;
		color: #212121;
		display: block;
		// height: 100%;
		padding: 15px;
		text-decoration: none;

		@include clearfix();

		&:hover {
			background: #eaeaea;
		}

		&:visited {
			color: #212121;
		}

	}

	.llms-lesson-thumbnail {
		margin-bottom: 10px;
		img {
			display: block;
			width: 100%;
		}
	}

	.llms-pre-text {
		text-align: left;
	}

	.llms-lesson-title {
		font-weight: 700;
		margin: 0 auto 10px;
		text-align: left;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.llms-lesson-excerpt {
		text-align: left;
	}

	.llms-main {
		float: left;
		width: 100%;
	}
	.llms-extra {
		float: right;
		width: 15%;
	}

	.llms-extra + .llms-main {
		width: 85%;
	}

	.llms-lesson-counter,
	.llms-free-lesson-svg,
	.llms-lesson-complete,
	.llms-lesson-complete-placeholder {
		display: block;
		font-size: 32px;
		margin-bottom: 15px;
	}

	&.is-free,
	&.is-complete {
		.llms-lesson-complete {
			color: $color-brand-blue;
		}
	}

	.llms-icon-free {
		background: $color-brand-blue;
		border-radius: 4px;
		color: #f1f1f1;
		display: inline-block;
		padding: 5px 6px 4px;
		line-height: 1;
		font-size: 14px;
	}

	&.is-incomplete {
		.llms-lesson-complete {
			color: #cacaca;
		}
	}

	.llms-lesson-counter {
		font-size: 16px;
		line-height: 1;
	}

	.llms-free-lesson-svg {
		fill: currentColor;
		height: 23px;
		width: 50px;
	}

	p {
		margin-bottom: 0;
	}

}
