.llms-tooltip {

	background: #2a2a2a;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	line-height: 1.2;
	opacity: 0;
	top: -20px;
	padding: 8px 12px;
	left: 50%;
	position: absolute;
	pointer-events: none;
	transform: translateX( -50% );
	transition: opacity .2s ease, top .2s ease;
	max-width: 320px;

	&.show {
		top: -28px;
		opacity: 1;
	}

	&:after {

		bottom: -8px;
		border-top: 8px solid #2a2a2a;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		content: '';
		height: 0;
		left: 50%;
		position: absolute;
		transform: translateX( -50% );
		width: 0;

	}

}
