@charset "UTF-8";
body.admin_page_llms-course-builder {
  background: #fff;
}
body.admin_page_llms-course-builder #adminmenumain {
  display: none;
}
body.admin_page_llms-course-builder #wpbody-content {
  padding-bottom: 0;
}
body.admin_page_llms-course-builder #wpfooter {
  display: none;
}
body.admin_page_llms-course-builder #wpcontent, body.admin_page_llms-course-builder #wpfooter {
  margin-right: 0;
}
body.admin_page_llms-course-builder .llms-button-secondary .fa {
  margin-left: 5px;
}
body.admin_page_llms-course-builder .webui-popover .select2-container--default .select2-results__group {
  font-size: 16px;
}
body.admin_page_llms-course-builder .webui-popover .select2-container--default .select2-results__option .select2-results__option {
  padding-right: 2em;
}

.wrap.lifterlms.llms-builder {
  margin: 0;
  padding: 0;
  position: relative;
}
.wrap.lifterlms.llms-builder.editor-active .llms-builder-sidebar {
  padding: 10px;
  width: calc(100% - 200px);
  z-index: 3;
}
@media only screen and (min-width: 1200px) {
  .wrap.lifterlms.llms-builder.editor-active .llms-builder-main {
    width: 560px;
  }
  .wrap.lifterlms.llms-builder.editor-active .llms-builder-sidebar {
    width: calc(100% - 640px);
  }
}
@media only screen and (min-width: 1440px) {
  .wrap.lifterlms.llms-builder.editor-active .llms-builder-main {
    width: calc(100% - 780px);
  }
  .wrap.lifterlms.llms-builder.editor-active .llms-builder-sidebar {
    width: 720px;
  }
}
@media only screen and (min-width: 1680px) {
  .wrap.lifterlms.llms-builder.editor-active .llms-builder-main {
    width: calc(100% - 1000px);
  }
  .wrap.lifterlms.llms-builder.editor-active .llms-builder-sidebar {
    width: 940px;
  }
}
@media only screen and (max-width: 782px) {
  .wrap.lifterlms.llms-builder.editor-active .llms-builder-sidebar {
    position: absolute;
    top: 0;
    width: auto;
  }
}
.wrap.lifterlms.llms-builder .llms-headline {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  vertical-align: middle;
}
.wrap.lifterlms.llms-builder .llms-builder-main {
  padding: 30px 0 30px 30px;
  position: relative;
  width: calc(100% - 450px);
  z-index: 2;
}
.wrap.lifterlms.llms-builder .llms-builder-main .llms-action-icons {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.wrap.lifterlms.llms-builder .llms-builder-main .llms-action-icons button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
.wrap.lifterlms.llms-builder .llms-builder-main .llms-action-icons-lesson-id {
  vertical-align: top;
}
.wrap.lifterlms.llms-builder .llms-builder-main .llms-course-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  position: relative;
  z-index: 1;
}
.wrap.lifterlms.llms-builder .llms-builder-main .llms-course-header .llms-button-secondary {
  margin-left: 10px;
}
.wrap.lifterlms.llms-builder .llms-builder-main ul.llms-sections {
  -webkit-box-shadow: 0 0 0 3px transparent;
          box-shadow: 0 0 0 3px transparent;
  min-height: 60px;
  padding: 10px 0;
  -webkit-transition: min-height 0.2s ease, -webkit-box-shadow 0.6s ease;
  transition: min-height 0.2s ease, -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, min-height 0.2s ease;
  transition: box-shadow 0.6s ease, min-height 0.2s ease, -webkit-box-shadow 0.6s ease;
}
.wrap.lifterlms.llms-builder .llms-builder-main ul.llms-sections.dragging {
  -webkit-box-shadow: 0 0 0 3px #466dd8;
          box-shadow: 0 0 0 3px #466dd8;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section {
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 6px;
  -webkit-box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.08);
          box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.08);
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section > .llms-builder-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px 20px 10px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section > .llms-builder-header .llms-action-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section > .llms-builder-header .llms-action-icons .llms-action-icons-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  margin-top: -5px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section > .llms-builder-header .llms-action-icons .llms-action-icons-right .llms-action-icon {
  padding: 5px 10px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section > .llms-builder-header .llms-action-icons .llms-action-icons-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
@media only screen and (min-width: 1200px) {
  .wrap.lifterlms.llms-builder .llms-builder-main li.llms-section > .llms-builder-header .llms-action-icons .llms-action-icons-right,
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section > .llms-builder-header .llms-action-icons .llms-action-icons-left {
    white-space: nowrap;
  }
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section.expanded .llms-lessons {
  overflow: visible;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section.selected .llms-drag-utility.drag-section {
  border-color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section.selected > .llms-builder-header .llms-headline {
  font-weight: 400;
  color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section > .llms-builder-footer {
  border-top: 1px solid #efefef;
  padding: 20px 30px 20px 20px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section:first-child:before {
  top: 30px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section:last-child:before {
  bottom: 55px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section.expanded:last-child:before {
  bottom: 86px;
}
.wrap.lifterlms.llms-builder .llms-builder-main ul.llms-lessons {
  -webkit-box-shadow: 0 0 0 3px transparent;
          box-shadow: 0 0 0 3px transparent;
  height: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: min-height 0.2s ease, -webkit-box-shadow 0.6s ease;
  transition: min-height 0.2s ease, -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, min-height 0.2s ease;
  transition: box-shadow 0.6s ease, min-height 0.2s ease, -webkit-box-shadow 0.6s ease;
}
.wrap.lifterlms.llms-builder .llms-builder-main ul.llms-lessons.dragging {
  -webkit-box-shadow: 0 0 0 3px #466dd8;
          box-shadow: 0 0 0 3px #466dd8;
  min-height: 60px;
}
.wrap.lifterlms.llms-builder .llms-builder-main ul.llms-lessons.expanded, .wrap.lifterlms.llms-builder .llms-builder-main ul.llms-lessons.drag-expanded {
  height: auto;
}
.wrap.lifterlms.llms-builder .llms-builder-main ul.llms-lessons.expanded li.llms-lesson, .wrap.lifterlms.llms-builder .llms-builder-main ul.llms-lessons.drag-expanded li.llms-lesson {
  pointer-events: auto;
  visibility: visible;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson {
  background: #fff;
  border-top: 1px solid #efefef;
  margin: 0;
  padding: 20px 30px 20px 10px;
  position: relative;
  pointer-events: none;
  visibility: hidden;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson.selected .llms-drag-utility.drag-lesson {
  border-color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson.selected > .llms-builder-header .llms-headline {
  color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header .llms-headline {
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header .llms-action-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header .llms-action-icons .llms-action-icons-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header .llms-action-icons .llms-action-icons-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  margin-top: -5px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header .llms-action-icons .llms-action-icons-right .llms-action-icon {
  padding: 5px 10px;
}
@media only screen and (min-width: 1200px) {
  .wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header .llms-action-icons .llms-action-icons-right,
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header .llms-action-icons .llms-action-icons-left {
    white-space: nowrap;
  }
}
@media only screen and (min-width: 1200px) {
  .wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson > .llms-builder-header > .llms-builder-header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section .llms-drag-utility {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  height: 10px;
  right: 13px;
  position: absolute;
  top: 24px;
  width: 10px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson .llms-drag-utility {
  height: 6px;
  right: 14px;
  top: 25px !important;
  width: 6px;
}
.wrap.lifterlms.llms-builder .llms-builder-main .llms-section:hover > .llms-drag-utility,
.wrap.lifterlms.llms-builder .llms-builder-main .llms-lesson:hover > .llms-drag-utility {
  border-color: #fff;
  cursor: move;
}
.wrap.lifterlms.llms-builder .llms-builder-main .llms-section:hover > .llms-drag-utility:hover:after,
.wrap.lifterlms.llms-builder .llms-builder-main .llms-lesson:hover > .llms-drag-utility:hover:after {
  color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-builder-main .llms-section:hover > .llms-drag-utility:after,
.wrap.lifterlms.llms-builder .llms-builder-main .llms-lesson:hover > .llms-drag-utility:after {
  background: #fff;
  content: "··\a··\a··";
  color: #ccc;
  display: block;
  font-size: 36px;
  height: 29px;
  letter-spacing: -1px;
  line-height: 8px;
  right: -7px;
  position: absolute;
  text-align: center;
  top: -12px;
  width: 23px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section.ui-sortable-helper, .wrap.lifterlms.llms-builder .llms-builder-main li.llms-section.ui-draggable-dragging,
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson.ui-sortable-helper,
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson.ui-draggable-dragging {
  border: 1px solid #ccc;
  background: #fff;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  visibility: visible !important;
  z-index: 999;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section.llms-sortable-placeholder,
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson.llms-sortable-placeholder {
  border: 3px dashed #466dd8;
  background: rgba(70, 109, 216, 0.3);
  margin: 0 10px;
  padding: 5px;
}
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-section.llms-sortable-placeholder:before,
.wrap.lifterlms.llms-builder .llms-builder-main li.llms-lesson.llms-sortable-placeholder:before {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-builder-main ul.llms-sections > li.llms-lesson.ui-draggable-dragging .llms-drag-utility {
  position: relative;
}
.wrap.lifterlms.llms-builder .llms-builder-main ul.llms-sections > li.llms-lesson.ui-draggable-dragging .llms-drag-utility:after {
  right: -35px;
  top: -28px;
}
.wrap.lifterlms.llms-builder .llms-input-wrapper {
  position: relative;
}
.wrap.lifterlms.llms-builder .llms-input-formatting.ql-container {
  font-size: inherit;
  font-family: inherit;
}
.wrap.lifterlms.llms-builder .llms-input-formatting.ql-container .ql-editor.ql-blank::before {
  color: #a0a0a0;
  right: 8px;
  left: 8px;
}
.wrap.lifterlms.llms-builder .llms-input-formatting.ql-container .ql-editor p {
  font-size: inherit;
  line-height: 1;
}
.wrap.lifterlms.llms-builder .llms-input-formatting.ql-container .ql-tooltip {
  z-index: 1;
}
.wrap.lifterlms.llms-builder .llms-input,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor {
  border: none;
  border-bottom: 2px dotted transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: text;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  height: auto;
  line-height: 1;
  margin: 0 8px;
  min-width: 60px;
  padding: 0;
  -webkit-transition: border 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: border 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  transition: border 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}
.wrap.lifterlms.llms-builder .llms-input:empty:before,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor:empty:before {
  color: #a0a0a0;
  content: attr(data-placeholder);
}
.wrap.lifterlms.llms-builder .llms-input:hover,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor:hover {
  border-bottom-color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-input[disabled],
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor[disabled] {
  cursor: not-allowed;
}
.wrap.lifterlms.llms-builder .llms-input[disabled]:hover,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor[disabled]:hover {
  border-bottom-color: transparent;
}
.wrap.lifterlms.llms-builder .llms-input:focus,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor:focus {
  background: #fff;
  -webkit-box-shadow: 0 0 0 4px #fff, 0 0 0 6px #466dd8;
          box-shadow: 0 0 0 4px #fff, 0 0 0 6px #466dd8;
  border-bottom: none;
  outline: none;
}
.wrap.lifterlms.llms-builder .llms-input b, .wrap.lifterlms.llms-builder .llms-input strong,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor b,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor strong {
  font-weight: 700;
}
.wrap.lifterlms.llms-builder .llms-input.standard,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor.standard {
  border: 1px solid #e6e6e6;
  margin: 2px;
  padding: 5px 3px;
}
.wrap.lifterlms.llms-builder .llms-input.standard:hover,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor.standard:hover {
  border-color: #d6d6d6;
}
.wrap.lifterlms.llms-builder .llms-input.standard:focus,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor.standard:focus {
  -webkit-box-shadow: 0 0 0 2px #466dd8;
          box-shadow: 0 0 0 2px #466dd8;
}
.wrap.lifterlms.llms-builder .llms-input.permalink,
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor.permalink {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-input-formatting .ql-editor {
  padding: 0 1px;
}
.wrap.lifterlms.llms-builder .llms-label {
  font-weight: 500;
}
.wrap.lifterlms.llms-builder .llms-label .fa {
  color: #aaa;
  padding-right: 6px;
}
.wrap.lifterlms.llms-builder .llms-editable-editor .llms-label {
  float: right;
  margin-left: 10px;
  position: relative;
  top: 10px;
}
.wrap.lifterlms.llms-builder .llms-editable-editor textarea {
  border: none;
  padding: 10px;
  display: block;
  width: 100%;
}
.wrap.lifterlms.llms-builder .llms-editable-image button.llms-add-image {
  width: 130px;
}
.wrap.lifterlms.llms-builder .llms-editable-image .llms-image {
  display: inline-block;
  position: relative;
}
.wrap.lifterlms.llms-builder .llms-editable-image .llms-image:hover .llms-action-icon {
  opacity: 1;
}
.wrap.lifterlms.llms-builder .llms-editable-image .llms-image .llms-action-icon {
  color: #fff;
  font-size: 24px;
  opacity: 0;
  padding: 0;
  position: absolute;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  left: 3px;
  top: 1px;
  z-index: 1;
}
.wrap.lifterlms.llms-builder .llms-editable-image .llms-image img {
  display: block;
  height: 100px;
  max-width: 100%;
  width: auto;
}
.wrap.lifterlms.llms-builder .llms-settings-field,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group {
  background: #f4f4f4;
  padding: 10px;
  position: relative;
  margin: 0 1px;
}
.wrap.lifterlms.llms-builder .llms-settings-field.has-label-after,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group.has-label-after {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrap.lifterlms.llms-builder .llms-settings-field.has-label-after .llms-label,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group.has-label-after .llms-label {
  min-width: 100%;
}
.wrap.lifterlms.llms-builder .llms-settings-field.has-label-after .llms-editable-input,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group.has-label-after .llms-editable-input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.wrap.lifterlms.llms-builder .llms-settings-field.has-label-after .llms-label--after,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group.has-label-after .llms-label--after {
  color: #888;
  min-width: auto;
  font-size: 85%;
  padding-right: 10px;
}
.wrap.lifterlms.llms-builder .llms-settings-field .llms-switch,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-switch {
  display: block;
  width: 100%;
}
.wrap.lifterlms.llms-builder .llms-settings-field .llms-switch:before, .wrap.lifterlms.llms-builder .llms-settings-field .llms-switch:after,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-switch:before,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-switch:after {
  content: " ";
  display: table;
}
.wrap.lifterlms.llms-builder .llms-settings-field .llms-switch:after,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-switch:after {
  clear: both;
}
.wrap.lifterlms.llms-builder .llms-settings-field .llms-switch .llms-label,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-switch .llms-label {
  width: calc(100% - 34px);
}
.wrap.lifterlms.llms-builder .llms-settings-field .llms-editable-image,
.wrap.lifterlms.llms-builder .llms-settings-field .llms-editable-video,
.wrap.lifterlms.llms-builder .llms-settings-field .llms-editable-editor,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-editable-image,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-editable-video,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-editable-editor {
  margin-top: 2px;
}
.wrap.lifterlms.llms-builder .llms-settings-field .llms-input.standard,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-input.standard {
  display: block;
  width: 100%;
}
.wrap.lifterlms.llms-builder .llms-settings-field .llms-input.standard.two-digits, .wrap.lifterlms.llms-builder .llms-settings-field .llms-input.standard.three-digits, .wrap.lifterlms.llms-builder .llms-settings-field .llms-input.standard.four-digits,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-input.standard.two-digits,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-input.standard.three-digits,
.wrap.lifterlms.llms-builder .llms-editable-toggle-group .llms-input.standard.four-digits {
  display: inline-block;
}
.wrap.lifterlms.llms-builder .llms-editable-number .llms-input {
  color: #888;
  min-width: 30px;
  text-align: left;
}
.wrap.lifterlms.llms-builder .llms-editable-number .llms-input.two-digits {
  width: 30px;
}
.wrap.lifterlms.llms-builder .llms-editable-number .llms-input.three-digits {
  width: 40px;
}
.wrap.lifterlms.llms-builder .llms-editable-number .llms-input.four-digits {
  width: 60px;
}
.wrap.lifterlms.llms-builder .llms-editable-number small {
  color: #888;
  text-transform: uppercase;
}
.wrap.lifterlms.llms-builder .llms-model-settings {
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}
.wrap.lifterlms.llms-builder .llms-model-settings:before, .wrap.lifterlms.llms-builder .llms-model-settings:after {
  content: " ";
  display: table;
}
.wrap.lifterlms.llms-builder .llms-model-settings:after {
  clear: both;
}
.wrap.lifterlms.llms-builder .llms-model-settings .llms-settings-group-header {
  border-bottom: 1px solid #efefef;
  padding: 10px;
}
.wrap.lifterlms.llms-builder .llms-model-settings .llms-settings-group-header .fa-caret-up {
  display: block;
}
.wrap.lifterlms.llms-builder .llms-model-settings .llms-settings-group-header .fa-caret-down {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-model-settings.hidden .llms-settings-group-header .fa-caret-up {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-model-settings.hidden .llms-settings-group-header .fa-caret-down {
  display: block;
}
.wrap.lifterlms.llms-builder .llms-model-settings.hidden .llms-settings-group-body {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-settings-group-header:before, .wrap.lifterlms.llms-builder .llms-settings-group-header:after {
  content: " ";
  display: table;
}
.wrap.lifterlms.llms-builder .llms-settings-group-header:after {
  clear: both;
}
.wrap.lifterlms.llms-builder .llms-settings-group-header .llms-settings-group-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 5px;
  padding: 0;
}
.wrap.lifterlms.llms-builder .llms-settings-group-header .llms-settings-group-toggle {
  float: left;
  font-size: 18px;
  padding: 2px;
}
.wrap.lifterlms.llms-builder .llms-settings-group-body {
  padding: 16px;
}
.wrap.lifterlms.llms-builder .llms-settings-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2px 0;
}
.wrap.lifterlms.llms-builder .llms-settings-row .llms-settings-field,
.wrap.lifterlms.llms-builder .llms-settings-row .llms-editable-toggle-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.wrap.lifterlms.llms-builder .llms-settings-row .llms-settings-field:first-child,
.wrap.lifterlms.llms-builder .llms-settings-row .llms-editable-toggle-group:first-child {
  margin-right: 0;
}
.wrap.lifterlms.llms-builder .llms-settings-row .llms-settings-field:last-child,
.wrap.lifterlms.llms-builder .llms-settings-row .llms-editable-toggle-group:last-child {
  margin-left: 0;
}
.wrap.lifterlms.llms-builder .llms-settings-row .llms-breaker {
  margin: 2px 0;
  width: 100%;
}
.wrap.lifterlms.llms-builder .llms-editable-select {
  margin: 2px 0;
}
.wrap.lifterlms.llms-builder .llms-editable-select .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #aaa;
}
.wrap.lifterlms.llms-builder .llms-editable-radio label {
  display: block;
}
.wrap.lifterlms.llms-builder .llms-editable-radio.has-images input {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-editable-radio.has-images label {
  display: inline-block;
  margin: 0 3px;
}
.wrap.lifterlms.llms-builder .llms-editable-radio.has-images label > span {
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  display: inline-block;
  padding: 3px;
}
.wrap.lifterlms.llms-builder .llms-editable-radio.has-images img {
  display: block;
}
.wrap.lifterlms.llms-builder .llms-editable-radio.has-images input:checked + span {
  background: #466dd8;
}
.wrap.lifterlms.llms-builder .settings-field--disabled {
  opacity: 0.5;
}
.wrap.lifterlms.llms-builder .llms-action-icon {
  color: #666;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
}
.wrap.lifterlms.llms-builder .llms-action-icon:hover {
  color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-action-icon:hover.danger {
  color: #bb231c;
}
.wrap.lifterlms.llms-builder .llms-action-icon.circle {
  border: 2px solid #aaa;
  border-radius: 50%;
  font-size: 9px;
  height: 8px;
  line-height: 1;
  padding: 5px;
  text-align: center;
  width: 8px;
}
.wrap.lifterlms.llms-builder .llms-action-icon.circle:hover {
  border-color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-action-icon.circle:hover.danger {
  border-color: #bb231c;
}
.wrap.lifterlms.llms-builder ul.llms-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin: 10px 8px 0 0;
  padding: 0;
}
.wrap.lifterlms.llms-builder ul.llms-info-list li.llms-info-item {
  color: #666;
  font-size: 13px;
  margin: 0;
}
.wrap.lifterlms.llms-builder ul.llms-info-list li.llms-info-item.active, .wrap.lifterlms.llms-builder ul.llms-info-list li.llms-info-item.active .llms-action-icon {
  color: #466dd8;
}
.wrap.lifterlms.llms-builder ul.llms-info-list li.llms-info-item.active .fa, .wrap.lifterlms.llms-builder ul.llms-info-list li.llms-info-item.active .llms-action-icon .fa {
  margin-left: 5px;
}
.wrap.lifterlms.llms-builder ul.llms-info-list li.llms-info-item button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
.wrap.lifterlms.llms-builder ul.llms-info-list li.llms-info-item button:hover {
  text-decoration: underline;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar {
  background: #e6e6e6;
  bottom: 0;
  overflow: hidden;
  padding: 30px;
  position: fixed;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  top: 32px;
  left: 0;
  width: 360px;
  z-index: 1;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utilities ul, .wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utilities li {
  margin: 0;
  padding: 0;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utilities ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utilities ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utilities ul li:last-child {
  margin-left: 0;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utilities .llms-utility {
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: inherit;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-align: center;
  width: 100%;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utilities .llms-utility:hover {
  background: #fefefe;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utilities .llms-utility .fa {
  background: #848484;
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px;
  color: #fff;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-sidebar-headline {
  margin: 0 0 10px;
  font-size: 22px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-elements-list {
  margin-bottom: 30px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-elements-list li {
  margin-bottom: 10px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-utility {
  color: #444;
  text-decoration: none;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button {
  background: #466dd8;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 17px 20px;
  position: relative;
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease;
  text-align: center;
  width: 100%;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button:hover {
  background: #2b55cb;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button.secondary {
  background: #efefef;
  color: #444;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button.secondary:hover {
  background: #fefefe;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button.secondary .fa {
  background: #848484;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button .fa {
  background: #1c3987;
  border-radius: 0 4px 4px 0;
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button[disabled=disabled] {
  opacity: 0.4;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button.small {
  padding: 8px 46px 8px 10px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button.small .fa {
  font-size: 15px;
  padding: 9px 10px;
  width: 20px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button.right.small {
  padding-right: 10px;
  padding-left: 46px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-element-button.right .fa {
  border-radius: 4px 0 0 4px;
  right: auto;
  left: 0;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor {
  height: 100%;
  min-height: 100%;
  position: relative;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav {
  background-color: #1c3987;
  margin: 0;
  padding: 8px 8px 0 0;
  font-size: 0;
  margin: -10px -10px 10px -10px;
  position: relative;
  z-index: 2;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item {
  display: inline-block;
  margin: 0 0 0 6px;
  padding: 0;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item > .llms-editor-menu {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item > .llms-editor-menu:before {
  border: 8px solid transparent;
  border-right-color: #cacaca;
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item > .llms-editor-menu .llms-editor-menu-item:hover > a,
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item > .llms-editor-menu .llms-editor-menu-item.active > a {
  background: #dfdfdf;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item:hover > a {
  background-color: #466dd8;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item.active > a {
  background-color: #e6e6e6;
  color: #466dd8;
  font-weight: 700;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item.active > a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item.active > .llms-editor-menu {
  display: inline-block;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #FFF;
  display: inline-block;
  padding: 9px 18px;
  text-decoration: none;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  font-size: 15px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item.right {
  float: left;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item.right a, .wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-nav .llms-editor-menu .llms-editor-menu-item.right:hover {
  background: transparent;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-tab {
  display: none;
  height: calc(100% - 90px);
  overflow: scroll;
  position: relative;
  z-index: 1;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-tab.active {
  display: block;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-tab.active.tab--quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-tab.active.tab--quiz .llms-quiz-questions {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: scroll;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-editor-tab.active.tab--quiz .llms-quiz-questions .llms-quiz-questions {
  overflow: visible;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save {
  bottom: 10px;
  right: 10px;
  position: absolute;
  left: 10px;
  z-index: 1;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save .llms-builder-error {
  background: #bb231c;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-style: italic;
  padding: 5px 25px 7px 15px;
  margin: 0 0 10px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save .llms-builder-error li {
  margin: 0;
  padding: 0;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save .llms-save {
  width: 75%;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save .llms-exit {
  padding-right: 5px;
  padding-left: 5px;
  width: 23%;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button {
  position: relative;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button i {
  position: absolute;
  right: 10px;
  top: 10px;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button i .llms-spinner {
  border-color: #fff;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button[data-status] .llms-status-indicator {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button[data-status=saved] .status--saved {
  display: block;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button[data-status=unsaved] {
  background-color: #f8954f;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button[data-status=unsaved] .status--unsaved {
  display: block;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button[data-status=saving] .status--saving {
  display: block;
}
.wrap.lifterlms.llms-builder .llms-builder-sidebar .llms-builder-save button[data-status=error] .status--error {
  display: block;
}
@media only screen and (max-width: 782px) {
  .wrap.lifterlms.llms-builder .llms-builder-sidebar {
    margin-left: 10px;
    position: relative;
    top: 0;
    width: auto;
  }
  .wrap.lifterlms.llms-builder .llms-builder-main {
    padding-left: 10px;
    width: auto;
  }
}
.wrap.lifterlms.llms-builder .select2-container {
  z-index: 99999999;
}
.wrap.lifterlms.llms-builder .select2-results__option {
  padding: 0;
}
.wrap.lifterlms.llms-builder .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #466dd8;
}
.wrap.lifterlms.llms-builder .select2-container--default .select2-results__option--highlighted[aria-selected] .llms-existing-action {
  color: #fff;
}
.wrap.lifterlms.llms-builder .llms-existing-lesson-result {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0 5px 5px;
}
.wrap.lifterlms.llms-builder .llms-existing-lesson-result .llms-existing-info {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
.wrap.lifterlms.llms-builder .llms-existing-lesson-result .llms-existing-info h4, .wrap.lifterlms.llms-builder .llms-existing-lesson-result .llms-existing-info h5 {
  margin: 0;
}
.wrap.lifterlms.llms-builder .llms-existing-lesson-result .llms-existing-info h4 {
  font-weight: 400;
}
.wrap.lifterlms.llms-builder .llms-existing-lesson-result .llms-existing-info h5 {
  font-weight: 300;
}
.wrap.lifterlms.llms-builder .llms-existing-lesson-result .llms-existing-action {
  color: #466dd8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.wrap.lifterlms.llms-builder .llms-existing-lesson-result .llms-existing-action .fa {
  display: block;
  font-size: 30px;
}
.wrap.lifterlms.llms-builder .llms-existing-lesson-result .llms-existing-action small {
  text-transform: uppercase;
}
.wrap.lifterlms.llms-builder .llms-quiz-empty {
  margin: 100px auto;
  text-align: center;
}
.wrap.lifterlms.llms-builder .llms-quiz-empty p {
  font-size: 18px;
}
.wrap.lifterlms.llms-builder .llms-quiz-empty button.llms-element-button {
  max-width: 320px;
  margin: 0 auto;
}
.wrap.lifterlms.llms-builder .llms-editor-tab.tab--quiz .llms-model-header .llms-model-title {
  width: calc(100% - 310px);
}
.wrap.lifterlms.llms-builder .llms-editor-tab.tab--quiz .llms-model-header .llms-quiz-points {
  float: right;
  margin-left: 10px;
  width: 100px;
}
.wrap.lifterlms.llms-builder .llms-model-header {
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  padding: 10px;
}
.wrap.lifterlms.llms-builder .llms-model-header:before, .wrap.lifterlms.llms-builder .llms-model-header:after {
  content: " ";
  display: table;
}
.wrap.lifterlms.llms-builder .llms-model-header:after {
  clear: both;
}
.wrap.lifterlms.llms-builder .llms-model-header .llms-model-title {
  float: right;
  margin-left: 10px;
  width: calc(100% - 200px);
}
.wrap.lifterlms.llms-builder .llms-model-header .llms-model-title .llms-input {
  width: calc(100% - 65px);
}
.wrap.lifterlms.llms-builder .llms-model-header .llms-model-status.llms-switch {
  float: right;
  margin-left: 10px;
  position: relative;
  text-align: left;
  top: -2px;
  width: 100px;
}
.wrap.lifterlms.llms-builder .llms-model-header .llms-action-icons {
  float: right;
  position: relative;
  text-align: left;
  width: 80px;
  z-index: 1;
}
.wrap.lifterlms.llms-builder .llms-model-header .llms-action-icons .llms-action-icon {
  margin-right: 10px;
}
.wrap.lifterlms.llms-builder .llms-model-header .llms-action-icons .fa {
  max-width: 15px;
}
.wrap.lifterlms.llms-builder .llms-model-header + .llms-model-settings.active {
  margin-top: -10px;
}
.wrap.lifterlms.llms-builder .llms-model-settings {
  clear: both;
  display: none;
}
.wrap.lifterlms.llms-builder .llms-model-settings.active {
  display: block;
  margin-top: 10px;
}
.wrap.lifterlms.llms-builder .llms-quiz-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap.lifterlms.llms-builder .llms-quiz-footer button.llms-element-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px;
}
.wrap.lifterlms.llms-builder .llms-quiz-footer button.llms-element-button:first-child {
  margin-right: 0;
}
.wrap.lifterlms.llms-builder .llms-quiz-footer button.llms-element-button:last-child {
  margin-left: 0;
}
.wrap.lifterlms.llms-builder .llms-quiz-footer button.llms-element-button.llms-show-question-bank {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.wrap.lifterlms.llms-builder .llms-quiz-tools {
  display: none;
  width: 100%;
  position: relative;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank:before, .wrap.lifterlms.llms-builder ul.llms-question-bank:after {
  content: " ";
  display: table;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank:after {
  clear: both;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank li.llms-question-bank-header {
  clear: both;
  padding-top: 20px;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank li.llms-question-bank-header:first-child {
  padding-top: 0;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank li.llms-question-bank-header h4 {
  font-size: 20px;
  margin: 10px 5px;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank li.llms-question-type {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  margin: 0;
  padding: 3px;
  width: 33.3333%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank li.llms-question-type.filtered {
  opacity: 0.3;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank li.llms-question-type .llms-type-unavailable {
  display: block;
  position: relative;
  text-decoration: none;
}
.wrap.lifterlms.llms-builder ul.llms-question-bank li.llms-question-type .llms-type-unavailable .llms-element-button {
  opacity: 0.5;
  pointer-events: none;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions {
  margin: 10px 3px;
  padding: 5px;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions.dragging {
  -webkit-box-shadow: 0 0 0 3px #466dd8;
          box-shadow: 0 0 0 3px #466dd8;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions:empty:before {
  background: #fff;
  content: attr(data-empty-msg);
  display: block;
  font-size: 18px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question {
  background: #fff;
  margin: 0 0 3px;
  padding: 15px 12px 10px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question:hover > .llms-builder-header .llms-action-icons {
  opacity: 1;
  pointer-events: auto;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question ul.llms-quiz-questions {
  margin-right: 12px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question ul.llms-quiz-questions .llms-question {
  border-bottom: 2px solid #e6e6e6;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question ul.llms-quiz-questions:empty:before {
  content: attr(data-empty-msg);
  display: block;
  font-size: 18px;
  text-align: center;
  margin: 20px auto;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question ul.llms-quiz-questions li.llms-question.llms-sortable-placeholder.qtype--group {
  display: none !important;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-builder-header:before, .wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-builder-header:after {
  content: " ";
  display: table;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-builder-header:after {
  clear: both;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-builder-header > * {
  float: right;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-question-body {
  display: none;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-question-body.active {
  display: block;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-data-stamp {
  background: #466dd8;
  border-radius: 4px;
  color: #fff;
  cursor: move;
  font-size: 90%;
  margin-top: -5px;
  padding: 4px 10px 6px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-data-stamp small, .wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-data-stamp .fa {
  line-height: 1.2;
  vertical-align: middle;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-data-stamp .fa {
  margin-left: 4px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-headline {
  width: calc(100% - 110px - 90px - 55px);
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-headline .ql-editor {
  width: calc(100% - 16px);
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-action-icons {
  width: 110px;
  opacity: 0;
  pointer-events: none;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-question-points {
  width: 90px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-question-features {
  margin: 10px 0 0;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-question-features:last-child {
  margin: 0;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-question-features .llms-switch {
  margin-left: 15px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question .llms-editable-video {
  position: relative;
  z-index: 1;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions .llms-question-choices-wrapper {
  background: #f4f4f4;
  margin: 2px 1px;
  padding: 10px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions .llms-question-choices-list-header {
  margin-bottom: 10px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions .llms-question-choices-list-header:before, .wrap.lifterlms.llms-builder ul.llms-quiz-questions .llms-question-choices-list-header:after {
  content: " ";
  display: table;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions .llms-question-choices-list-header:after {
  clear: both;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions .llms-question-choices-list-header .llms-switch {
  float: left;
  text-align: left;
  width: 260px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions ul.llms-question-choices {
  border: 3px solid #f4f4f4;
  margin: -3px;
  padding: 0;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions ul.llms-question-choices.dragging {
  -webkit-box-shadow: 0 0 0 3px #466dd8;
          box-shadow: 0 0 0 3px #466dd8;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions ul.llms-question-choices.multi-choices li.llms-question-choice .llms-choice-id span {
  border-radius: 4px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice {
  margin: 0 0 5px;
  padding: 0;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice:last-child {
  margin-bottom: 0;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-choice-id input[type=checkbox] {
  display: none;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-choice-id input[type=checkbox]:checked + .llms-marker {
  background: #4d8d3c;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-choice-id .llms-marker {
  border-radius: 50%;
  background: #d0d0d0;
  -webkit-box-shadow: inset 0 0 1px #848484;
          box-shadow: inset 0 0 1px #848484;
  color: #444;
  display: inline-block;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  position: relative;
  text-align: center;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  width: 20px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-choice-id .llms-marker .fa {
  right: 7px;
  opacity: 0;
  position: absolute;
  top: 7px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-choice-id .llms-marker.selectable:hover b {
  opacity: 0;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-choice-id .llms-marker.selectable:hover .fa {
  opacity: 1;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-input-wrapper,
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-editable-image {
  display: inline-block;
  width: calc(100% - 55px - 35px - 5px);
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-input {
  width: calc(100% - 16px);
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-editable-image .llms-image {
  vertical-align: middle;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-editable-image .llms-image img {
  height: 50px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice .llms-action-icons {
  display: inline-block;
  opacity: 1;
  pointer-events: auto;
  text-align: left;
  width: 55px;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice.llms-sortable-placeholder {
  border: 3px dashed #466dd8 !important;
  background: rgba(70, 109, 216, 0.3);
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question-choice.ui-sortable-helper {
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  z-index: 999;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question.ui-sortable-helper,
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question.ui-draggable-dragging {
  border: 1px solid #ccc;
  background: #fff;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  z-index: 999;
}
.wrap.lifterlms.llms-builder ul.llms-quiz-questions li.llms-question.llms-sortable-placeholder {
  border: 3px dashed #466dd8 !important;
  background: rgba(70, 109, 216, 0.3);
}
.wrap.lifterlms.llms-builder .llms-switch {
  display: inline-block;
  float: none;
  width: auto;
}
.wrap.lifterlms.llms-builder .llms-switch input[type=checkbox] {
  display: none;
}
.wrap.lifterlms.llms-builder .llms-switch input[type=checkbox]:checked + .llms-switch-slider {
  background: #4d8d3c;
}
.wrap.lifterlms.llms-builder .llms-switch input[type=checkbox]:checked + .llms-switch-slider:after {
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
}
.wrap.lifterlms.llms-builder .llms-switch .llms-label {
  display: inline-block;
  vertical-align: top;
}
.wrap.lifterlms.llms-builder .llms-switch .llms-switch-slider {
  background: #e0e0e0;
  border-radius: 8px;
  display: inline-block;
  height: 16px;
  margin-top: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  vertical-align: top;
  width: 30px;
}
.wrap.lifterlms.llms-builder .llms-switch .llms-switch-slider:after {
  background: #fff;
  border-radius: 8px;
  content: "";
  display: block;
  height: 12px;
  right: 2px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  top: 2px;
  width: 12px;
}

.llms-multi-input .llms-input-wrapper {
  width: 50%;
  float: right;
  margin-bottom: 6px;
  font-size: 12px;
}

.llms-multi-input .llms-input-wrapper .llms-input {
  font-size: 12px;
  padding: 5px;
}
