body {
  background-color: #fff;
  background-image: none;
  margin: 0 auto; }

.header, .footer,
.wrap-header, .wrap-footer,
.site-header, .site-footer,
.nav-primary, .primary-nav {
  display: none; }

.llms-certificate-container h1:first-child {
  text-align: center; }

.llms-print-certificate {
  margin-top: 40px;
  text-align: center; }
  .llms-print-certificate form {
    display: inline; }

.llms-certificate-container {
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }
  .llms-certificate-container .certificate-background {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block; }
  .llms-certificate-container .llms_certificate,
  .llms-certificate-container .llms_my_certificate {
    margin: 80px;
    position: relative;
    z-index: 2; }

@media print {
  @page {
    size: auto; }
  .no-print {
    display: none; }
  /* Make everything on the page invisible */
  body * {
    visibility: hidden !important;
    background: #fff none; }
  .site, .site-content {
    overflow: visible; }
  /* remove all headers, menus and footers */
  header, aside, nav, footer {
    display: none !important; }
  /* make sure a .container parent doesn't shif the certificate see: https://github.com/gocodebox/lifterlms/issues/1163 */
  .single-llms_certificate .container {
    width: 100%; }
  /* make only the certificate container and its children visible */
  .llms-certificate-container, .llms-certificate-container * {
    visibility: visible !important; }
  /* position certificate absolutely and center horizontally */
  .llms-certificate-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #fff none; } }
