/**
 * Reset.
 */
body {
  background-color: #fff;
  background-image: none;
  margin: 0 auto;
}

.header, .footer,
.wrap-header, .wrap-footer,
.site-header, .site-footer,
.nav-primary, .primary-nav {
  display: none;
}

.llms-certificate-container {
  margin: 40px auto 0;
}

/**
 * Legacy Template.
 */
.llms-certificate-container:not(.cert-template-v2) {
  padding: 0;
  overflow: hidden;
}
.llms-certificate-container:not(.cert-template-v2) .certificate-background {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}
.llms-certificate-container:not(.cert-template-v2) .llms_certificate,
.llms-certificate-container:not(.cert-template-v2) .llms_my_certificate {
  margin: 80px;
  position: relative;
  z-index: 2;
}
.llms-certificate-container:not(.cert-template-v2) h1:first-child {
  text-align: center;
}

/**
 * V2 Template
 */
.llms-certificate-wrapper {
  margin: 0 auto;
}

.llms-certificate-container.cert-template-v2 {
  width: 100%;
  height: 100%;
  background-size: 100% 100% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.llms-certificate-container.cert-template-v2 .wp-block-columns .wp-block-column > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/**
 * Certificate Actions Footer.
 */
.llms-print-certificate {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.llms-print-certificate form {
  display: inline;
}

@media print {
  html, body {
    -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
    height: 100%;
    overflow: hidden;
  }
  @page {
    size: auto;
  }
  .no-print {
    display: none;
  }
  body * {
    visibility: hidden !important;
    background: #fff none;
  }
  .site, .site-content {
    overflow: visible;
  }
  header, aside, nav, footer {
    display: none !important;
  }
  .single-llms_my_certificate .container,
.single-llms_certificate .container {
    width: 100%;
  }
  .llms-certificate-container,
.llms-certificate-container * {
    visibility: visible !important;
    background: transparent none;
  }
  .llms-certificate-container:not(.cert-template-v2) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #fff none;
  }
  .llms-certificate-container.cert-template-v2 {
    margin: 0 auto !important;
    -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
