*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.llms-course-list {
	margin: 30px 0;
	padding: 30px;
	background: #FFF;
	border-radius: 2px;
	display: inline-block;
	width: 100%;
}

.llms-course-list .courses {
	border-top: 1px solid #f6f6f6;
	width: 100%;
	display: inline-block;
	text-align: center;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
}

.llms-course-list .courses li {
	width: 300px;
	margin: 15px;
	border: 1px solid #EFEFEF;
	padding: 15px;
	border-radius: 2px;
	border-bottom: 1px solid #f6f6f6;
	position: relative;
	list-style: none;
	vertical-align: top;
	display: inline-block;
	text-align: left;
}

.llms-course-list .courses li.first {
	margin-left: 0;
}

.llms-course-list .courses li.last {
	margin-right: 15px;
}

.llms-course-list .courses li .llms-title {
	display: block;
	font-weight: 700;
	margin-bottom: .5em;
	font-size: 18px;
	text-decoration: none;
	line-height: 30px;
}

.llms-course-list .courses li .llms-price {
	display: block;
	font-weight: 700;
	margin-bottom: .5em;
	font-size: 24px;
	text-decoration: none;
	line-height: 30px;
}
.llms-video-wrapper {
	text-align: center;
}