

.llms-lesson-link-locked, .llms-lesson-link-locked:hover   {
  background: #f1f1f1;
  box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.4);
  display: block;
  color: #a6a6a6;
  min-height: 85px;
  padding: 15px;
  text-decoration: none;
  position: relative;
}

.llms-lesson-preview.is-complete .llms-lesson-link-locked {
  padding-left: 75px;
}

.llms-lesson-tooltip { 	display: none;
				position:absolute; 
				color: #000000;
				background-color: #c0c0c0;
				padding:.25em;
				border-radius: 2px;
				z-index: 100;				
 				top:0;
    			left:50%; 
    			text-align: center;
    			-webkit-transform: translateX(-50%) translateY(-100%); 
    			        transform: translateX(-50%) translateY(-100%);
			}

/* arrows - :after */
.llms-lesson-tooltip:after {
    content: ""; 
    width: 0; 
    height: 0; 
    border-top: 8px solid #c0c0c0; 
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    position:absolute; 
    bottom:-8px; 
    left:50%; 
    transform: translateX(-50%);
}

.llms-lesson-tooltip.active {
  display: inline-block;
}