/* PirataOne/pirata-one-regular - latin */
@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/PirataOne/pirata-one-v22-latin-regular.woff2'); /* Super Modern Browsers */
  src: local('Pirata One'),
       url('/assets/fonts/PirataOne/pirata-one-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/PirataOne/pirata-one-v22-latin-regular.woff') format('woff'); /* Modern Browsers */
      }
/* imperial-script-regular - latin */
@font-face {
  font-family: 'Imperial Script';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/ImperialScript/imperial-script-v3-latin-regular.woff'); /* Super Modern Browsers */
  src: local('Imperial Script'),
       url('/assets/fonts/ImperialScript/imperial-script-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/ImperialScript/imperial-script-v3-latin-regular.woff') format('woff'); /* Modern Browsers */
      }
/* dancing-script-regular - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/DancingScript/dancing-script-v24-latin-regular.woff2'); /* Super Modern Browsers */
  src: local('Dancing Script'),
       url('/assets/fonts/DancingScript/dancing-script-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/DancingScript/dancing-script-v24-latin-regular.woff') format('woff'); /* Modern Browsers */
      }
/* unifrakturmaguntia-regular - latin */
@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/UnifrakturMaguntia/unifrakturmaguntia-v16-latin-regular.woff2'); /* Super Modern Browsers */
  src: local('UnifrakturMaguntia'),
       url('/assets/fonts/UnifrakturMaguntia/unifrakturmaguntia-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/UnifrakturMaguntia/unifrakturmaguntia-v16-latin-regular.woff') format('woff'); /* Modern Browsers */
      }