/******************************************************************

COLORS

******************************************************************/

$color-white:			#fff;
$color-lightgrey:		#ccc;
$color-grey: 			#999;
$color-darkgrey:		#666;
$color-cinder:			#444;
$color-lightblue:		#33b1cb;
$color-blue: 			#069cb5;
$color-darkblue:		#0185a3;