/**
 * Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 *
 * @since   1.6.0
 * @version 1.6.0
 */

#wpwrap .edit-post-visual-editor .wp-block-llms-course-information ul {

	list-style-type: none;
	margin-left: 0;
	margin-top: 0.5em;

}
