.llms-analytics-wrap {

	.llms-analytics-nav {
		margin-bottom: 20px;
		.llms-nav-tab-wrapper {
			margin: 0;
		}
	}

	.llms-nav-item.llms-analytics-form {
		color: #414141;
		font-size: 13px;
		padding: 6px 14px;

		input {
			border: 0;
			font-size: 13px;
			margin: 0;
			padding: 3px 6px;
			vertical-align: middle;
		}

		.select2-container {
			input {
				width: 100% !important;
			}
		}
	}

	.button.small {
		height: 23px;
		line-height: 23px;
	}


	.llms-analytics-filters {
		display: none;

		.llms-nav-item {
			box-sizing: border-box;
			width: 100%;

			label {
				display: block;
			}
		}

		.button {
			float: right;
		}

	}

}
