h1.llms-page-header {
	color: #999;
	font-weight: 500;
	letter-spacing: 2px;
}

#llms-options-page-contents {
	h2 {
		color: #999;
		font-weight: 500;
		letter-spacing: 2px;
		border-bottom: 1px solid #999;
	}
}