.llms-grade-book-wrap {

	.llms-options-page-contents {

		background: $color-white;
		padding: 20px;

	}

	th a {
		text-decoration: none;
		&.active {
			&.ASC .desc,
			&.DESC .asc { display: inline-block; }
		}
		.dashicons {
			display: none;
			font-size: 16px;
			height: 16px;
			width: 16px;
		}
	}

	td.id a {
		text-decoration: none;
	}

	th.name, td.name { text-align: left; }

}


.llms-gb-student {

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		a {
			color: $color-brand-dark-blue;
			text-decoration: none;
			&:hover {
				color: $color-brand-blue;
			}
		}
	}


	.llms-gb-student-header {

		.llms-student-avatar {
			border-radius: 50%;
			display: inline-block;
			margin-right: 10px;
			overflow: hidden;
			vertical-align: middle;
		}

		.llms-gb-student-info {
			display: inline-block;
			vertical-align: middle;

		}

	}

	.llms-gb-tabs {
		.llms-gb-tab {
			display: none;
			&.active {
				display: block;
			}
		}
	}

}

.llms-gb-footer {
	margin-top: 25px;
}

#llms-students-table .name {
	text-align: left;
}
