.llms-grade-book-wrap {

	.llms-options-page-contents {

		background: $color-white;
		padding: 20px;

	}

	td.id a {
		text-decoration: none;
	}

	th.name, td.name { text-align: left; }

	th.section-title {
		background: #eaeaea;
		text-align: left;
	}

	td.questions-table {
		text-align: left;

		.correct,
		.question,
		.selected {
			text-align: left;
			max-width: 300px;

			img {
				height: auto;
				max-width: 64px;
			}
		}
	}

	table.quiz-attempts {
		margin-bottom: 40px;
	}

}


.llms-gb-student {

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		a {
			color: $color-brand-dark-blue;
			text-decoration: none;
			&:hover {
				color: $color-brand-blue;
			}
		}
	}


	.llms-gb-student-header {

		.llms-student-avatar {
			border-radius: 50%;
			display: inline-block;
			margin-right: 10px;
			overflow: hidden;
			vertical-align: middle;
		}

		.llms-gb-student-info {
			display: inline-block;
			vertical-align: middle;

		}

	}

	.llms-gb-tabs {
		.llms-gb-tab {
			display: none;
			&.active {
				display: block;
			}
		}
	}

}

.llms-gb-footer {
	margin-top: 25px;
}

#llms-students-table .name {
	text-align: left;
}
