.llms-table {

	border: 1px solid #cecece;
	border-collapse: collapse;
	width: 100%;

	td, th {
		border-bottom: 1px solid #cecece;
		font-size: 95%;
		padding: 4px;
		text-align: center;

		&.expandable.closed {
			display: none;
		}
	}

	thead th,
	tfoot th {
		background-color: #eaeaea;
		font-weight: 500;
	}

	tfoot th {
		text-align: right;
		padding: 8px;
		border-bottom: none;
	}

	&.zebra tbody tr:nth-child( even ) td {
		background-color: #fafafa;
	}

	&.zebra tbody tr:nth-child( odd ) td {
		background-color: #fff;
	}

	&.text-left {
		td, th {
			text-align: left;
		}
	}

	.llms-action-icon {
		color: #777;
		text-decoration: none;

		.tooltip {
			cursor: pointer;
		}

		&:hover {
			color: $color-blue;
		}

		&.danger:hover {
			color: $color-danger;
		}
	}

}
