.dad-list, .dad-list .title {
	border: 1px solid #dfdfdf;
}
.dad-list tr {
	cursor: move;
}
.newTasks{
	padding:3px;
	border:1px solid #888;
	-moz-border-radius:3px;
  	-webkit-border-radius: 3px;
  	border-radius:3px;
}
.widefat th, .widefat td {
overflow: visible;
}

.title {
	padding: 10px;
	line-height: 1;
	border-color: gray;
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	margin: 0;
	position: relative;
}
.title .order {
	margin-right: 10px;
	font-weight: bold;
}
.chosen-select {
	width: 300px;
}
.myicon:before {
	content: "\2605";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top;
}
i.section-dismiss {
	font-size: 2em;
	position: absolute;
	right: 16px;
	top: 12px;
	color: rgba(88, 88, 91, 0.6);
	cursor: pointer;
}
i.section-dismiss:hover {
	cursor: pointer;
	color: #d54e21;
}
.section-content {
	padding: 10px;
	line-height: 1;
	border: 1px solid #dfdfdf;
	position: relative;
}
.section-content:hover {
	background-color: #f9f9f9;
}
.section {
	margin-top: 20px;
	margin-bottom: 20px;
}
#syllabus {
	position: relative;
	min-height: 100px;
}
#syllabus .add-lesson {
	margin: 10px 0 16px 10px;
}
.deleteBtn {
	color: rgba(88, 88, 91, 0.6);
	font-size: 2em;
	cursor: pointer;
	margin-top: -6px;
}
.deleteBtn:hover {
	cursor: pointer;
	color: #d54e21;
}
.select, .input {
	width: 300px;
}
#post_course_difficulty {
	min-width: 200px;
}
#_video-embed, #_audio-embed {
	width: 100%;
}
.clear {
	clear: both;
	width: 100%;
}
.llms-large-text {
	min-height: 100px;
}
#spinner {
	width: 20px;
	height: 20px;
	margin-left: 4px;
	margin-top: 5px;
	display: inline-block;
}
table.dad-list tr th:nth-child(2) {
	width: 50px;
}
table.dad-list tr td:nth-child(2) {
	text-align: right;
	padding-right: 16px;
	padding-top: 14px;
}
.meta-box-sortables .course-section select {
	width:75%;
}
#addNewSection {
	margin-bottom: 16px;
}

.courses {
	background: #000;
}

.llms_certificate_default_image, .llms_certificate_image  {
	width: 300px;
}

.llms_achievement_default_image, .llms_achievement_image  {
	width: 120px;
}
.llms-access-level {
	width: 100%;
	margin-bottom: 6px;
}
.llms-access-levels {
	min-height: 42px;
	overflow: auto;
	padding: .9em;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
}
.llms_access_options {
	padding: 10px;
}
.llms-access-option {
	padding:10px 10px 10px 13px;
}
.llms-access-level:last-child {
	margin-bottom: 0;
}
.llms-access-levels-title {
	padding-bottom: 10px;
	display: block;
	width: 100%;
	font-weight: bold;
}
.toplevel_page_lifterlms img { 
  height: 18px;
  width: 18px;
}
.llms-lesson-list {
	margin: 0;
}
.llms-lesson-list a {
	text-decoration: none;
}
.llms-lesson-list span {
	margin-left: 10px;
}
.course-section {
}
select[disabled] { 
 color:#000;
 border: transparent;
 background: none;
-moz-appearance: checkbox-container;
 -webkit-appearance: none;
 -ms-appearance: none;
 appearance: none;
    text-indent: 1px;
    text-overflow: '';
    box-shadow: none;
    background: none;
    margin-top: -4px;
}
select[disabled]::-ms-expand {
    display: none;
}

.section-placeholder {
  height: 200px;
  width: 100%;
}
.sortable-placeholder {
  border-left: 2px solid #4999DA; 
  margin: 0 0 0.75rem 0;
  position: relative;
  z-index: 6;
  visibility: visible;
  background: #f4f9fb;
}
#syllabus .placeholder {
	height: 46px;

	border:10px solid #4999DA; 
	background: #f4f9fb;
  	//margin: 0 0 0.75rem 0;
  	//position: relative;
  	//z-index: 6;
  	visibility: visible;
}
/*we really need to create a helper function to style the dragged element but for v1 I'm not worried about it*/
.ui-sortable-helper  {
    background-color: #fff;
    border: 1px solid #ccc;
}
// .placeholder {
//      background: #f3f3f3;
//      visibility: visible;
//  }
.list_item td{
	position: relative;
}

.course-section .title .llms-fa-move-lesson {
  	position: absolute;
	font-size: 20px;
	right: 60px;
	color: rgba(88, 88, 91, 0.6);
	top: 14px;
	cursor: move;
}
.course-section .title .llms-fa-edit-lesson {
  	position: absolute;
	font-size: 20px;
	right: 104px;
	color: rgba(88, 88, 91, 0.6);
	top: 14px;
	cursor: pointer;
}

.course-section .title .llms-fa-edit-lesson:hover {
	color: #009af7;
}
.course-section .title .llms-fa-move-lesson:hover {
	color: #009af7;
}
.course-section .title .llms-fa-move-lesson:active {
	color: #009af7;
}
.course-section .title .llms-fa-edit-lesson:active {
	color: #009af7;
}
	

tbody tr td .llms-fa-move-lesson {
	position: absolute;
	font-size: 20px;
	right: 60px;
	color: rgba(88, 88, 91, 0.6);
	top: 10px;
	cursor: move;
}
tbody tr td .llms-fa-move-lesson:hover {
	color: #009af7;
}
tbody tr td .llms-fa-move-lesson:active {
	color: #009af7;
}
tbody tr td .llms-fa-edit-lesson {
	position: absolute;
	font-size: 20px;
	right: 104px;
	color: rgba(88, 88, 91, 0.6);
	top: 11px;
	cursor: pointer;
}
tbody tr td .llms-fa-edit:hover {
	color: #009af7;
	cursor: pointer;
}
tbody tr td .llms-fa-edit:active {
	color: #009af7;
}

tbody tr td .llms-fa-move {
	position: absolute;
	font-size: 20px;
	right: 60px;
	color: rgba(88, 88, 91, 0.6);
	top: 10px;
	cursor: move;
}
tbody tr td .llms-fa-move:hover {
	color: #009af7;
}
tbody tr td .llms-fa-move:active {
	color: #009af7;
}
tbody tr td .llms-fa-edit {
	position: absolute;
	font-size: 20px;
	right: 104px;
	color: rgba(88, 88, 91, 0.6);
	top: 11px;
	cursor: pointer;
}
tbody tr td .llms-fa-edit-lesson:hover {
	color: #009af7;
	cursor: pointer;
}
tbody tr td .llms-fa-edit-lesson:active {
	color: #009af7;
}

#llms-single-options {
  position: relative;
  min-height: 100px;
  padding: 10px 0;
}
#llms-question-container {
	position: relative;
	min-height: 100px;
}
.llms-single-options table textarea {
  width: 96%;
  margin: 8px;
}
.option-text {
	width: 100%;
	margin-top: 10px;
}
.deleteBtn.single-option-delete {
	position: absolute;
	font-size: 2em;
	right: 14px;
	color: rgba(88, 88, 91, 0.6);
	top: 14px;
}
.single-option-delete:hover {
	cursor: pointer;
	color: #d54e21;
}
td.llms-table-points, th.llms-table-points {
	width: 10%;
	input[type=text] {
		width: 100%;
	}
}
td.llms-table-select, th.llms-table-select {
	width: 70%;
	select {
		width: 100%;
	}
}
td.llms-table-options {
}
.question-select {
	margin-top: 2px;
}
.llms-table-select .chosen-container {
	margin-top: 2px;
}
// table.dad-list tr th:nth-child(2) {
// 	width: 50px;
// }
// table.dad-list tr td:nth-child(2) {
// 	text-align: right;
// 	padding-right: 16px;
// 	padding-top: 14px;
// }




