.wrap {
	h2.llms-nav-tab-wrapper {
		background: $color-lightblue;
		padding: 0;

		&.llms-skin--light {
			background: $color-white;
			border: 1px solid $color-lightgrey;
		}

		.llms-nav-tab,
		.llms-nav-tab-settings {
			background: $color-lightblue;
			border: 0;
			color: #fff;
			font-size: 15px;
			font-weight: 300;
			line-height: 24px;
			margin: 0;
			padding: 10px 0;
			text-decoration: none;
			text-align: center;
			transition: .8s;

			&:hover {
				background: $color-blue;
			}

			&:active,
			&.llms-nav-tab-active {
				background: $color-darkblue;
			}

		}

		.llms-nav-tab-filters {
			box-sizing: border-box;
			box-shadow: none;
			border: 0;
			font-size: 13px;
			font-weight: 300;
			line-height: 24px;
			margin: 0;
			padding: 8px 0;
			text-decoration: none;
			text-align: center;
			transition: .8s;

			&:hover {
				background: darken( $color-white, 3 );
			}

			&:active,
			&.llms-nav-tab-active {
				background: darken( $color-white, 3 );
			}
		}

		.llms-nav-tab-filters {
			padding-left: 15px;
			padding-right: 15px;

			label {
				letter-spacing: 3px;
				vertical-align: baseline;
			}

			input {
				border: none;
				background: transparent;
				box-shadow: none;
				margin: 0;
				width: 100px;
			}

			&.llms-nav-tab-active {
				label {
					letter-spacing: 4px;
				}
			}

		}

		a {
			letter-spacing: 3px;
			&:hover,
			&.llms-nav-tab-active {
				letter-spacing: 4px;
			}
		}

	}
}

.llms-button-primary,
.llms-button-secondary {
	border:none !important;
	text-shadow: none !important;
	border: none !important;
	outline: none !important;
}

.llms-nav-tab-wrapper .llms-button-primary {
	box-shadow: none !important;
}
