.llms-nav-tab-wrapper {
	background: $color-blue;
	margin: 20px 0;

	&.llms-nav-secondary {
		background: #e1e1e1;

		.llms-nav-item {
			margin: 0;

			.llms-nav-link:hover,
			&.llms-active .llms-nav-link {
				background: darken( #e1e1e1, 8 );
			}

		}

		.llms-nav-link {
			color: #414141;
			font-size: 13px;
			padding: 8px 14px;

			.dashicons {
				font-size: 15px;
				height: 15px;
				width: 15px;
			}
		}

	}

	.llms-nav-items {
		@include clearfix;
		margin: 0;
	}

		.llms-nav-item {
			margin: 0;

			.llms-nav-link:hover {
				background: $color-brand-blue-dark;
			}
			&.llms-active .llms-nav-link {
				background: $color-brand-dark-blue;
			}

			&.llms-active .llms-nav-link {
				font-weight: 400;
			}

			@media only screen and (min-width: 768px) {
				float: left;

				&.llms-nav-item-right {
					float: right;
				}
			}

		}

			.llms-nav-link {

				color: #fff;
				cursor: pointer;
				display: block;
				font-weight: 300;
				font-size: 14px;
				letter-spacing: 2px;
				padding: 14px 28px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				transition: all .3s ease;

			}
}
