.llms-nav-tab-wrapper {
	background: $color-blue;
	margin: 20px 0;

	&.llms-nav-secondary {
		background: #e1e1e1;

		.llms-nav-item {
			margin: 0;

			.llms-nav-link:hover,
			&.llms-active .llms-nav-link {
				background: darken( #e1e1e1, 8 );
			}

		}

		.llms-nav-link {
			color: #414141;
			font-size: 13px;
			padding: 8px 14px;

			.dashicons {
				font-size: 15px;
				height: 15px;
				width: 15px;
			}
		}

	}

	&.llms-nav-text {
		background: inherit;
		.llms-nav-item {
			background: inherit;
			&:last-child:after {
				display: none;
			}
			&:after {
				content: '|';
				display: inline-block;
				margin: 0 3px 0 0;
			}
			.llms-nav-link:hover,
			&.llms-active .llms-nav-link {
				background: inherit;
				color: $color-brand-blue;
				text-decoration: underline;
			}
			.llms-nav-link {
				color: $color-brand-dark-blue;
				display: inline-block;
				letter-spacing: 0;
				margin: 0;
				padding: 0;
				text-transform: none;
			}
		}
	}

	.llms-nav-items {
		@include clearfix;
		margin: 0;
	}

		.llms-nav-item {
			margin: 0;

			.llms-nav-link:hover {
				background: $color-brand-blue-dark;
			}
			&.llms-active .llms-nav-link {
				background: $color-brand-dark-blue;
			}

			&.llms-active .llms-nav-link {
				font-weight: 400;
			}

			@media only screen and (min-width: 768px) {
				float: left;

				&.llms-nav-item-right {
					float: right;
				}
			}

		}

			.llms-nav-link {

				color: #fff;
				cursor: pointer;
				display: block;
				font-weight: 300;
				font-size: 14px;
				letter-spacing: 1px;
				padding: 9px 18px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				transition: all .3s ease;

			}
}
