.llms-cols {
	@extend %clearfix;

	.llms-cols {
		width: 100%;
	}

	@media all and (min-width: 600px) {
		[class*="llms-col-"] {
			float: left;
		}

		$cols: 1;
		@while $cols <= 12 {
			.llms-col-#{$cols} {
				width: calc( 100% / $cols );
			}
			$cols: $cols + 1;
		}

	}

}

.llms-flex-cols {
	display: flex;
	flex-flow: row wrap;

	@media all and (min-width: 600px) {
		[class*="llms-col-"] {
   			flex: 0 1 auto;
   			width: 100%;
		}

		$cols: 1;
		@while $cols <= 12 {
			.llms-col-#{$cols} {
				width: 100% / $cols;
			}
			$cols: $cols + 1;
		}
	}	
}
