[data-tip],
[data-title-default],
[data-title-active] {

	$bgcolor: #444;

	position: relative;

	&.tip--top-right {
		&:before {
			bottom: 100%;
			left: -10px;
		}
		&:hover:before {
			bottom: calc( 100% + 6px );
		}
		&:after {
			border-top-color: $bgcolor;
			left: 6px;
			top: 0;
		}
		&:hover:after {
			top: -6px;
		}
	}


	&.tip--top-left {
		&:before {
			bottom: 100%;
			right: -10px;
		}
		&:hover:before {
			bottom: calc( 100% + 6px );
		}
		&:after {
			border-top-color: $bgcolor;
			right: 6px;
			top: 0;
		}
		&:hover:after {
			top: -6px;
		}
	}



	&.tip--bottom-left {
		&:before {
			top: 100%;
			right: -10px;
		}
		&:hover:before {
			top: calc( 100% + 6px );
		}
		&:after {
			border-bottom-color: $bgcolor;
			right: 6px;
			bottom: 0;
		}
		&:hover:after {
			bottom: -6px;
		}
	}

	&.tip--bottom-right {
		&:before {
			top: 100%;
			left: -10px;
		}
		&:hover:before {
			top: calc( 100% + 6px );
		}
		&:after {
			border-bottom-color: $bgcolor;
			left: 6px;
			bottom: 0;
		}
		&:hover:after {
			bottom: -6px;
		}
	}

	&:before {
		background: $bgcolor;
		border-radius: 4px;
		color: #fff;
		font-size: 13px;
		line-height: 1.2;
		padding: 8px;
		max-width: 300px;
		width: max-content;
	}
	&:after {
		content: '';
		border: 6px solid transparent;
		height: 0;
		width: 0;
	}

	&:before,
	&:after {
		opacity: 0;
		transition: all 0.2s 0.1s ease;
		position: absolute;
		pointer-events: none;
		visibility: hidden;
	}
	&:hover:before,
	&:hover:after {
		opacity: 1;
		transition: all 0.2s 0.6s ease;
		visibility: visible;
		z-index: 99999999;
	}

}

[data-tip] {
	&:before {
		content: attr(data-tip);
	}
}
[data-tip].active {
	&:before {
		content: attr(data-tip-active);
	}
}
