<!-- wp:group {"className":"llms-focus-mode-wrapper","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull llms-focus-mode-wrapper" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">

	<!-- wp:group {"className":"llms-focus-mode-header","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"style":{"spacing":{"padding":{"top":"15px","bottom":"15px","left":"20px","right":"20px"}},"border":{"bottom":{"color":"#e5e5e5","width":"1px"}}}} -->
	<div class="wp-block-group llms-focus-mode-header" style="border-bottom-color:#e5e5e5;border-bottom-width:1px;padding-top:15px;padding-right:20px;padding-bottom:15px;padding-left:20px">
		<!-- wp:llms/parent-course /-->
		<!-- wp:llms/course-progress /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"llms-focus-mode-body","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
	<div class="wp-block-group llms-focus-mode-body">

		<!-- wp:group {"className":"llms-focus-mode-sidebar","layout":{"type":"default"}} -->
		<div class="wp-block-group llms-focus-mode-sidebar">
			<!-- wp:heading {"level":3,"className":"llms-focus-mode-sidebar-header"} -->
			<h3 class="llms-focus-mode-sidebar-header">Course Syllabus</h3>
			<!-- /wp:heading -->
			<!-- wp:group {"className":"llms-focus-mode-sidebar-content","layout":{"type":"default"}} -->
			<div class="wp-block-group llms-focus-mode-sidebar-content">
				<!-- wp:llms/course-syllabus /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"className":"llms-focus-mode-content","layout":{"type":"default"},"style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}}}} -->
		<div class="wp-block-group llms-focus-mode-content" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px">
			<!-- wp:post-title {"level":1} /-->
			<!-- wp:post-content /-->
		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->
