/**
 * Editor Styles for SearchPost Inpspector Component
 *
 * @since    1.6.0
 * @version  1.6.0
 */

.edit-post-sidebar,
.edit-post-settings-sidebar__panel-block {
	.components-panel__body .llms-search input {
		box-shadow: none;
	}
}

.llms-search__menu {
	background: #fff !important;
	z-index: 9999999 !important;
}

.llms-search__value-container {
	width: 100%;
}
