body.admin_page_llms-course-builder {
	background: #fff;

	#adminmenumain { display: none; }
	#wpbody-content { padding-bottom: 0; }
	#wpfooter { display: none; }

	#wpcontent, #wpfooter {
		margin-left: 0;
	}

	.llms-button-secondary {
		.fa {
			margin-right: 5px;
		}
	}

	// &.folded {
	// 	.llms-course-builder {
	// 		left: 56px;
	// 	}
	// }

	.webui-popover {
		.select2-container--default {
			.select2-results__group {
				font-size: 16px;
			}
			.select2-results__option .select2-results__option {
				padding-left: 2em;
			}
		}

	}
}

.wrap.lifterlms.llms-builder {
	margin: 0;
	padding: 0;
	position: relative;


	&.editor-active {
		.llms-video-explainer {
			display: none;
		}

		.llms-builder-sidebar {
			padding: 10px;
			width: calc( 100% - 200px );
			z-index: 3;
		}
		@media only screen and ( min-width: 1200px ) {
			.llms-builder-main {
				width: 560px;
			}
			.llms-builder-sidebar {
				width: calc( 100% - 640px );
			}
		}
		@media only screen and ( min-width: 1440px ) {
			.llms-builder-main {
				width: calc( 100% - 780px );
			}
			.llms-builder-sidebar {
				width: 720px;
			}
		}
		@media only screen and ( min-width: 1680px ) {
			.llms-builder-main {
				width: calc( 100% - 1000px );
			}
			.llms-builder-sidebar {
				width: 940px;
			}
		}
		@media only screen and ( max-width: 782px ) {
			.llms-builder-sidebar {
				position: absolute;
				top: 0;
				width: auto;
			}
		}
	}

	.llms-headline {
		display: inline-block;
		font-weight: 400;
		margin: 0;
		padding: 0;
		transition: width 0.3s ease-in-out;
		vertical-align: middle;
	}

	.llms-builder-main {
		padding: 30px 30px 30px 0;
		position: relative;
		width: calc( 100% - 450px );
		z-index: 2;

		.llms-action-icons {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			button {
				background: none;
				color: inherit;
				border: none;
				padding: 0;
				cursor: pointer;
				outline: inherit;
			}
		}

		.llms-action-icons-lesson-id {
			vertical-align: top;
		}

		// Course
		.llms-course-header {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			gap: 15px;
			position: relative;
			z-index: 1;
			.llms-button-secondary {
				margin-right: 10px;
			}
		}


		// Sections
		ul.llms-sections {
			box-shadow: 0 0 0 3px transparent;
			min-height: 60px;
			padding: 10px 0;
			transition: box-shadow 0.6s ease, min-height 0.2s ease;
			&.dragging {
				box-shadow: 0 0 0 3px $color-brand-blue;
			}
		}

			li.llms-section {
				background: #fff;
				border: 1px solid #efefef;
				border-radius: 6px;
				box-shadow: 2px 2px 8px rgba( 0, 0, 0, 0.08 );
				position: relative;
				margin: 0 0 20px 0;
				padding: 0;

				> .llms-builder-header {
					align-items: center;
					display: flex;
					gap: 15px;
					justify-content: space-between;
					padding: 20px 10px 20px 30px;
					.llms-action-icons {
						align-items: center;
						display: flex;
						gap: 15px;
						justify-content: space-between;
						.llms-action-icons-right {
							display: flex;
							gap: 0px;
							margin-top: -5px;
							.llms-action-icon {
								padding: 5px 10px;
							}
						}
						.llms-action-icons-left {
							display: flex;
							gap: 15px;
						}
						@media only screen and ( min-width: 1200px ) {
							.llms-action-icons-right,
							.llms-action-icons-left {
								white-space: nowrap;
							}
						}
					}
				}

				&.expanded {
					.llms-lessons { overflow: visible; }
				}
				&.selected {
					.llms-drag-utility.drag-section {
						border-color: $color-brand-blue;
					}
					> .llms-builder-header .llms-headline {
						font-weight: 400;
						color: $color-brand-blue;
					}
				}

				> .llms-builder-footer {
					border-top: 1px solid #efefef;
					padding: 20px 20px 20px 30px;
				}
			}

			li.llms-section:first-child:before {
				top: 30px;
			}

			li.llms-section:last-child:before {
				bottom: 55px;
			}

			li.llms-section.expanded:last-child:before {
				bottom: 86px;
			}

		// Lessons
		ul.llms-lessons {
			box-shadow: 0 0 0 3px transparent;
			height: 0;
			margin: 0;
			padding: 0;
			transition: box-shadow 0.6s ease, min-height 0.2s ease;
			&.dragging {
				box-shadow: 0 0 0 3px $color-brand-blue;
				min-height: 60px;
			}
			&.expanded, // added via backbone view events
			&.drag-expanded { // added only during dragover events and ignores model attrs
				height: auto;
				li.llms-lesson {
					pointer-events: auto;
					visibility: visible;
				}
			}

		}

			li.llms-lesson {
				background: #fff;
				border-top: 1px solid #efefef;
				margin: 0;
				padding: 20px 10px 20px 30px;
				position: relative;
				pointer-events: none;
				visibility: hidden;

				&.selected {
					.llms-drag-utility.drag-lesson {
						border-color: $color-brand-blue;
					}
					> .llms-builder-header .llms-headline {
						color: $color-brand-blue;
					}
				}

				> .llms-builder-header {
					.llms-headline {
						font-weight: 700;
						margin-left: 10px;
						cursor: pointer;
					}
					align-items: center;
					display: flex;
					flex-wrap: wrap;
					gap: 15px;
					justify-content: space-between;
					.llms-action-icons {
						align-items: center;
						display: flex;
						flex: 1;
						gap: 15px;
						justify-content: space-between;
						.llms-action-icons-left {
							display: flex;
							gap: 15px;
						}
						.llms-action-icons-right {
							display: flex;
							gap: 0;
							margin-top: -5px;
							.llms-action-icon {
								padding: 5px 10px;
							}
						}
						@media only screen and ( min-width: 1200px ) {
							.llms-action-icons-right,
							.llms-action-icons-left {
								white-space: nowrap;
							}
						}
					}

					@media only screen and ( min-width: 1200px ) {
						> .llms-builder-header {
							flex-wrap: nowrap;
						}
					}
				}

			}

		// Drag Utilities
		li.llms-section .llms-drag-utility {
			background: #fff;
			border: 2px solid #ccc;
			border-radius: 50%;
			height: 10px;
			left: 13px;
			position: absolute;
			top: 24px;
			width: 10px;
		}

		li.llms-lesson .llms-drag-utility {
			height: 6px;
			left: 14px;
			top: 25px !important;
			width: 6px;
		}

		.llms-section:hover > .llms-drag-utility,
		.llms-lesson:hover > .llms-drag-utility {
			border-color: #fff;
			cursor: move;
			&:hover:after {
				color: $color-brand-blue;
			}
			&:after {
				background: #fff;
				content: '\00b7\00b7\A\00b7\00b7\A\00b7\00b7';
				color: #ccc;
				display: block;
				font-size: 36px;
				height: 29px;
				letter-spacing: -1px;
				line-height: 8px;
				left: -7px;
				position: absolute;
				text-align: center;
				top: -12px;
				width: 23px;
			}
		}

		// Sortable
		li.llms-section,
		li.llms-lesson {
			&.ui-sortable-helper,
			&.ui-draggable-dragging {
				border: 1px solid #ccc;
				background: #fff;
				transform: rotate( 2deg );
				visibility: visible !important;
				z-index: 999;
			}

			&.llms-sortable-placeholder {
				border: 3px dashed $color-brand-blue;
				background: rgba( $color-brand-blue, 0.3 );
				margin: 0 10px;
				padding: 5px;
				&:before { display: none; }
			}
		}

		ul.llms-sections > li.llms-lesson.ui-draggable-dragging .llms-drag-utility {
			position: relative;
			&:after {
				left: -35px;
				top: -28px;
			}
		}

	}

	// Editable
	.llms-input-wrapper {
		position: relative;
	}

	.llms-input-formatting.ql-container {
		font-size: inherit;
		font-family: inherit;
		.ql-editor.ql-blank::before {
			color: #a0a0a0;
			left: 8px;
			right: 8px;
		}
		.ql-editor {
			p {
				font-size: inherit;
				line-height: 1;
			}
		}
		.ql-tooltip {
			z-index: 1;
		}
	}

	.llms-input,
	.llms-input-formatting .ql-editor {
		border: none;
		border-bottom: 2px dotted transparent;
		box-shadow: none;
		cursor: text;
		display: inline-block;
		font-size: inherit;
		font-weight: 700;
		height: auto;
		line-height: 1;
		margin: 0 8px;
		min-width: 60px;
		padding: 0;
		transition: border 0.2s ease, box-shadow 0.2s ease;
		&:empty:before {
			color: #a0a0a0;
			content: attr( data-placeholder );
		}
		&:hover {
			border-bottom-color: $color-brand-blue;
		}
		&[disabled] {
			cursor: not-allowed;
			&:hover {
				border-bottom-color: transparent;
			}
		}
		&:focus {
			background: #fff;
			box-shadow: 0 0 0 4px #fff, 0 0 0 6px $color-brand-blue;
			border-bottom: none;
			outline: none;
		}
		b, strong {
			font-weight: 700;
		}
		&.standard {
			border: 1px solid #e6e6e6;
			margin: 2px;
			padding: 5px 3px;
			&:hover {
				border-color: #d6d6d6;
			}
			&:focus {
				box-shadow: 0 0 0 2px $color-brand-blue;
			}
		}
		&.permalink {
			display: none;
		}
	}

	.llms-input-formatting .ql-editor {
		padding: 0 1px;
	}

	.llms-label {
		font-weight: 500;
		.fa {
			color: #aaa;
			padding-left: 6px;
		}
	}

	// .llms-editable-image,
	// .llms-editable-video,
	// .llms-editable-editor {
	// }

	.llms-editable-editor {
		.llms-label {
			float: left;
			margin-right: 10px;
			position: relative;
			top: 10px;
		}
		textarea {
			border: none;
			padding: 10px;
			display: block;
			width: 100%;
		}
	}

	.llms-editable-image {
		button.llms-add-image {
			width: 130px;
		}
		.llms-image {
			display: inline-block;
			position: relative;
			&:hover .llms-action-icon {
				opacity: 1;
			}
			.llms-action-icon {
				color: #fff;
				font-size: 24px;
				opacity: 0;
				padding: 0;
				position: absolute;
				transition: opacity 0.2s ease;
				right: 3px;
				top: 1px;
				z-index: 1;
			}
			img {
				display: block;
				height: 100px;
				max-width: 100%;
				width: auto;
			}
		}
	}

	.llms-settings-field,
	.llms-editable-toggle-group {
		background: #f4f4f4;
		padding: 10px;
		position: relative;
		margin: 0 1px;

		&.has-label-after {
			align-items: center;
			display: flex;
			flex-wrap: wrap;

			.llms-label {
				min-width: 100%;
			}
			.llms-editable-input {
				flex: 2;
			}
			.llms-label--after {
				color: #888;
				min-width: auto;
				font-size: 85%;
				padding-left: 10px;
			}
		}

		.llms-switch {
			display: block;
			width: 100%;
			@include clearfix;

			.llms-label {
				width: calc( 100% - 34px );
			}
		}

		.llms-editable-image,
		.llms-editable-video,
		.llms-editable-editor {
			margin-top: 2px;
		}

		.llms-input.standard {
			display: block;
			width: 100%;
			&.two-digits,
			&.three-digits,
			&.four-digits {
				display: inline-block;
			}
		}

	}

	.llms-editable-number {
		.llms-input {
			color: #888;
			min-width: 30px;
			text-align: right;
			&.two-digits {
				width: 30px;
			}
			&.three-digits {
				width: 40px;
			}
			&.four-digits {
				width: 60px;
			}
		}
		small {
			color: #888;
			text-transform: uppercase;
		}
	}

	.llms-model-settings {
		background-color: #FFF;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
		@include clearfix();

		.llms-settings-group-header {
			border-bottom: 1px solid #efefef;
			padding: 10px;

			.fa-caret-up { display: block; }
			.fa-caret-down { display: none; }
		}
		&.hidden {
			.llms-settings-group-header {
				.fa-caret-up { display: none; }
				.fa-caret-down { display: block; }
			}
			.llms-settings-group-body { display: none; }
		}
	}

	.llms-settings-group-header {
		@include clearfix();
		.llms-settings-group-title {
			display: inline-block;
			font-size: 16px;
			font-weight: 700;
			line-height: 1.5;
			margin: 0 5px;
			padding: 0;
		}
		.llms-settings-group-toggle {
			float: right;
			font-size: 18px;
			padding: 2px;
		}
	}

	.llms-settings-group-body {
		padding: 16px;
	}

	.llms-settings-row {
		display: flex;
		flex-wrap: wrap;
		margin: 2px 0;

		.llms-settings-field,
		.llms-editable-toggle-group {
			flex: 1;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		.llms-breaker {
			margin: 2px 0;
			width: 100%;
		}
	}

	.llms-editable-select {
		margin: 2px 0;
		.select2-container--default.select2-container--focus .select2-selection--multiple {
			border-color: #aaa;
		}
	}

	.llms-editable-radio {
		label {
			display: block;
		}
		&.has-images {
			input { display: none; }
			label {
				display: inline-block;
				margin: 0 3px;
			}
			label > span {
				transition: background 0.2s ease;
				display: inline-block;
				padding: 3px;
			}
			img { display: block; }
			input:checked + span {
				background: $color-brand-blue;
			}
		}
	}

	.settings-field--disabled {
		opacity: 0.5;
	}

	// Icons
	.llms-action-icon {
		color: #666;
		display: inline-block;
		font-size: 13px;
		text-decoration: none;
		&:hover {
			color: $color-brand-blue;
			&.danger { color: $color-danger; }
		}
		&.circle {
			border: 2px solid #aaa;
			border-radius: 50%;
			font-size: 9px;
			height: 8px;
			line-height: 1;
			padding: 5px;
			text-align: center;
			width: 8px;
			&:hover {
				border-color: $color-brand-blue;
				&.danger {
					border-color: $color-danger;
				}
			}
		}
	}

	ul.llms-info-list {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		margin: 10px 0 0 8px;
		padding: 0;
		li.llms-info-item {
			color: #666;
			font-size: 13px;
			margin: 0;
			&.active,
			&.active .llms-action-icon {
				color: $color-brand-blue;
				.fa {
					margin-right: 5px;
				}
			}
			button {
				background: none;
				color: inherit;
				border: none;
				padding: 0;
				cursor: pointer;
				outline: inherit;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	// Sidebar
	.llms-builder-sidebar {
		background: #e6e6e6;
		bottom: 0;
		overflow: hidden;
		padding: 30px;
		position: fixed;
		transition: width 0.3s ease-in-out;
		top: 32px;
		right: 0;
		width: 360px;
		z-index: 1;

		.llms-utilities {

			ul, li {
				margin: 0;
				padding: 0;
			}

			ul {
				display: flex;
				gap: 15px;
				li {
					flex: 1;
					&:last-child {
						margin-right: 0;
					}
				}
			}

			.llms-utility {
				background: #efefef;
				border: 1px solid #ccc;
				border-radius: 8px;
				color: inherit;
				cursor: pointer;
				display: block;
				overflow: hidden;
				padding: 6px 12px;
				position: relative;
				text-align: center;
				width: 100%;

				&:hover {
					background: #fefefe;
				}

				.fa {
					background: #848484;
					position: absolute;
					left: 0;
					top: 0;
					padding: 7px;
					color: #fff;
				}
			}

		}

		.llms-sidebar-headline {
			margin: 0 0 10px;
			font-size: 22px;
		}

		.llms-elements-list {
			margin-bottom: 30px;
			li {
				margin-bottom: 10px;
			}
		}

		.llms-utility {
			color: #444;
			text-decoration: none;
		}

		.llms-element-button {
			background: $color-brand-blue;
			border-radius: 8px;
			border: none;
			color: #fff;
			cursor: pointer;
			display: block;
			margin: 0;
			overflow: hidden;
			padding: 17px 20px;
			position: relative;
			transition: background 0.2s ease, color 0.2s ease;
			text-align: center;
			width: 100%;

			&:hover {
				background: $color-brand-blue-dark;
			}

			&.secondary {
				background: #efefef;
				color: #444;
				&:hover {
					background: #fefefe;
				}
				.fa {
					background: #848484;
				}
			}

			.fa {
				background: $color-brand-dark-blue;
				border-radius: 4px 0 0 4px;
				color: #fff;
				display: block;
				font-size: 20px;
				padding: 15px 20px;
				position: absolute;
				top: 0;
				left: 0;
			}

			&[disabled="disabled"] {
				opacity: 0.4;
			}

			&.small {

				padding: 8px 10px 8px 46px;
				.fa {
					font-size: 15px;
					padding: 9px 10px;
					width: 20px;
				}

			}

			&.right {

				&.small {
					padding-left: 10px;
					padding-right: 46px;
				}

				.fa {
					border-radius: 0 4px 4px 0;
					left: auto;
					right: 0;
				}

			}

		}



		.llms-editor {
			height: 100%;
			min-height: 100%;
			position: relative;
		}

			// .llms-builder-close-editor {
			// 	background: $color-brand-blue;
			// 	border: none;
			// 	border-radius: 50%;
			// 	color: #fff;
			// 	cursor: pointer;
			// 	display: inline-block;
			// 	font-size: 18px;
			// 	height: 30px;
			// 	margin: 0;
			// 	position: absolute;
			// 	right: 0;
			// 	text-align: center;
			// 	top: 3px;
			// 	width: 30px;
			// 	z-index: 3;
			// }

			.llms-editor-nav {
				background-color: $color-brand-dark-blue;
				margin: 0;
				padding: 8px 0 0 8px;
				font-size: 0;
				margin: -10px -10px 10px -10px;
				position: relative;
				z-index: 2;

				.llms-editor-menu {
					list-style-type: none;
					margin: 0;
					padding: 0;
					position: relative;

					.llms-editor-menu-item {
						display: inline-block;
						margin: 0 6px 0 0;
						padding: 0;

						> .llms-editor-menu {
							display: none;
							&:before {
								border: 8px solid transparent;
								border-left-color: #cacaca;
								content: '';
								position: absolute;
								top: 11px;
								left: 0;
							}

							.llms-editor-menu-item:hover > a,
							.llms-editor-menu-item.active > a {
								background: #dfdfdf;
							}

						}

						&:hover > a {
							background-color: $color-brand-blue;
						}

						&.active > a {
							background-color: #e6e6e6;
							color: $color-brand-blue;
							font-weight: 700;

							&:focus {
								box-shadow: none;
							}
						}

						&.active > .llms-editor-menu {
							display: inline-block;
						}

						a {
							border-top-left-radius: 4px;
							border-top-right-radius: 4px;
							color: #FFF;
							display: inline-block;
							padding: 9px 18px;
							text-decoration: none;
							transition: background 0.2s ease;
							font-size: 15px;
						}


						&.right {
							float: right;

							a,
							&:hover {
								background: transparent;
							}
						}

					}
				}
			}

			.llms-editor-tab {
				display: none;
				height: calc( 100% - 90px );
				overflow: scroll;
				position: relative;
				z-index: 1;
				&.active {
					display: block;

					&.tab--quiz {

						display: flex;
						flex-direction: column;

						.llms-quiz-questions {
							flex: 1 0 auto;
							overflow: scroll;

							// groups
							.llms-quiz-questions {
								overflow: visible;
							}
						}

					}
				}

			}


			// .llms-builder-editor {

			// 	opacity: 0;
			// 	margin: 10px 0;
			// 	transition: opacity 0.2s linear;

			// 	&.ready {
			// 		opacity: 1;
			// 	}

			// 	textarea {
			// 		border: none;
			// 		display: block;
			// 		width: 100%;
			// 	}
			// }

		.llms-builder-save {

			bottom: 10px;
			left: 10px;
			position: absolute;
			right: 10px;
			z-index: 1;

			.llms-builder-error {
				background: $color-danger;
				border-radius: 4px;
				color: #fff;
				display: inline-block;
				font-style: italic;
				padding: 5px 15px 7px 25px;
				margin: 0 0 10px;

				li {
					margin: 0;
					padding: 0;
				}

			}

			.llms-save {
				width: 75%;
			}
			.llms-exit {
				padding-left: 5px;
				padding-right: 5px;
				width: 23%;
			}

			button {
				position: relative;
				i {
					position: absolute;
					left: 10px;
					top: 10px;

					.llms-spinner {
						border-color: #fff;
					}
				}
			}
			button[data-status] .llms-status-indicator { display: none; }
			button[data-status="saved"] .status--saved { display: block; }
			button[data-status="unsaved"] {
				background-color: $color-brand-orange;
				.status--unsaved { display: block; }
			}
			button[data-status="saving"] .status--saving { display: block; }
			button[data-status="error"] .status--error { display: block; }

		}

	}
	@media only screen and ( max-width: 782px ) {
		.llms-builder-sidebar {
			margin-right: 10px;
			position: relative;
			top: 0;
			width: auto;
		}
		.llms-builder-main {
			padding-right: 10px;
			width: auto;
		}
	}

	// Search Popover
	 .select2-container {
	 	z-index: 99999999;
	 }

	.select2-results__option {
		padding: 0;
	}

	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background: $color-brand-blue;
		.llms-existing-action {
			color: #fff;
		}
	}

	.llms-existing-lesson-result {

		align-items: center;
		display: flex;
		padding: 5px 5px 5px 0;

		.llms-existing-info {
			flex: 6;

			h4, h5 {
				margin: 0;
			}

			h4 {
				font-weight: 400;
			}

			h5 {
				font-weight: 300;
			}
		}

		.llms-existing-action {
			color: $color-brand-blue;
			flex: 1;
			text-align: center;

			.fa {
				display: block;
				font-size: 30px;
			}

			small {
				text-transform: uppercase;
			}

		}


	}


	// Quiz
	 .llms-quiz-empty {
    	margin: 100px auto;
    	text-align: center;

    	p { font-size: 18px; }
    	button.llms-element-button {
    		max-width: 320px;
    		margin: 0 auto;
    	}

	 }

	.llms-editor-tab.tab--quiz {
		.llms-model-header {
			.llms-model-title {
				width: calc( 100% - 310px );
			}
			.llms-quiz-points {
				float: left;
				margin-right: 10px;
				width: 100px;
			}
		}
	}

	.llms-model-header {
		background-color: #FFF;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
		padding: 10px;
		@include clearfix();

		.llms-model-title {
			float: left;
			margin-right: 10px;
			width: calc( 100% - 200px );
			.llms-input {
				width: calc( 100% - 65px );
			}
		}
		.llms-model-status.llms-switch {
			float: left;
			margin-right: 10px;
			position: relative;
			text-align: right;
			top: -2px;
			width: 100px;
		}
		.llms-action-icons {
			float: left;
			position: relative;
			text-align: right;
			width: 80px;
			z-index: 1;
			.llms-action-icon {
				margin-left: 10px;
			}
			.fa {
				max-width: 15px;
			}
		}
	}

	.llms-model-header + .llms-model-settings.active {
		margin-top: -10px;
	}

	.llms-model-settings {
		clear: both;
		display: none;

		&.active {
			display: block;
			margin-top: 10px;
		}
	}

	.llms-quiz-footer {
		display: flex;
		button.llms-element-button {
			flex: 1;
			margin: 0 5px;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			&.llms-show-question-bank {
				flex: 2;
			}
		}
	}

	// Question Bank
	.llms-quiz-tools {
		display: none;
		width: 100%;
		position: relative;

		// .llms-quiz-tools-search {
		// 	padding: 0 10px;
		// 	margin-bottom: 15px;

		// 	.fa {
		// 		color: #888;
		// 		font-size: 16px;
		// 	}

		// 	input[type="search"] {
		// 		background: inherit;
		// 		border: none;
		// 		border-bottom: 1px solid #bbb;
		// 		box-shadow: none;
		// 		font-size: 16px;
		// 		margin: 8px 0 0;
		// 		padding: 2px 5px;
		// 		width: calc( 100% - 200px );

		// 		&:focus {
		// 			border-bottom-color: $color-brand-blue;
		// 		}
		// 	}

		// }

	}

	ul.llms-question-bank {

		list-style-type: none;
		margin: 0;
		padding: 0;
		@include clearfix;

		li.llms-question-bank-header {
			clear: both;
			padding-top: 20px;
			&:first-child {
				padding-top: 0;
			}
			h4 {
				font-size: 20px;
				margin: 10px 5px;
			}
		}

		li.llms-question-type {
			box-sizing: border-box;
			float: left;
			margin: 0;
			padding: 3px;
			width: 33.3333%;
			transition: opacity 0.3s ease-in-out;

			&.filtered {
				opacity: 0.3;
			}

			.llms-type-unavailable {
				display: block;
				position: relative;
				text-decoration: none;
				.llms-element-button {
					opacity: 0.5;
					pointer-events: none;
				}
			}

		}

	}

	// Quiz Questions
	ul.llms-quiz-questions {

		margin: 10px 3px;
		padding: 5px;
		transition: box-shadow 0.6s ease;

		&.dragging {
			box-shadow: 0 0 0 3px $color-brand-blue;
		}

		&:empty:before {
			background: #fff;
			content: attr(data-empty-msg);
			display: block;
			font-size: 18px;
			margin: 0 auto;
			padding: 100px 0;
			text-align: center;
		}

		li.llms-question {

			background: #fff;
			margin: 0 0 3px;
			padding: 15px 12px 10px;

			&:hover {
				> .llms-builder-header .llms-action-icons {
					opacity: 1;
					pointer-events: auto;
				}
			}

			// groups
			ul.llms-quiz-questions {
				margin-left: 12px;
				.llms-question {
					border-bottom: 2px solid #e6e6e6;
				}
				&:empty:before {
					content: attr(data-empty-msg);
					display: block;
					font-size: 18px;
					text-align: center;
					margin: 20px auto;
				}
				li.llms-question.llms-sortable-placeholder.qtype--group {
					display: none !important;
				}
			}

			.llms-builder-header {
				@include clearfix;
				> * {
					float: left;
				}
			}

			.llms-question-body {
				display: none;
				&.active {
					display: block;
				}
			}

			.llms-data-stamp {
				background: $color-brand-blue;
				border-radius: 4px;
				color: #fff;
				cursor: move;
				font-size: 90%;
				margin-top: -5px;
				padding: 4px 10px 6px;

				small, .fa {
					line-height: 1.2;
					vertical-align: middle;
				}

				.fa {
					margin-right: 4px;
				}

			}

			.llms-headline {
				width: calc( 100% - 110px - 90px - 55px );
				.ql-editor {
					width: calc( 100% - 16px );
				}
			}

			.llms-action-icons {
				width: 110px;
				opacity: 0;
				pointer-events: none;
			}

			.llms-question-points {
				width: 90px;
			}

			.llms-question-features {
				margin: 10px 0 0;
				&:last-child {
					margin: 0;
				}
				.llms-switch {
					margin-right: 15px;
				}
			}

			.llms-editable-video {
				position: relative;
				z-index: 1;
			}

		}

			.llms-question-choices-wrapper {
				background: #f4f4f4;
				margin: 2px 1px;
				padding: 10px;
			}

				.llms-question-choices-list-header {
					@include clearfix;
					margin-bottom: 10px;

					.llms-switch {
						float: right;
						text-align: right;
						width: 260px;
					}
				}

			ul.llms-question-choices {
				border: 3px solid #f4f4f4;
				margin: -3px;
				padding: 0;
				transition: box-shadow 0.6s ease;

				&.dragging {
					box-shadow: 0 0 0 3px $color-brand-blue;
				}

				&.multi-choices li.llms-question-choice .llms-choice-id span {
					border-radius: 4px;
				}

			}

				li.llms-question-choice {
					margin: 0 0 5px;
					padding: 0;
					&:last-child { margin-bottom: 0; }

					.llms-choice-id {

						input[type="checkbox"] {
							display: none;
						}

						input[type="checkbox"]:checked + .llms-marker {
							background: $color-green;
						}

						.llms-marker {
							border-radius: 50%;
							background: #d0d0d0;
							box-shadow: inset 0 0 1px #848484;
							color: #444;
							display: inline-block;
							font-size: 16px;
							height: 20px;
							line-height: 20px;
							padding: 5px;
							position: relative;
							text-align: center;
							transition: background 0.1s ease;
							width: 20px;

							.fa {
								left: 7px;
								opacity: 0;
								position: absolute;
								top: 7px;
							}
							&.selectable:hover {
								b { opacity: 0 }
								.fa { opacity: 1; }
							}

						}

					}

					.llms-input-wrapper,
					.llms-editable-image {
						display: inline-block;
						// action icons width, label width, ul margins
						width: calc( 100% - 55px - 35px - 5px );
					}

						.llms-input {
							width: calc( 100% - 16px );
						}

					.llms-editable-image .llms-image {
						vertical-align: middle;
						img {
							height: 50px;
						}
					}

					.llms-action-icons {
						display: inline-block;
						opacity: 1;
						pointer-events: auto;
						text-align: right;
						width: 55px;
					}

				}

				li.llms-question-choice.llms-sortable-placeholder {
					border: 3px dashed $color-brand-blue !important;
					background: rgba( $color-brand-blue, 0.3 );
				}

				li.llms-question-choice.ui-sortable-helper {
					border: 1px solid #ccc;
					background: #fff;
					padding: 10px;
					transform: rotate( 2deg );
					z-index: 999;
				}

		li.llms-question.ui-sortable-helper,
		li.llms-question.ui-draggable-dragging {
			border: 1px solid #ccc;
			background: #fff;
			transform: rotate( 2deg );
			z-index: 999;
		}

		li.llms-question.llms-sortable-placeholder {
			border: 3px dashed $color-brand-blue !important;
			background: rgba( $color-brand-blue, 0.3 );
		}

	}


	.llms-switch {
		display: inline-block;
		float: none;
		width: auto;

		input[type="checkbox"] {
			display: none;
		}

		input[type="checkbox"]:checked + .llms-switch-slider {
			background: $color-green;
		}

		input[type="checkbox"]:checked + .llms-switch-slider:after {
			transform: translateX( 14px );
		}

		.llms-label {
			display: inline-block;
			vertical-align: top;
		}

		.llms-switch-slider {
			background: #e0e0e0;
			border-radius: 8px;
			display: inline-block;
			height: 16px;
			margin-top: 2px;
			position: relative;
			transition: background 0.2s ease;
			vertical-align: top;
			width: 30px;

			&:after {
				background: #fff;
				border-radius: 8px;
				content: '';
				display: block;
				height: 12px;
				left: 2px;
				position: relative;
				transition: transform 0.2s ease;
				top: 2px;
				width: 12px;
			}

		}

	}

	.llms-video-explainer-trigger {
		display: block;
		margin: 40px 0 0;
		cursor: pointer;
		position: relative;
		width: 100%;
		transition: color 0.2s ease;
		color: initial;
		&:hover {
			color: currentColor;
		}
		&:after {
			position: absolute;
			inset: 0;
			margin: auto;
			pointer-events: none;
			content: '▶';
			display: flex;
			justify-content: center;
			align-items: center;
			clear: both;
			height: 2em;
			width: 2em;
			border-radius: 4em;
			border: 4px solid currentColor;
			font-size: 2.5em;
		}
		img {
			display: block;
			width: 100%;
			border-radius: 4px;
		}
	}
}



.llms-multi-input .llms-input-wrapper {
	width: 50%;
	float: left;
	margin-bottom: 6px;
	font-size: 12px;
}

.llms-multi-input .llms-input-wrapper .llms-input {
	font-size: 12px;
    padding: 5px;
}
