.wrap.llms-dashboard {

	.llms-inside-wrap {
		padding-top: 30px;
	}

	#poststuff {

		h2 {
			padding: 12px 20px;
		}

	}

	.llms-dashboard-activity {

		h2 {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.5;
			margin-top: 0;
			text-align: center;
		}
	}

	.postbox {
		background-color: #FFF;
		border: none;
		box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.13 );

		.postbox-header {
			border-bottom-color: #efefef;

		}

		.inside {
			padding: 20px;
		}
	}

	#llms_dashboard_addons {

		.llms-addons-wrap {
			margin-top: 0;

			.llms-add-on-item {
				margin-top: 0;

				p {
					text-align: left;
				}

				footer.llms-actions {
					padding-top: 0;
				}
			}

		}

		p {
			text-align: center;

			.llms-button-primary {
				display: inline-block;
				margin-top: 15px;
			}
		}

	}

	#llms_dashboard_quick_links {

		ul {
			list-style: disc;
			margin: 5px 0 0 20px;

			li {
				font-size: 15px;
				line-height: 1.5;
			}
		}

		.llms-quick-links {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 30px;

			a {
				display: inline-block;
			}

			.llms-list {

				h3 {
					margin: 0 0 10px 0;
				}

				ul {
					margin-bottom: 20px;

					&.llms-checklist {
						list-style: none;
						margin-left: 0;
					}
				}

				.fa {
					text-align: center;
					width: 16px;
				}

				.fa-check {
					color: #008a20;
				}

				.fa-times {
					color: #d63638;
				}

				.llms-button-primary,
				.llms-button-secondary,
				.llms-button-action {
					display: block;
					text-align: center;
				}

			}

			@media only screen and (min-width: 782px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.llms-help-links {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 20px;

			.llms-list {

				h3 {
					margin: 0;

					.dashicons {
						color: #AAA;
					}
				}

			}

			@media only screen and (min-width: 782px) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}

		}

	}
	#llms_dashboard_blog,
	#llms_dashboard_podcast {

		ul {
			margin: 0;

			li {
				margin: 0 0 15px 0;

				a {
					display: block;
				}
			}
		}

		p {
			margin: 15px 0;
			text-align: center;

			a {
				display: inline-block;
			}
		}
	}

}
