.llms-table-wrap {
	position: relative;
}

.llms-table-header {
	padding: 0;

	@include clearfix();

	h2 {
		font-size: 20px;
		padding: 0;
		display: inline-block;
		line-height: 1.5;
		margin: 0 0 20px 0;
		vertical-align: middle;
	}

	.llms-table-search,
	.llms-table-filters {
		float: right;
		padding-left: 10px;
	}

	.llms-table-search input {
		margin: 0;
		padding: 0 8px;
	}

}

.llms-table {

	border: 1px solid #c3c4c7;
	border-collapse: collapse;
	width: 100%;

	a:not(.small) {
		color: $color-brand-blue;
		&:hover {
			color: $color-brand-blue-dark;
		}
	}

	td, th {
		border-bottom: 1px solid #c3c4c7;
		padding: 10px 12px;
		text-align: center;

		&.expandable.closed {
			display: none;
		}

		.llms-button-primary,
		.llms-button-secondary,
		.llms-button-action,
		.llms-button-danger {
			display: inline-block;
		}

	}

	tr.llms-quiz-pending {
		td {
			font-weight: 700;
		}
	}

	thead th,
	tfoot th {
		background-color: #FFF;
		font-weight: 700;

		a.llms-sortable {
			// display: block;
			padding-right: 16px;
			position: relative;
			text-decoration: none;
			width: 100%;
			&.active {
				// show the current sorted when a sort is active
				&[data-order="DESC"] .asc { opacity: 1; }
				&[data-order="ASC"] .desc { opacity: 1; }
			}
			// show the opposite on hover
			&:hover {
				&[data-order="DESC"] {
					.asc { opacity: 0; }
					.desc { opacity: 1; }
				}
				&[data-order="ASC"] {
					.asc { opacity: 1; }
					.desc { opacity: 0; }
				}
			}
			.dashicons {
				color: #444;
				font-size: 16px;
				height: 16px;
				opacity: 0;
				position: absolute;
				width: 16px;
			}
		}
	}

	tfoot th {
		border-bottom: none;

		.llms-table-export {
			float: left;
			.llms-table-progress {
				background: #efefef;
				display: none;
				margin-left: 8px;
				vertical-align: middle;
				width: 100px;
			}
		}

		.llms-clear-resumable-attempts {
			float: left;
		}

		.llms-table-pagination {
			float: right;
		}

	}

	&.zebra tbody tr:nth-child( even ) {
		th, td { background-color: #fff; }
	}

	&.zebra tbody tr:nth-child( odd ) {
		th, td { background-color: #f6f7f7; }
	}

	&.text-left {
		td, th {
			text-align: left;
		}
	}

	&.size-large {
		td, th {
			font-size: 14px;
			padding: 10px 12px;
		}
	}

	.llms-drag-handle {
		color: #777;
		cursor: pointer;
		-webkit-transition: color 0.4s ease;
		transition: color 0.4s ease;
	}

	.llms-action-icon {
		color: #777;
		text-decoration: none;

		.tooltip {
			cursor: pointer;
		}

		&:hover {
			color: $color-blue;
		}

		&.danger:hover {
			color: $color-danger;
		}
	}

	.llms-table-page-count {
		font-size: 12px;
		padding: 0 5px;
	}

}

// progress bars within the tables
.llms-table-progress {
	text-align: center;
	.llms-table-progress-bar {
		background: #eee;
		border-radius: 10px;
		height: 16px;
		overflow: hidden;
		position: relative;
		.llms-table-progress-inner {
			background: $color-brand-blue;
			height: 100%;
			transition: width 0.2s ease;
		}
	}
	.llms-table-progress-text {
		color: $color-brand-blue;
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
	}
}


.llms-table.llms-gateway-table,
.llms-table.llms-integrations-table {
	.status {
		.fa {
			color: $color-brand-blue;
			font-size: 22px;
		}
	}
	.sort {
		cursor: move;
		text-align: center;
		width: 10px;
	}
}

.llms-gb-table-notifications {
	th, td {
		text-align: left;
	}
}
