.wrap.lifterlms {
	margin-top: 0;
}

.llms-header {
	background-color: #FFF;
	margin: 0 0 0 -20px;
	padding: 20px 10px;
	position: relative;
	z-index: 1;

	.llms-inside-wrap {
		display: flex;
		padding: 0 10px;
	}


	.lifterlms-logo {
		flex: 0 0 190px;
		max-height: 52px;
		margin-right: 10px;
	}

	.llms-meta {
		align-self: center;
		display: flex;
		flex: 1;
		font-size: 16px;
		justify-content: space-between;
		line-height: 1.5;

		.llms-version {
			background-color: #1d2327;
			color: #FFF;
			border-radius: 999px;
			font-size: 13px;
			font-weight: 700;
			padding: 6px 12px;
		}

		a {
			display: inline-block;
		}

		.llms-license {
			border-right: 1px solid #CCC;
			font-weight: 700;
			margin-right: 12px;
			padding-right: 12px;

			a {
				text-decoration: none;

				&:before {
					content: "\f534";
					display: inline-block;
					font: 400 16px/1 dashicons;
					left: 0;
					padding-right: 3px;
					position: relative;
					text-decoration: none;
					vertical-align: text-bottom;
				}

				&.llms-license-none {
					color: #888;

					&:before {
						content: "\f335";
					}
				}

				&.llms-license-active {
					color: #008a20;

					&:before {
						content: "\f112";
					}

				}

			}
		}

		.llms-support {
			font-weight: 700;

			a {
				color: #1d2327;
				text-decoration: none;
			}

		}

	}

}

.llms-subheader {
	align-items: center;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
	display: flex;
	flex-direction: row;
	margin-left: -20px;
	padding: 10px 20px;
	width: 100%;
	z-index: 1;

	h1 {
		font-weight: 700;
		padding: 0;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

}

#post_course_difficulty {
	min-width: 200px;
}
#_video-embed, #_audio-embed {
	width: 100%;
}

.clear {
	clear: both;
	width: auto;
}

hr {
	background-color: #CCC;
	border: none;
	height: 1px;
	margin: 30px 0;
	padding: 0;
}

.llms_certificate_default_image, .llms_certificate_image  {
	width: 300px;
}

.llms_achievement_default_image, .llms_achievement_image  {
	width: 120px;
}

div[id^="lifterlms-"] .inside {
	overflow: visible;
}

.notice.llms-admin-notice {
	background-color: #FFF;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 4px rgba( 0, 0, 0, 0.15 );
	display: flex;
	padding: 0 !important;
	position: relative;

	.notice-dismiss {
		text-decoration: none;
	}

	&.notice-warning {
		border-left: 4px solid #F8954F;

		.llms-admin-notice-icon {
			background-color: #FEF4ED;
		}
	}

	&.notice-info {
		border-left: 4px solid #466DD8;

		h3 {
			color: #466DD8;
		}

		.llms-admin-notice-icon {
			background-color: #EDF0FB;
		}

	}

	&.notice-success {
		border-left: 4px solid #18A957;

		h3 {
			color: #18A957;
		}

		.llms-admin-notice-icon {
			background-color: #E8F6EE;
		}

	}

	&.notice-error {
		border-left: 4px solid #DF1642;

		h3 {
			color: #9C0F2E;
		}

		.llms-admin-notice-icon {
			background-color: #FCE8EC;
		}

	}

	.llms-admin-notice-icon {
		background-image: url(../../assets/images/lifterlms-icon-color.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 30px;
		min-width: 70px;

	}

	.llms-admin-notice-content {
		color: #111;
		padding: 20px;
	}

	h3 {
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		margin: 0 0 15px 0;
	}

	button,
	.llms-button-primary {
		display: inline-block;
	}

	p {
		font-size: 14px;
		line-height: 22px;
		margin: 0 0 15px 0;
		max-width: 65em;
		padding: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.llms-button-action,
.llms-button-danger,
.llms-button-primary,
.llms-button-secondary {
	&.small .dashicons {
		font-size: 13px;
		height: 13px;
		width: 13px;
	}

	&:hover {
		box-shadow: none;
	}
}

a.llms-view-as {
	line-height: 2;
	margin-right: 8px;
}

.llms-image-field-preview {
	max-height: 80px;
	vertical-align: middle;
	width: auto;
}

.llms-image-field-remove {
	&.hidden { display: none; }
}

.llms-log-viewer {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	margin: 20px 0;
	padding: 25px;

	pre {
		font-family: monospace;
		margin: 0;
		padding: 0;
		white-space: pre-wrap;
	}
}

.llms-status--tools {
	.llms-table {
		background: #fff;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0,0,0,.04);
		td, th {
			padding: 10px;
			vertical-align: top;
		}
		th {
			width: 28%;
		}
		p {
			margin: 0 0 10px;
		}
	}
}

.llms-error {
	color: $color-red;
	font-style: italic;
}

.llms-rating-stars {
	color: #ffb900;
	text-decoration: none;
}

@media screen and (max-width: 782px) {
	.llms-header {
		top: 46px;

		.llms-inside-wrap {
			flex-direction: column;
			gap: 20px;

			.lifterlms-logo {
				align-self: center;
				flex: inherit;
				max-height: initial;
				max-width: 200px;
			}

			.llms-meta {
				column-gap: 10px;
			}
		}
	}
}
