.wrap.lifterlms {
	margin-top: 0;
}

.llms-header {
	background-color: #FFF;
	margin: 0 0 0 -20px;
	padding: 20px 10px;
	position: relative;
	z-index: 1;

	.llms-inside-wrap {
		display: flex;
		padding: 0 10px;
	}

	.lifterlms-logo {
		flex: 0 0 190px;
		max-height: 52px;
		margin-right: 10px;
	}

	.llms-meta {
		align-self: center;
		display: flex;
		flex: 1;
		font-size: 16px;
		justify-content: space-between;
		line-height: 1.5;

		.llms-version {
			background-color: #1d2327;
			color: #FFF;
			border-radius: 999px;
			font-size: 13px;
			font-weight: 700;
			padding: 6px 12px;
		}

		a {
			display: inline-block;
		}

		.llms-license {
			font-weight: 700;

			a {
				text-decoration: none;

				&:before {
					content: "\f534";
					display: inline-block;
					font: 400 16px/1 dashicons;
					left: 0;
					padding-right: 3px;
					position: relative;
					text-decoration: none;
					vertical-align: text-bottom;
				}

				&.llms-license-none {
					color: #888;

					&:before {
						content: "\f335";
					}
				}

				&.llms-license-active {
					color: #008a20;

					&:before {
						content: "\f112";
					}

				}

			}
		}

		.llms-support {
			border-left: 1px solid #CCC;
			font-weight: 700;
			margin-left: 12px;
			padding-left: 12px;

			a {
				color: #1d2327;
				text-decoration: none;
			}

		}

	}

}

.llms-subheader {
	align-items: center;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
	display: flex;
	flex-direction: row;
	margin-left: -20px;
	padding: 10px 20px;
	width: 100%;
	z-index: 1;

	h1 {
		font-weight: 700;
		padding: 0;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

}

#post_course_difficulty {
	min-width: 200px;
}
#_video-embed, #_audio-embed {
	width: 100%;
}

.clear {
	clear: both;
	width: 100%;
}

hr {
	background-color: #CCC;
	border: none;
	height: 1px;
	margin: 30px 0;
	padding: 0;
}

.llms_certificate_default_image, .llms_certificate_image  {
	width: 300px;
}

.llms_achievement_default_image, .llms_achievement_image  {
	width: 120px;
}

div[id^="lifterlms-"] .inside {
	overflow: visible;
}

.llms-admin-notice {
	position: relative;
	.notice-dismiss {
		text-decoration: none;
	}
}

.llms-button-action,
.llms-button-danger,
.llms-button-primary,
.llms-button-secondary {
	&.small .dashicons {
		font-size: 13px;
		height: 13px;
		width: 13px;
	}

	&:hover {
		box-shadow: none;
	}
}

a.llms-view-as {
	line-height: 2;
	margin-right: 8px;
}

.llms-image-field-preview {
	max-height: 80px;
	vertical-align: middle;
	width: auto;
}

.llms-image-field-remove {
	&.hidden { display: none; }
}

.llms-log-viewer {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	margin: 20px 0;
	padding: 25px;

	pre {
		font-family: monospace;
		margin: 0;
		padding: 0;
		white-space: pre-wrap;
	}
}

.llms-status--tools {
	.llms-table {
		background: #fff;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0,0,0,.04);
		td, th {
			padding: 10px;
			vertical-align: top;
		}
		th {
			width: 28%;
		}
		p {
			margin: 0 0 10px;
		}
	}
}

.llms-error {
	color: $color-red;
	font-style: italic;
}

.llms-rating-stars {
	color: #ffb900;
	text-decoration: none;
}

@media screen and (max-width: 782px) {
	.llms-header {
		top: 46px;
	}
}
