.llms-media-protection-warning {
	border-left: 4px solid $color-orange;
	padding-left: 10px;
	max-width: 400px;
	margin: 10px 0;
}

.media-modal-content .compat-field-llms_media_protection_post .field {
	width: 100%;
	margin: 0;
}
