.llms-reporting.wrap {

	.llms-options-page-contents {

		.llms-nav-tab-wrapper.llms-nav-secondary {
			box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
			margin: 0;
			padding: 0;

		}
	}

	.llms-stab-title {
		color: $color-brand-dark-blue;
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	td.id a {
		text-decoration: none;
	}

	th.id, td.id,
	th.name, td.name,
	th.registered, td.registered,
	th.last_seen, td.last_seen,
	th.overall_progress, td.overall_progress,
	th.title, td.title,
	th.course, td.course,
	th.lesson, td.lesson { text-align: left; }

	td.section-title {
		background: #eaeaea;
		text-align: left;
		font-weight: 700;
		padding: 16px 4px;
	}

	td.questions-table {
		text-align: left;

		.correct,
		.question,
		.selected {
			text-align: left;
			max-width: 300px;

			img {
				height: auto;
				max-width: 64px;
			}
		}
	}

	table.quiz-attempts {
		margin-bottom: 40px;
	}

	&.tab--students {
		.llms-options-page-contents {

			#llms-award-certificate-wrapper .components-button.is-secondary {
				background: #e1e1e1;
				border-radius: 8px;
				box-shadow: none;
				color: #414141;
				font-size: 13px;
				font-weight: 700;
				height: auto;
				padding: 8px 14px;
			}

		}
	}

	&.tab--enrollments,
	&.tab--sales {

		.llms-nav-tab-wrapper.llms-nav-secondary {
			margin-bottom: 0;
		}

		.llms-options-page-contents {
			box-shadow: none;
			background: none;
			margin-top: 20px;
			padding: 0;
		}

		.llms-nav-style-filters {

			.llms-analytics-form {
				align-items: center;
				align-self: center;
				color: #FFF;
				display: flex;
				font-size: 13px;
				gap: 5px;

				label {
					font-weight: 700;
				}

				input {
					border: 0;
					font-size: 13px;
					margin: 0;
					padding: 0 4px;
					vertical-align: middle;
					width: 110px;
				}

				.select2-container {
					input {
						width: 100% !important;
					}
				}
			}

		}

		.button.small {
			height: 23px;
			line-height: 23px;
		}

		.llms-analytics-filters {
			display: none;

			.llms-inside-wrap {
				background-color: #FFF;
				background-color: #FFF;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
				margin: -20px 10px 20px 10px;
				padding: 20px;
			}

			.llms-nav-items {
				display: flex;
				flex-direction: column;
				gap: 20px;
				justify-content: space-between;
				margin: 0;

				@media only screen and (min-width: 782px) {
					flex-direction: row;
				}

			}

			.llms-nav-item {
				box-sizing: border-box;
				width: 100%;

				label {
					display: block;
					font-weight: 700;
					margin: 0 0 5px 0;
				}

				.select2-selection__rendered{
					word-wrap: break-word;
					text-overflow: inherit;
					white-space: normal;
				}

			}

			p {
				margin: 0;
				text-align: right;

				.llms-button-primary {
					display: inline-block;
				}

			}

		}
	}

	.llms-reporting-tab.llms-reporting-quiz .llms-table-filter-wrap {
		width: 160px;
	}

	.llms-table-header {
		form { display: inline; }
		.button {
			margin-left: 5px;
		}
	}
}

.llms-charts-wrapper {
	background-color: #FFF;
	border: 1px solid #dedede;
	border-radius: 12px;
	box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 2px 4px rgba(48, 49, 51, 0.1);
	padding: 20px;
}

.llms-reporting-tab {

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		a {
			color: $color-brand-blue;
			text-decoration: none;
			&:hover {
				color: $color-brand-blue;
			}
		}
	}

	h2 {
		font-size: 22px;
		line-height: 1.5;

		&.llms-table-title {
			margin-bottom: 20px;
		}

	}

	h5 {
		font-size: 15px;
		line-height: 1.5;
	}

	.llms-reporting-body {
		background-color: #FFF;
		box-shadow: 0 1px 3px rgba( 0, 0, 0, .13 );
		margin: 20px auto;
		padding: 0;

		.llms-reporting-stab {
			padding: 30px;

			.llms-table-header {
				margin: 0;
			}
		}

		.llms-gb-tab {
			padding: 30px;
		}

		.llms-reporting-header {
			padding: 30px;
			margin: 0;

			.llms-reporting-header-img {
				border-radius: 50%;
				display: inline-block;
				margin-right: 10px;
				overflow: hidden;
				vertical-align: middle;
				img {
					display: block;
					max-height: 64px;
					width: auto;
				}
			}

			.llms-reporting-header-info {
				display: inline-block;
				vertical-align: middle;

			}

		}
	}

}

.llms-reporting-breadcrumbs {
	margin: 0;
	padding: 0;
	a {
		color: $color-brand-blue;
		font-size: 15px;
		text-decoration: none;
		&:hover {
			color: $color-brand-blue-dark;
		}
		&:after {
			content: ' > ';
			color: #646970;
		}

		&:last-child {
			color: #000;
			font-weight: 700;
			&:after { display: none; }
		}
	}
}

#llms-students-table .name {
	text-align: left;
}

.llms-reporting-tab-content {
	display: flex;

	> header {
		@include clearfix;
	}

	h3 {
		margin-bottom: 20px;
	}

	.llms-reporting-tab-filter {
		float: right;
		position: relative;
		margin-right: 0.75em;
		width: 180px;
		top: -3px;
	}


	.llms-reporting-tab-main {
		flex: 3;
		max-width: 75%;
	}
	.llms-reporting-tab-side {
		flex: 1;
		margin-left: 20px;
	}

	> .llms-table-wrap {
		flex: 1;
	}

}


.llms-reporting-widgets {
	@include clearfix;
}

.llms-reporting-widget {

	border-top: 4px solid $color-brand-blue;
	background: #fafafa;
	margin-bottom: 10px;
	padding: 30px;
	@include clearfix;

	.fa {
		color: #999;
		float: left;
		font-size: 32px;
		margin-right: 10px;
	}

	strong {
		color: #333;
		font-size: 20px;
		line-height: 1.2;
	}

	&.llms-reporting-student-address {
		strong {
			line-height: 1.1;
		}
	}

	sup,
	.llms-price-currency-symbol {
		font-size: 75%;
		position: relative;
		top: -4px;
		vertical-align: baseline;
	}

	small {
		font-size: 13px;
		&.compare {
			margin-left: 5px;
			&.positive {
				color: $color-green;
			}
			&.negative {
				color: $color-red;
			}
		}
	}
}


.llms-reporting-event {
	border-left: 4px solid #555;
	background: #fafafa;
	font-size: 11px;
	line-height: 1.2;
	margin-bottom: 0.75em;
	padding: 10px;
	@include clearfix;

	&.color--blue {
		border-left-color: $color-blue;
	}

	&.color--green,
	&._enrollment_trigger,
	&._is_complete.yes {
		border-left-color: $color-green;
	}

	&.color--purple,
	&._status.enrolled {
		border-left-color: $color-purple;
	}

	&.color--red,
	&._status.expired,
	&._status.cancelled {
		border-left-color: $color-red;
	}
	&.color--orange,
	&._achievement_earned,
	&._certificate_earned,
	&._email_sent {
		border-left-color: $color-orange;
	}

	time {
		color: #888;
	}

	.llms-student-avatar {
		margin-left: 10px;
		float: right;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

}

@media only screen and (min-width: 782px) {
	.llms-reporting.wrap {
		.llms-options-page-contents {
			.llms-nav-tab-wrapper.llms-nav-secondary {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

@import "../_includes/quiz-result-question-list";
