.llms-reporting.wrap {

	.llms-options-page-contents {
		background: $color-white;
		padding: 20px;
	}

	.llms-reporting-nav {
		margin: 20px 0;
		.llms-nav-tab-wrapper {
			margin: 0;
		}
	}

	.llms-stab-title {
		color: $color-brand-dark-blue;
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	td.id a {
		text-decoration: none;
	}

	th.name, td.name,
	th.title, td.title { text-align: left; }

	td.section-title {
		background: #eaeaea;
		text-align: left;
		font-weight: 700;
		padding: 16px 4px;
	}

	td.questions-table {
		text-align: left;

		.correct,
		.question,
		.selected {
			text-align: left;
			max-width: 300px;

			img {
				height: auto;
				max-width: 64px;
			}
		}
	}

	table.quiz-attempts {
		margin-bottom: 40px;
	}

	&.tab--enrollments,
	&.tab--sales {

		.llms-options-page-contents {
			background: none;
			padding: 0;
		}

		.llms-nav-item.llms-analytics-form {
			color: #414141;
			font-size: 13px;
			padding: 6px 14px;

			input {
				border: 0;
				font-size: 13px;
				margin: 0;
				padding: 3px 6px;
				vertical-align: middle;
			}

			.select2-container {
				input {
					width: 100% !important;
				}
			}
		}

		.button.small {
			height: 23px;
			line-height: 23px;
		}


		.llms-analytics-filters {
			display: none;

			.llms-nav-item {
				box-sizing: border-box;
				width: 100%;

				label {
					display: block;
				}
			}

			.button {
				float: right;
			}

		}
	}

	.llms-reporting-tab.llms-reporting-quiz .llms-table-filter-wrap {
		width: 160px;
	}


}


.llms-reporting-tab {

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		a {
			color: $color-brand-dark-blue;
			text-decoration: none;
			&:hover {
				color: $color-brand-blue;
			}
		}
	}


	.llms-reporting-header {

		.llms-reporting-header-img {
			border-radius: 50%;
			display: inline-block;
			margin-right: 10px;
			overflow: hidden;
			vertical-align: middle;
			img {
				display: block;
				max-height: 64px;
				width: auto;
			}
		}

		.llms-reporting-header-info {
			display: inline-block;
			vertical-align: middle;

		}

	}

}

.llms-reporting-breadcrumbs {
	margin-bottom: 15px;
	a {
		color: $color-brand-blue;
		text-decoration: none;
		&:hover {
			color: $color-brand-blue-dark;
		}
		&:after {
			content: ' > ';
			color: #555;
		}

		&:last-child {
			color: $color-brand-dark-blue;
			&:after { display: none;}
		}
	}
}

#llms-students-table .name {
	text-align: left;
}

.llms-reporting-tab-content {
	display: flex;

	> header {
		@include clearfix;
	}

	h3 {
		margin-bottom: 20px;
	}

	.llms-reporting-tab-filter {
		float: right;
		position: relative;
		margin-right: 0.75em;
		width: 180px;
		top: -3px;
	}


	.llms-reporting-tab-main {
		flex: 3;
	}
	.llms-reporting-tab-side {
		flex: 1;
		margin-left: 20px;
	}

	> .llms-table-wrap {
		flex: 1;
	}

}


.llms-reporting-widgets {
	@include clearfix;
}

.llms-reporting-widget {

	border-top: 4px solid $color-brand-blue;
	background: #fafafa;
	margin-bottom: 0.75em;
	padding: 18px 15px 15px;
	@include clearfix;

	.fa {
		color: #555;
		float: left;
		font-size: 32px;
		margin-right: 10px;
	}

	.llms-reporting-widget-data {
		line-height: 0.8;
	}

	strong {
		color: #333;
		font-size: 20px;
	}

	&.llms-reporting-student-address {
		strong {
			line-height: 1.1;
		}
	}

	sup,
	.llms-price-currency-symbol {
		font-size: 75%;
		position: relative;
		top: -4px;
		vertical-align: baseline;
	}

	small {
		color: #888;
		&.compare {
			margin-left: 5px;
			&.positive {
				color: $color-green;
			}
			&.negative {
				color: $color-red;
			}
		}
	}
}


.llms-reporting-event {
	border-left: 4px solid #555;
	background: #fafafa;
	font-size: 11px;
	line-height: 1.2;
	margin-bottom: 0.75em;
	padding: 10px;
	@include clearfix;

	&.color--blue {
		border-left-color: $color-blue;
	}

	&.color--green,
	&._enrollment_trigger,
	&._is_complete.yes {
		border-left-color: $color-green;
	}

	&.color--purple,
	&._status.enrolled {
		border-left-color: $color-purple;
	}

	&.color--red,
	&._status.expired,
	&._status.cancelled {
		border-left-color: $color-red;
	}
	&.color--orange,
	&._achievement_earned,
	&._certificate_earned,
	&._email_sent {
		border-left-color: $color-orange;
	}

	time {
		color: #888;
	}

	.llms-student-avatar {
		margin-left: 10px;
		float: right;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

}

@import "../_includes/quiz-result-question-list";

