.wrap.llms-resources {

	.llms-inside-wrap {
		padding-top: 30px;
	}

	#poststuff {

		#post-body.columns-2 {
			margin-right: 350px;

			#side-sortables {
				width: 330px;

				@media only screen and (max-width: 850px) {
					width: auto;
				}	

			}

		}

		#postbox-container-1 {
			float: right;
			margin-right: -350px;
			width: 330px
		}

		h2 {
			padding: 12px 20px;
		}

	}

	#poststuff 
	.postbox {
		background-color: #FFF;
		border: none;
		box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.13 );

		.postbox-header {
			border-bottom-color: #efefef;

		}

		.inside {
			margin: 0;
			padding: 20px;
		}
	}

	#llms_dashboard_welcome_video {

		.llms-welcome-video {

			p {
				font-size: 15px;
				line-height: 1.5;
				margin: 0 0 40px 0;
			}

			.llms-welcome-video-container {
				height: 0;
				overflow: hidden;
				padding-top: 30px;
				padding-bottom: 56.25%;
				position: relative;

				iframe,
				object,
				embed {
					left: 0;
					height: 100%;
					position: absolute;
					top: 0;
					width: 100%;
				}

			}

		}

	}

	#llms_dashboard_getting_started {

		ul {
			margin: 0 0 20px 0;

			li {
				font-size: 15px;
				line-height: 1.5;
				margin-bottom: 15px;
			}
		}

		.llms-button-primary {
			display: block;
			margin-top: auto;
			max-width: 300px;
			text-align: center;
		}

	}

	#llms_dashboard_resource_links {

		ul {
			list-style: disc;
			margin: 5px 0 0 20px;

			li {
				font-size: 15px;
				line-height: 1.5;
			}
		}

		.llms-resource-links {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 60px;

			a {
				display: inline-block;
			}

			.llms-list {
				display: flex;
				flex-direction: column;

				h3 {
					margin: 0 0 10px 0;

					.dashicons {
						color: #AAA;
					}

				}

				ul {
					margin-bottom: 20px;
				}

				.llms-button-primary,
				.llms-button-secondary,
				.llms-button-action {
					display: block;
					margin-top: auto;
					max-width: 300px;
					text-align: center;
				}

			}

			@media only screen and (min-width: 782px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

	}

}
