.wrap.llms-dashboard {

	.llms-inside-wrap {
		padding-top: 30px;
	}

	#poststuff {

		h2 {
			padding: 12px 20px;
		}

	}

	.llms-dashboard-activity {

		h2 {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.5;
			margin-top: 0;
			text-align: center;
		}
	}

	.postbox {
		background-color: #FFF;
		border: none;
		box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.13 );

		.postbox-header {
			border-bottom-color: #efefef;

		}

		.inside {
			padding: 20px;
		}
	}

	#llms_dashboard_addons {

		.llms-addons-wrap {
			margin-top: 0;

			.llms-add-on-item {
				margin-top: 0;

				footer.llms-actions {
					padding-top: 0;
				}
			}

		}

	}

	#llms_dashboard_quick_links {

		.llms-quick-links {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 20px;

			a {
				display: inline-block;
			}

			.llms-list {

				h3 {
					margin: 0;
				}

				.llms-button-primary,
				.llms-button-secondary,
				.llms-button-action {
					display: block;
					text-align: center;
				}

			}

			@media only screen and (min-width: 782px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.llms-help-links {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 20px;

			.llms-list {

				h3 {
					margin: 0;

					.dashicons {
						color: #AAA;
					}
				}

				ul {
					list-style: disc;
					margin: 5px 0 0 20px;

					li {
						font-size: 15px;
						line-height: 1.5;
					}
				}

			}

			@media only screen and (min-width: 782px) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}

		}

	}
	#llms_dashboard_blog,
	#llms_dashboard_podcast {

		ul {
			margin: 0;

			li {
				margin: 0 0 15px 0;

				a {
					display: block;
				}
			}
		}

		p {
			margin: 15px 0;
			text-align: center;

			a {
				display: inline-block;
			}
		}
	}

}
.wrap.llms-reporting,
.wrap.lifterlms-settings,
.wrap.llms-status {

	.llms-inside-wrap {
		box-sizing: border-box;
		margin: 0 auto;

		.llms-nav-text {
			margin: 0 auto;
		}
	}

	.llms-subheader {

		.llms-save {
			flex: auto;
			text-align: right;
		}

	}

	.llms-nav-tab-wrapper.llms-nav-secondary {
		background-color: #FFF;
		box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
		margin: 0 -20px 20px -10px;

		.llms-nav-items {
			padding-left: 0;
		}

		.llms-nav-item {
			.llms-nav-link:hover {
				background: #f0f0f1;
				color: #222222;
			}

			&.llms-active .llms-nav-link {
				background: #fafafa;
				color: $color-blue;
				border-top-color: $color-blue;
			}

			&.llms-active .llms-nav-link {
				font-weight: 700;
			}
		}

		.llms-nav-link {
			border-top: 2px solid transparent;
			padding: 14px;
		}

	}

	.llms-setting-group {
		background-color: #FFF;
		box-shadow: 0 1px 3px rgba( 0, 0, 0, .13 );
		margin: 20px auto;
		padding: 20px;

		.llms-label {
			border-bottom: 1px solid #efefef;
			font-weight: 700;
			font-size: 20px;
			padding: 20px;
			margin: -20px -20px 20px;

			.llms-button-primary {
				margin-left: 10px;
			}
		}

		.llms-help-tooltip .dashicons {
			color: #444;
			cursor: help;
		}

		.form-table {
			margin: 0;
			tr:first-child .llms-subtitle {
				margin-top: 0;
			}
		}

		td[colspan="2"] {
			padding-top: 0;
			padding-left: 0;
		}

		tr.llms-disabled-field {
			opacity: 0.5;
			pointer-events: none;
		}

		p {
			font-size: 14px;
		}
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		select,
		textarea:not(.wp-editor-area) {
			width: 50%;
			&.medium { width: 30%; }
			&.small { width: 20%; }
			&.tiny { width: 10%; }
		}
	}

	@media only screen and (min-width: 782px) {
		.llms-nav-tab-wrapper.llms-nav-secondary {
			.llms-nav-item {
				&.llms-active .llms-nav-link {
					background: #fff;
				}
			}
		}
	}

	// Email Delivery providers.
	#llms-mailhawk-connect {
		height: auto;
		margin: 0 0 6px;
		position: relative;

		.dashicons {
			margin: -4px 4px 0 0;
			vertical-align: middle;
		}
	}
	#llms-sendwp-connect {
		height: auto;
		margin: 0 0 6px;
		position: relative;

		.fa {
			margin-right: 4px;
		}
	}

}

@media only screen and (min-width: 782px) {
	.wrap.llms-reporting,
	.wrap.lifterlms-settings {
		.llms-subheader {
			height: 40px;
			position: sticky;
			top: 32px;
		}
		.llms-nav-tab-wrapper.llms-nav-secondary {
			margin: 0 -20px 20px -22px;
			position: sticky;
			top: 92px;
			z-index: 1;

			.llms-nav-items {
				padding-left: 10px;
			}

		}
	}

	.wrap.llms-status {
		.llms-nav-tab-wrapper.llms-nav-secondary {
			margin: 0 -20px 20px -22px;

			.llms-nav-items {
				padding-left: 10px;
			}

		}
	}
}
