#adminmenu {

	.toplevel_page_lifterlms .wp-menu-image img {
		padding-top: 6px;
		width: 20px;
	}

	.toplevel_page_lifterlms,
	.opensub .wp-submenu li.current,
	.wp-submenu li.current,
	.wp-submenu li.current,
	.wp-submenu li.current,
	a.wp-has-current-submenu:focus+.wp-submenu li.current {
		a[href*="page=llms-add-ons"] {
			color: $color-brand-orange;
		}
	}

}


