# This workflow integrates a collection of open source static analysis tools
# with GitHub code scanning. For documentation, or to provide feedback, visit
# https://github.com/github/ossar-action
name: OSSAR

on:
  pull_request:

jobs:
  OSSAR-Scan:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Run OSSAR
      uses: github/ossar-action@v1
      id: ossar
      
    - name: Upload results to Security tab
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: ${{ steps.ossar.outputs.sarifFile }}
