name: "Sync branches: master to dev"
on:
  push:
    branches: [ master ]

jobs:
  sync-branches:
    runs-on: ubuntu-latest
    name: Syncing branches
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Opening pull request
        id: pull
        uses: tretuna/sync-branches@1.1.0
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          FROM_BRANCH: "master"
          TO_BRANCH: "dev"
          PULL_REQUEST_TITLE: "Sync: {FROM_BRANCH} to {TO_BRANCH}"
          sync: {FROM_BRANCH} to {TO_BRANCH}:  
          PULL_REQUEST_BODY: "This is an automatically created pull request designed to keep {TO_BRANCH} in sync with {FROM_BRANCH}"
