name: Test JS Unit

on:
  workflow_dispatch:
  pull_request:
    paths:
        - src/js/**
  # Once daily at 00:00 UTC.
  # schedule:
    # - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ 'pull_request' == github.event_name && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    name: "Run JS Unit Tests"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install Node dependencies
        run: npm ci

      - name: Run test suite
        run: npm run test:unit
